/*-- Mobile & Web Design Issues https://travooo.atlassian.net/browse/AEA-2029 --*/
@include less-sm() {
    .following-modal-header li a {
        font-size: Max(12px, Min(#{getrem(16px)}, #{getvw(16px)}));
        padding: 0.7em;
    }
    .profile-folloowers-modal .modal-header {
        height: auto;
    }
    .following-modal-header {
        flex-wrap: wrap;
    }
    button.btn.btn-mobile-side.left-outside-btn {
        display: none;
    }
    .profile-main-content-layer .top-banner-block {
        margin-top: 105px;
        margin-bottom: 20px;
    }
}