@include less-sm {
    button.btn.btn-mobile-side.left-outside-btn {
        display: inline-block;
    }

    .left-outside-menu-wrap .leftOutsideMenuClose {
        top: 0;
        right: 0;
        padding: 0.5em;
        transform: translateX(100%);
    }

    #follow_user_button.banner-comment-mobile {
        display: flex;
        padding-top: 0;
        grid-gap: #{Min(getvw(13px), getrem(13px))};

        .f-user-link {
            right: auto !important;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            padding-left: #{Min(getvw(40px), getrem(40px))} !important;
            padding-right: #{Min(getvw(40px), getrem(40px))} !important;
        }

        .f-list-button {
            position: relative;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 1px solid #2a62d2;
            background-color: #ffffff;
            border-color: #ffffff;

            i {
                color: #808080;
            }
        }

        .dropdown-menu.dropdown-menu-right.dropdown-arrow:after {
            right: 20px
        }
    }

    .mobile-post-profile-info {
        align-items: center;
    }

    .main-content-layer .post-block .post-side-top .side-right-control {
        display: flex;
    }
    .profile-main-content-layer .top-banner-block {
        height: #{Min(getvw(558px), getrem(558px))};

        img.avatar {
            height: 75px;
        }
    }
}