/* Header */
@include less-sm {
    // $itemsGap: 20px;

    // header.main-header {
    //     padding-top: #{Min(getvw(6px), getrem(6px))};
    //     padding-bottom: #{Min(getvw(6px), getrem(6px))};
    // }

    // header.main-header nav.navbar ul.navbar-nav li.nav-item {
    //     align-self: center;
    //     padding-left: #{Min(getvw($itemsGap), getrem($itemsGap))};
    //     padding-right: #{Min(getvw($itemsGap), getrem($itemsGap))};

    //     &:nth-last-child(-n+2) {
    //         padding-left: #{Min(getvw($itemsGap), getrem($itemsGap))};
    //         padding-right: #{Min(getvw($itemsGap), getrem($itemsGap))};
    //     }

    //     &:last-child {
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    // }

    // .main-wrapper .navbar-collapse {
    //     align-items: center;
    // }

    // header.main-header nav.navbar ul.navbar-nav li.nav-item a.profile-link img {
    //     width: 100% !important;
    //     height: 100%;
    // }

    // header.main-header nav.navbar .navbar-nav li.nav-item a.nav-link:not(.plan-trip-icon) {
    //     display: inline-flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: #{Min(getvw(37px), getrem(37px))};
    //     height: #{Min(getvw(37px), getrem(37px))};
    //     padding: 0;
    // }

    // header.main-header nav.navbar .navbar-nav li.nav-item a.nav-link i[class^=trav],
    // header.main-header .search-block a.search-btn i[class^=trav] {
    //     font-size: #{Min(getvw(35px), getrem(30px))};
    // }

    // nav.navbar {
    //     align-items: center;
    //     grid-gap: #{Min(getvw($itemsGap), getrem($itemsGap))};

    //     .navbar-nav {
    //         align-items: center;
    //     }

    //     .nav-link {
    //         .counter {
    //             transform: translate(50%, -50%)
    //         }
    //     }

    //     .navbar-brand,
    //     .profile-link,
    //     .nav-link.plan-trip-icon,
    //     header.main-header & .search-block a.search-btn {
    //         display: inline-flex;
    //         align-items: center;
    //         justify-content: center;
    //         width: #{Min(getvw(58px), getrem(58px))};
    //         height: #{Min(getvw(58px), getrem(58px))};
    //     }

    //     .navbar-brand {
    //         margin-right: 0;

    //         img {
    //             width: 100%;
    //         }
    //     }
    // }
    .mobile-back-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: #333333;
        font-size: #{Min(getvw(30px), getrem(30px))};
        border: none;
        background: transparent;
    }
}