/*=== DESKTOP Profile photo cropping style ===*/
@include more-sm {

    #cropProfileImagePop .modal-profile-title,
    #cropCoverImagePop .modal-profile-title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    #cropProfileImagePop .post-block.post-asking-block,
    #cropCoverImagePop .post-block.post-asking-block {
        padding-top: 18px;
        padding-bottom: 15px;
    }

    #cropProfileImagePop .modal-profile-close,
    #cropCoverImagePop .modal-profile-close {
        top: 22px;
        width: 16px;
        height: 16px;
    }

    #cropProfileImagePop .profile-photo-m-footer,
    #cropCoverImagePop .profile-cover-m-footer {
        padding-top: 15px;
    }

    #cropProfileImagePop .profile-photo-m-footer .button,
    #cropCoverImagePop .profile-cover-m-footer .button {
        min-height: 47px !important;
        font-size: 18px !important;
        padding: 0.45em 1em;
    }

    #cropProfileImagePop .delete-profile-photo-link,
    #cropCoverImagePop .delete-profile-cover-link {
        font-family: 'CircularAirPro Light';
        padding-left: 15px;
        font-size: 16px;
        font-weight: 300;
        color: #fc225a;
    }

    .modal-profile .cr-slider-wrap {
        display: none;
    }
}

/*=== MOBILE Profile photo cropping style ===*/
.modal-profile {
    &-close {
        position: absolute;
        top: #{Min(getvw(28px), getrem(28px))};
        right: #{Min(getvw(21px), getrem(21px))};
        display: inline-flex;
        width: #{Min(getvw(22px), getrem(22px))};
        height: #{Min(getvw(22px), getrem(22px))};
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23'%3E%3Cpath fill='%23B3B3B3' fill-rule='evenodd' d='M21.81 20.189l-2.122 2.121-8.689-8.689L2.31 22.31.189 20.189 8.878 11.5.189 2.81 2.31.689l8.689 8.689L19.688.689 21.81 2.81l-8.689 8.69 8.689 8.689z'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 99;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-header {
        padding: #{Min(getvw(40px), getrem(40px))} #{Min(getvw(25px), getrem(25px))} #{Min(getvw(25px), getrem(25px))};

        .modal-profile-title {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-title {
        font-family: "Circular Std Med";
        font-size: #{Min(getvw(26px), getrem(26px))};
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        color: #1a1a1a;
        margin-bottom: #{Min(getvw(24px), getrem(24px))};
    }

    .modal-dialog {
        max-width: #{Min(getvw(715px), getrem(715px))};
    }

    &.fade {
        .modal-dialog {
            top: 0;
            transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out,
                top .3s ease-out;
        }
    }

    &.show {
        .modal-dialog {
            top: 50%;
            transform: translate(0%, -50%);
        }
    }

    p {
        font-family: 'CircularAirPro Light';
        font-size: #{Min(getvw(27px), getrem(27px))};
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ask-foot-btn,
    &-footer {
        --gridGap: #{Min(getvw(20px), getrem(20px))};
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        grid-gap: var(--gridGap);

        .text-right {
            display: flex;
            flex-wrap: wrap;
            grid-gap: var(--gridGap);
        }

        .text-center & {
            justify-content: center;
        }
    }

    &-footer {
        padding: #{Min(getvw(25px), getrem(25px))} #{Min(getvw(25px), getrem(25px))} #{Min(getvw(40px), getrem(40px))} #{Min(getvw(25px), getrem(25px))};
    }

    .post-block {
        padding-top: #{Min(getvw(25px), getrem(25px))};
        padding-bottom: #{Min(getvw(25px), getrem(25px))};
        padding-left: #{Min(getvw(10px), getrem(10px))};
        padding-right: #{Min(getvw(10px), getrem(10px))};
        border-radius: #{Min(getvw(10px), getrem(10px))};
    }

    .profile-upload-content {
        border-radius: #{Min(getvw(5px), getrem(5px))};
        overflow: hidden;
    }

    .cr-slider {
        -webkit-appearance: none;
        /* Hides the slider so that custom slider can be made */
        width: 100%;
        /* Specific width is required for Firefox. */
        background: transparent;
        /* Otherwise white in Chrome */
        // width: #{Min(getvw(519px), getrem(519px))};
        min-height: 36px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &:focus {
            outline: none;
            /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        }

        &::-ms-track {
            width: 100%;
            cursor: pointer;

            /* Hides the slider so custom styles can be added */
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
    }

    .cr-slider::-webkit-slider-thumb {
        width: 35px;
        height: 35px;
        border: solid 6px var(--colorPrimary);
        background-color: #ffffff;
        margin-top: -15px;
        cursor: pointer;
    }

    .cr-slider::-moz-range-thumb {
        width: #{Min(getvw(29px), getrem(29px))};
        height: #{Min(getvw(29px), getrem(29px))};
        border: solid 6px var(--colorPrimary);
        background-color: #ffffff;
        cursor: pointer;
    }

    .cr-slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        background: #e6e6e6;
        cursor: pointer;
    }

    .cr-slider::-moz-range-track {
        width: 100%;
        height: #{Min(getvw(6px), getrem(6px))};
        background: #e6e6e6;
        cursor: pointer;
    }

    .croppie-container {
        height: auto !important;
        padding-bottom: 1px !important;

        &[data-crop-type="square"] {
            .cr-viewport {
                width: #{Min(getvw(463px), 463px)} !important;
                height: #{Min(getvw(207px), 304px)} !important;
                border-radius: 5px;
            }
        }

        .cr-slider-wrap {
            margin-top: #{Min(getvw(25px), getrem(25px))};
            margin-bottom: #{Min(getvw(25px), getrem(25px))};
        }

        .cr-boundary {
            height: auto !important;
            padding-bottom: percentage(390 / 695);
        }

        .cr-viewport {
            width: #{Min(getvw(207px), 207px)} !important;
            height: #{Min(getvw(207px), 207px)} !important;
        }
    }

    .cr-slider-wrap {
        display: none;
        width: 75%;
        margin: 25px auto;

        .ui-slider-handle,
        .ui-slider-handle:hover {
            top: 0;
            margin-left: 0;
            width: 35px;
            height: 35px;
            border: solid 6px var(--colorPrimary) !important;
            background-color: #ffffff !important;
            border-radius: 100% !important;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .ui-widget.ui-widget-content {
            width: 100%;
            height: 6px;
            background: #e6e6e6;
            cursor: pointer;
            border: none;
            box-shadow: none;
        }
    }

    // .cropper-container {
    //     .cropper-crop-box {
    //         width: #{Min(getvw(207px), 207px)} !important;
    //         height: #{Min(getvw(207px), 207px)} !important;
    //     }
    // }        
}