/*-- Web Bugs fix styles Sprint 1 --*/
@include more-sm() {
    .container-fluid .custom-row {
        .profile-main-content-layer {
            flex: 1;
        }

        .profile-posts {
            padding-top: 0;
            max-width: 62.5%;
            flex: 0 0 62.5%;
        }

        .sidebar-layer {
            padding-top: 0;
            max-width: 37.5%;
            flex: 0 0 37.5%;
            position: relative;
            width: auto;
            padding-left: 0;
            right: auto;
            transition: all .3s ease-in;
            bottom: auto;
        }
    }
    .post-block.post-side-profile .post-profile-info {
        padding-left: 30px;
        padding-right: 30px;

        ul.profile-info-list {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: Max(6px, Min(#{getrem(12px)}, #{getvw(12px)}));

            li {
                min-width: auto;
                padding-left: 0;
                overflow: hidden;
            }
        }

        .info-label,
        .info-count {
            @include truncate(100%);
        }
    }
}