/*=== PROFILE_PAGE_STYLING ===*/
$base: 16px; 
:root {
    --colorDanger: #fc225a;
    --colorPrimary: #4080ff;
}
@import "../../utilities/mixins";
@import "header";
@import "../../components/button";
@import "modal_profile";
@import "content";