/*-- Chat message --*/
[data-AEA-384] {
    .message-wrap .message-block .message-chat,
    .chat-group-wrap .chat-group .text-block {
        max-width: 100%;
    }
    .chat-group-wrap .chat-group .text-block {
        word-break: normal;

        .post-block,
        .post-block .post-top-info-layer,
        .post-block:not(.post-block-bordered) .topic-inside-panel-wrap,
        .post-tips-top-layer.post-tips-wrapper,
        .post-block .topic-inside-panel-wrap .topic-inside-panel {
            padding: Max(7px, Min(15px, #{getvw(15px)}));
        }

        .post-block {
            //@extend %fadeOutPostBlock;
            text-align: left;

            br {
                display: none;
            }

            .post-footer-info {
                font-size: 12px;

                .post-foot-block {
                    height: auto;
                    font-size: 1em;
                    margin-left: 0 !important;
                    margin-right: 0.5em !important;
                    margin-bottom: 0.5em;

                    span,
                    a,
                    strong,
                    b,
                    i[class^="trav"] {
                        font-size: inherit;
                    }
                }
            }
        }
    }
    @include less-sm() {
        .message-wrap .message-block .message-chat .m-content-block .chat-group-wrap #chatContents {
            height: calc(100vh - 200px) !important;
            max-width: 100% !important;
        }
        .message-wrap .message-block .m-content-block .add-input-action {
            flex-wrap: nowrap;
        }
        .message-wrap .message-block .m-content-block .add-input-action .btn {
            font-size: Max(12px, Min(20px, #{getvmin(20px)})) !important;
            background-color: var(--colorPrimary);
            padding: .8em 1.2em;
        }
        .message-wrap .message-block .m-content-block .add-input-action .mobile-icon-wrap {
            padding: 0 Min(11px, #{getvw(10px)});
        }
        .message-wrap .message-block .m-content-block .add-input-action a.attachment {
            flex: 1 1 0;
            max-width: 100%;
        }
        .message-wrap .message-block .m-content-block .add-input-action a.attachment span {
            display: inline-block;
            line-height: normal;
            max-width: calc(100% - 23px);
        }
        .message-wrap .message-block .message-chat .m-top-block {
            justify-content: start;
            gap: Min(50px, #{getvw(50px)});

            #back-to-messages {
                flex: 0 0 auto;
            }

            h4.block-ttl {
                @include line-clamp(2);
            }
        }
    }
}