/*-- Web Bugs fix styles Sprint 5 --*/
@include more-sm() {
    %fadeOutPostBlock2 {
        max-width: 100%;
        max-height: 8.4em;
        overflow: hidden;
        position: relative;
        padding: 0.5em 0;

        &:after {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 1) 90%);
        }
    }
    .message-wrap .conv-txt .msg-txt {
        @extend %fadeOutPostBlock2;
    }
    .message-wrap .conv-block.current .conv-txt .msg-txt:after,
    .message-wrap .conv-block:hover .conv-txt .msg-txt:after{
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(247, 247, 247, 1) 90%);
    }
}