/*-- reports list --*/
.foot-block-grid {
    display: grid;
    grid-gap: Max(10px, Min(14px, #{getvw(14px)}));
}

@include less-sm() {
    .travlog-list {
        .travlog-info-block .info-wrapper .foot-block {
            padding-top: 0;
        }
    }

    .foot-block-grid {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        align-items: center;

        .author-name,
        .time {
            @include line-clamp(1);
        }
    }
    .post-tab-block {
        $fontSize: 24px;
        $minFontSize: 12px;

        .post-tab-inner {
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: hidden;
        }

        .tab-list {
            height: 100%;
            margin-bottom: 0;
        }

        .tab-container {
            //max-width: 70%;
        }

        .custom-row.report-custom-row > .main-content-layer > & {
            & > .post-tab-inner > div:first-child.rep-count-block {
                font-size: #{Min(Max($minFontSize, getvmin($fontSize)), $fontSize)} !important;
                padding: 0.25em (20px / $fontSize * 1em) !important;
            }
        }

        .rep-count-block {
            width: Min(25vw, 150px);
            flex: 1 1 Min(25vw, 150px);
            display: flex;
            align-items: center;
            min-height: #{Min(Max(48px, getvmin(67px)), 67px)};

            .rep-count-wrap {
                align-items: center;
                width: 100%;
                overflow: hidden;
            }

            .title {
                @include truncate(100%);
                //max-width: calc(70% - #{getvw(10px)});
                font-size: #{Min(Max($minFontSize, getvmin($fontSize)), $fontSize)};
                font-family: "Circular Std Book";
                font-weight: normal;
                color: #333333;
                line-height: normal;
            }

            .rep-counts {
                width: 5ch;
                font-size: #{Min(Max($minFontSize, getvmin($fontSize)), $fontSize)};
                //max-width: calc(#{getvw(10px)} + 30%);
                padding-left: getvmin(10px);
            }
        }
    }
}