/*-- modals --*/
.location-select2 {
    max-width: 100%;
}

.post-block.post-travlog .travlog-main-block .main-content .travlog-card {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: Max(10px, Min(20px, #{getvw(20px)}));

    .img-wrap {
        width: 100%;

        img {
            display: block;
        }
    }

    .text-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        overflow: hidden;

        .visited,
        .rate-info {
            flex: none;
            width: auto;
            max-width: 100%;
        }
    }

    .title-card {
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        margin-bottom: 0;

        &.flex-row {
            align-items: center;
        }

        .report-place-location,
        p {
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .report-place-location {
            @include truncate(100%);
            flex: 1;
        }

        .place-link,
        p {
            @include line-clamp(2);
        }

        .place-link {
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    .rate-block {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        grid-gap: Max(10px, Min(20px, #{getvw(20px)}));
        grid-column: 1/3;
    }

    .visited,
    .rate-info {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
    }

    .report-rate-inner {
        @include truncate(100%);
        display: flex;
        align-items: center;
        padding-bottom: 0;
        padding-right: 0;

        p {
            @include truncate(100%);
        }
    }

    .visited {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: Max(12px, Min(16px, #{getvw(16px)}));
    }

    .rate-info {
        .label {
            background: #4080ff;
            border-radius: 3px;
            color: white;
            font-size: Max(10px, Min(16px, #{getvw(16px)}));
            font-family: 'Circular Std Book';
            padding: 4px 5px;
            margin-right: 8px;
        }

        p {
            margin-right: 5px;
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            color: #1a1a1a;
        }
    }
}

.post-info-group {
    padding: 0 15px;

    & > * {
        border-bottom: 1px solid #e6e6e6;
    }

    .search-block {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        input {
            font-size: Max(14px, Min(26px, #{getvmin(26px)}));
            padding-left: 10px;
        }
    }

    .search-btn {
        color: #b3b3b3;
        font-size: Max(22px, Min(36px, #{getvmin(36px)}));
    }
}

.t-info-count {
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    color: #999999;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    margin-left: 0.5em;
}

@include less-sm() {
    .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-info, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-info {
        text-align: center !important;
    }

    .modal-custom-style .post-create-travlog .video-block,
    .modal-custom-style .post-create-travlog .add_local_video_cont [id*=add_video_src] {
        --width: 620;
        --height: 350;
        /* Get aspect ratio */
        --aspect-ratio: calc(var(--height) / var(--width));
        position: relative;
        height: 0;
        padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);

        iframe,
        video,
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .content video {
        height: 100%!important;
    }

    .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card .card-part.img-wrap {
        height: auto;
    }

    .travlog-image-card {
        .info-txt {
            overflow: hidden;

            .name {
                a {
                    @include truncate(100%);
                    display: block;
                    margin-bottom: 0 !important;
                }
            }

            .country {
                @include truncate(100%);
            }
        }
    }

    .post-block .trip-plan-inner .trip-plan-inside-block .trip-plan-map-img img {
        width: 100% !important;
        display: flex;
        height: auto;
        line-height: 2;
        position: relative;
        text-align: center;
        text-transform: capitalize;

        &::after {
            content: '';
            font-size: 1em;
            color: rgb(100, 100, 100);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 107%;
        }
    }

    #notificationPopup .modal-dialog {
        margin: 30px;
    }

    .modal-custom-style .post-block.post-travlog.post-create-travlog .travlog-details-block .detail-row .title-block .title {
        margin-right: 10px;
    }

    .modal-custom-style .post-block.post-travlog.post-create-travlog #ql-picker-options-4 .ql-stroke {
        color: #444;
        stroke: #444;
    }

    .report-search-user-block {
        $fontSize: 20px;
        font-size: Max(14px, Min(#{$fontSize}, #{getvw($fontSize)}));

        .report-search-user-avatar img {
            width: 45px / $fontSize * 1em;
            height: 45px / $fontSize * 1em;
        }

        .mention-item-title,
        .mention-item-nationality {
            font-size: 20px / $fontSize * 1em;
        }
    }
    .post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .title-card span.tag,
    .post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .title-card {
        margin-right: 0;
        margin-bottom: 0;
    }
}