/*-- Travlog post --*/
@include less-sm() {
    .map-country-info {
        grid-gap: Max(7px, Min(18px, #{getvw(18px)}));

        .country-info {
            display: flex;
            width: 100%;
            max-width: 100%;
            flex: 1 1 0%;
            overflow: hidden;

            & > * {
                flex: 1 1 50%;
                overflow: hidden;
            }

            .country-name-block {
                min-width: auto;
                padding-right: 0;

                & > div {
                    overflow: hidden;
                }
            }

            .map-country-title,
            .map-country-desc,
            .pop-count,
            .pop-title {
                @include truncate(100%);
            }

            .pop-info {
                overflow: hidden;
            }

            .country-population .user-icon {
                margin: 0 Min(#{getvw(8px)}, 8px);
            }

            .map-country-title {
                padding: 0 Min(#{getvw(8px)}, 8px);
            }
        }
    }

    .post-block.post-travlog .travlog-map-wrap .post-bottom-block {
        grid-gap: Max(7px, Min(18px, #{getvw(18px)}));
    }

    .post-block.post-travlog .travlog-main-block .main-content .image-block {
        margin-left: Max(5px, Min(10px, #{getvw(10px)}));
        margin-right: Max(5px, Min(10px, #{getvw(10px)}));
    }

    .img-desc-link {
        @include truncate(100%);
        font-size: Max(12px, Min(20px, #{getvw(20px)}));
        font-weight: normal;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #999999;
    }

    .top-banner-block .travel-title {
        @include line-clamp(2);
    }

    .report-text-content p {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .post-block.post-travlog .post-footer-info .post-foot-block i[class^="trav-heart-icon"] {
        color: rgb(255, 90, 121) !important;
    }

    .report-text-content {
        white-space: normal;

        p {
            margin-top: 20px;
        }
    }

    .non-loggedIn {
        .post-block.post-travlog {
            margin-top: 15px !important;
        }
    }

    .post-block.post-travlog .travlog-main-block .main-content .travlog-card .img-wrap img {
        min-height: 110px !important;
    }

    .post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block {
        display: grid;
    }

    .post-block .post-comment-layer-wrap {
        background: #ffffff;
    }

    .post-reply-block {
        display: grid;
        grid-gap: .5rem;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 10px 15px;

        .post-create-input {
            padding: 0;

            .note-editor.note-frame .note-editing-area .note-editable,
            .note-editor.note-frame .note-placeholder {
                background-color: transparent;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .note-toolbar {
                bottom: -30px;
                left: -5px;

                .emojionearea-button {
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }

                .note-insert button {
                    background: transparent;
                }
            }
        }

        .post-create-controls {
            padding: 0 0 0 25px;

            .post-alloptions {
                .create-link-list {
                    margin-bottom: 0;
                }
            }

            .comment-edit-action {
                padding: 0;
            }

            i.fa-camera {
                font-size: 16px;
            }
        }

        .report-media {
            background: transparent;

            &:empty {
                display: none;
            }
        }
    }

    .post-add-comment-block {
        align-items: start !important;
    }

    .post-block .post-comment-layer-wrap .post-comment-layer .post-add-comment-block[class*="replyForm"]:first-child {
        border-bottom: none;
    }
}