/*-- sidebar --*/
.post-block-group {
  $fontSize: 20px;
  $fontSizeMin: 12px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: #{Min(getvmin(27px), 27px)} #{Min(getvmin(17px), 17px)};
  padding: 15px 0;

  .post-block {
    min-height: 48px;
    padding: Min(#{getvmin(15px)}, 15px);
    overflow: hidden;
    margin: 0!important;
  }

  .button {
    width: Min(#{getvw(250px)}, 250px);
    height: 100%;
    font-family: "Circular Std Book";
    font-size: #{Min(Max($fontSizeMin, getvmin($fontSize)), getrem($fontSize))};
    min-height: #{Min(getvmin(67px), getvmin(67px))};
    border-radius: 3px;

    span {
      display: inline-block;
      max-width: 100%;
      line-height: normal;
    }
  }

  .side-trip-tab {
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-gap: Min(#{getvmin(15px)}, 15px);
    padding: 0;

    & > * {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      grid-gap: Min(#{getvmin(15px)}, 15px);
      color: #b2b2b2;
      font-size: #{Min(Max($fontSizeMin, getvmin($fontSize)), getrem($fontSize))};
      background-color: #f2f2f2;
      min-height: #{Min(getvmin(67px), getrem(67px))};
      padding: 0.25em (15px / $fontSize * 1em);
      border-radius: 3px;
      cursor: pointer;
      overflow: hidden;
    }

    #trav-log-icon {
      font-size: 24px / $fontSize * 1em;
    }

    .trip-tab-ttl {
      overflow: hidden;

      &>* {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        line-height: normal;
      }
    }

    .current-tab {
      color: var(--colorPrimary);
      background-color: #ebf2ff;
      outline: solid 1px var(--colorPrimary);
      outline-offset: 0px;
    }
  }

  .post-trav-header-block {
    width: 100%;
  }

  .search-travelog-input {
    $fontSize: 24px;
    $fontSizeMin: 14px;
    font-size: #{Min(Max($fontSizeMin, getvmin($fontSize)), getrem($fontSize))};
  }
}
