@import "../../utilities/mixins";
/*-- TRAVLOGS - DESIGN UPDATES #2 --*/
.post-comment-wrapper .post-comment-row .post-comment-text .comment-txt p {
    &.ql-align-left {
        text-align: left;
        direction: ltr;
    }

    html[lang="ar"] & {
        &.ql-align-left,
        &.ql-align-right {
            text-align: right;
            direction: rtl;
        }
    }
}

.report-filter-input {
    @include input-placeholder() {
        color: #999999;
    }
}

.filter-country-block, .filter-city-block {
    li,
    li .close-filter-item {
        display: flex;
        align-items: center;
    }
}

.loader {
    background: rgba(255, 255, 255, 0.9);

    .progress {
        flex-direction: column;
        align-items: center;
        grid-gap: Min(20px, #{getvw(20px)});
        transform: translate(0, -50%);
        background-color: transparent;

        &-bar {
            height: Max(7px, Min(14px, #{getvw(14px)}));
        }

        &-text {
            font-size: Max(14px, Min(22px, #{getvw(22px)}));
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4d4d4d;
        }

        &-value {
            font-family: "Circular Std Med";
            font-weight: 500;
            color: #333333;
        }
    }
}

.btn[class*="follow"] {
    min-width: 14ch;
}

@include more-sm() {
    .select2-container--default .location-select2:before {
        display: none;
    }

    .select2-container .select2-selection--multiple .select2-selection__rendered {
        display: flex;
        flex-wrap: wrap;
    }

    .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .content .input-block .select2-search--inline {
        flex: 1 1 auto;
        width: auto;
    }

    .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .travlog-image-card .card-part.info-card .info-top .btn {
        font-family: "Circular Std Book";
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #000000;
        border-radius: 3px;
        border: solid 1px #e6e6e6;
        background-color: #f0f0f0;

        &.btn-blue-follow {
            color: #ffffff;
        }
    }

    .post-map-inner {
        min-height: 360px;
    }

    .travlog-info-block .info-wrapper .country-name a {
        margin-right: -4px;
    }

    .post-block.post-travlog .travlog-map-wrap .post-bottom-block .bottom-txt-wrap {
        overflow: hidden;

        .bottom-ttl {
            @include truncate(100%);
        }
    }

    .dropdown-menu ul.share-link-list li a {
        cursor: pointer;
    }

    .side-trip-tab .trip-tab-block .fa {
        font-family: "FontAwesome";
    }

    .selected-locetion-block {
        overflow-y: auto;
        max-height: 280px;
    }

    .modal-custom-style .post-create-travlog .add_text_cont .ql-container,
    .modal-custom-style .post-create-travlog .add_text_cont .ql-toolbar {
        background-color: #ffffff;
    }

    .ql-editor ol > li, .ql-editor ul > li {
        line-height: normal;
        margin-bottom: 0.5em;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        display: inline-flex;
        align-items: center;
        grid-gap: 10px;
        color: #999 !important;
        font-family: 'Circular Std Book';
        border: none !important;

        &__remove {
            margin-right: 0 !important;
            order: 1;
        }
    }
}