/*-- Standalone page of the discussion. --*/
@import "../../../utilities/mixins";
@import "../../../states";
@import "../../post/common";
@import "../../post/textPage";

.discussion-page {
    .post-comment-layer {
        .add-sub-comment,
        .sub-replies {
            display: none;
        }
    }

    .post-tips-top-layer .post-tips-main-block .post-tips-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post-add-comment-block {
        align-items: flex-start !important;
    }

    .post-comment-create-block textarea {
        display: none;
    }
}