.loader {
    position: relative;
    border: 6px solid #c4c4c4; /* Dark grey */
    border-top: 6px solid #4080ff; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}