#overlay-for-image{
    z-index: 9999999999;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;

    visibility: hidden;
    opacity: 0;
}
#overlay-for-image.open {
    visibility: visible;
    opacity: 1;
}

#overlay-for-image:after { /* X button icon */
    content: "\2715";
    position: absolute;
    color:#fff;
    top: 10px;
    right:20px;
    font-size: 2em;
}
.appended-img{
    cursor: pointer;
}
