/*-- Web Bugs fix styles Sprint 5 --*/
%fadeOutPostBlock2 {
    max-width: 100%;
    max-height: 8.4em;
    overflow: hidden;
    position: relative;
    padding: 0.5em 0;

    &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 90%);
    }
}

.conversation-inner {
    .avatar {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
    }

    .avatar:not(:first-child) {
        margin-left: -35px;
        -webkit-mask:radial-gradient(circle 25px at 5px 50%,transparent 99%,#fff 100%);
        mask:radial-gradient(circle 55px at 5px 50%,transparent 99%,#fff 100%);
    }

    .avatar img {
        width: 100%;
        display: block;
    }

    .conv-txt .msg-txt {
        @extend %fadeOutPostBlock2;
    }

    .conv-block.current .conv-txt .msg-txt:after,
    .conv-block:hover .conv-txt .msg-txt:after {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(247, 247, 247, 1) 90%);
    }

    .text-block {
        word-break: normal;
    }

    .post-block,
    .post-block .post-top-info-layer,
    .post-block:not(.post-block-bordered) .topic-inside-panel-wrap,
    .post-tips-top-layer.post-tips-wrapper,
    .post-block .topic-inside-panel-wrap .topic-inside-panel {
        padding: Max(7px, Min(15px, #{getvw(15px)}));
    }

    .post-block {
        //@extend %fadeOutPostBlock;
        text-align: left;

        br {
            display: none;
        }

        .post-footer-info {
            font-size: 12px;

            .post-foot-block {
                height: auto;
                font-size: 1em;
                margin-left: 0 !important;
                margin-right: 0.5em !important;
                margin-bottom: 0.5em;

                span,
                a,
                strong,
                b,
                i[class^="trav"] {
                    font-size: inherit;
                }
            }
        }
    }
}
