$md-container-max-media: 1024px;
$sm-container-max-media: 767px;
$w-max: 750px;

@mixin less-md($max: $md-container-max-media) {
    @media (max-width: $max) {
        @content;
    }
}

@mixin more-sm($max: $sm-container-max-media) {
    @media (min-width: $max + 1px) {
        @content;
    }
}

@mixin less-sm($max: $sm-container-max-media) {
    @media (max-width: $max) {
        @content;
    }
}

// placeholders
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

// усечение элемента применять к текстовым тегам типа "span" "p" и т.д.
// пример: @include truncate(110px);
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Aspect Ratio Mixin
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin get-aspect-ratio() {
    --aspect-ratio: calc(var(--height) / var(--width));
    position: relative;
    height: 0;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

// /* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}

// пример:
// .block-with-text {
//     @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
// }

// Font Size with rem
@mixin fontsize($size: 24, $base: 16) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@function rem($size, $base: 16px) {
    $remSize: $size / $base;
    @return #{$remSize}rem;
}

// functions
@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @warn '#{ $number } is in wrong format';
    @return $number;
}

@function getrem($size, $base: $base) {
    $remSize: $size / $base;
    @return #{$remSize}rem;
}

@function getvw($xs-size, $w-max: $w-max) {
    $xs-size: strip-unit($xs-size);
    $w-max: strip-unit($w-max);
    @return $xs-size * 100vw / $w-max;
}

@function getvmin($xs-size, $w-max: $w-max) {
    $xs-size: strip-unit($xs-size);
    $w-max: strip-unit($w-max);
    @return $xs-size * 100vmin / $w-max;
}

// line clamp
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//button
@mixin btn($padding: .375rem .75rem) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    white-space: nowrap;
    user-select: none;
    padding: $padding;
}

@mixin o-fit-absolute() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

// example
// .btn {
//     display: inline-block;
//     vertical-align: middle;
//     width: auto;
//     padding: $base-spacing;
//     margin: 0 0 $base-spacing;
//     background-color: $base-accent-color;
//     color: $base-background-color;
//     font-weight: bold;
//     white-space: nowrap;
//     transition: all $base-transition-duration $base-transition-timing;
//     cursor: pointer;
//     border-radius: $base-border-radius;
//     box-shadow: $base-box-shadow;

//     &:hover,
//     &:focus {
//         background-color: darken($base-accent-color, 10%);
//         color: $base-background-color;
//         box-shadow: $hover-box-shadow;
//     }
// }
// .btn {
//     display: inline-block;
//     font-weight: 300;
//     color: #222;
//     text-align: center;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.5rem;
//     font-size: 0.9375rem;
//     line-height: 1.5;
//     border-radius: 0;
//     -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
// }

// button, [type="button"], [type="reset"], [type="submit"] {
//     -webkit-appearance: button;
// }

@mixin button($fontSize) {
    --fontSize: 22px;
    display: inline-flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    min-width: 11ch;
    min-height: #{Min(getvw(67px), getrem(67px))};
    padding: 0.25em (20px / $fontSize * 1em);
    transition: 180ms ease-in-out;
    transition-property: background, border;
    border-radius: 10px / $fontSize * 1em;
    background-color: #f3f3f3;
    color: #1a1a1a;
    font-family: 'Circular Std Med';
    font-size: #{Min(getvw($fontSize), getrem($fontSize))};
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentColor;
    }

    &:focus {
        outline-color: transparent;
        outline-style: solid;
    }

    &-danger {
        color: var(--colorDanger);

        &-full {
            color: #ffffff;
            background-color: var(--colorDanger);
        }
    }

    &-primary {
        color: #ffffff;
        background-color: var(--colorPrimary);
    }

    &-icon {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.25em;

        // stylelint-disable-next-line  selector-max-type
        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
}

@mixin tab($fontSize: 24px) {
    --fontSize: #{$fontSize};
    --minFontSize: 12px;
    --fontFamily: 'CircularAirPro Light';
    --fontFamilyActive: "Circular Std Book";
    --color: #999999;
    --colorActive: #333333;

    display: flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    max-width: 100%;
    min-width: 5ch;
    color: var(--color);
    font-family: var(--fontFamily);
    font-size: Max(var(--minFontSize), Min($fontSize, #{getvmin($fontSize)}));
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    padding: 0.25em (20px / $fontSize * 1em);
    transition: 180ms ease-in-out;
    transition-property: background, border, font-weight;
    cursor: pointer;
    min-height: #{Min(Max(48px, getvmin(67px)), 67px)};
    border-bottom: 2px solid transparent;

    &.active,
    &.current,
    &:hover {
        font-family: var(--fontFamilyActive);
        font-weight: normal;
        color: var(--colorActive);
        text-decoration: none;
        outline-color: transparent;
        outline-style: solid;
        border-bottom: 2px solid var(--colorPrimary);
    }
}

@mixin tag($fontSize: 21px) {
    --fontSize: #{$fontSize};
    --minFontSize: 12px;
    --fontFamily: 'CircularAirPro Light';
    --fontFamilyActive: "Circular Std Med";
    --color: #4d4d4d;
    --colorActive: #4080ff;
    --colorBg: #f5f5f5;

    display: inline-flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    min-width: 5ch;
    min-height: Max((57px / $fontSize * 1em), Min(57px, #{getvw(57px)}));
    padding: 0.25em (14px / $fontSize * 1em);
    border-radius: 28px / $fontSize * 1em;
    background-color: var(--colorBg);
    font-family: var(--fontFamily);
    font-size: Max(var(--minFontSize), Min($fontSize, #{getvw($fontSize)}));
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
    transition: 180ms ease-in-out;
    transition-property: background, border, color, font-weight;

    &.active,
    &.current,
    &:hover,
    &:focus {
        --colorBg: #ebf1ff;

        font-family: var(--fontFamilyActive);
        font-weight: normal;
        color: var(--colorPrimary);
        text-decoration: none;
        outline-color: transparent;
        outline-style: solid;
    }

    &-icon {
        width: 1.5em;
        height: 1.5em;

        // stylelint-disable-next-line  selector-max-type
        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
}