/*-- DISCUSSIONS MODULE RE-POLISHING --*/
:root {
  --colorDanger: #fc225a;
  --colorPrimary: #4080ff;
}

/*-- Tabs --*/
.tab {
  --fontSize: 24px;
  --minFontSize: 12px;
  --fontFamily: "CircularAirPro Light";
  --fontFamilyActive: "Circular Std Book";
  --color: #999999;
  --colorActive: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  min-width: 5ch;
  color: var(--color);
  font-family: var(--fontFamily);
  font-size: Max(var(--minFontSize), Min(24px, 3.2vmin));
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  padding: 0.25em 0.8333333333em;
  -webkit-transition: 180ms ease-in-out;
  transition: 180ms ease-in-out;
  -webkit-transition-property: background, border, font-weight;
  transition-property: background, border, font-weight;
  cursor: pointer;
  min-height: Min(Max(48px, 8.9333333333vmin), 67px);
  border-bottom: 2px solid transparent;
}
.tab.active, .tab.current, .tab:hover, .tab:focus {
  font-family: var(--fontFamilyActive);
  font-weight: normal;
  color: var(--colorActive);
  text-decoration: none;
  outline-color: transparent;
  outline-style: solid;
  border-bottom: 2px solid var(--colorPrimary);
}
.tab-text {
  display: inline-block;
  max-width: 100%;
  line-height: normal;
}
.tab-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.tab-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.tab-container {
  position: relative;
}
.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  overflow: hidden;
}
.tab-info {
  --fontSize: 20px;
  --minFontSize: 14px;
  --color: #808080;
  --colorActive: #fff;
  --colorBg: #f5f5f5;
  --fontFamilyActive: "Circular Std Med";
  font-size: Max(var(--minFontSize), Min(20px, 2.6666666667vmin));
  min-height: max(28px, min(41px, 5.4666666667vmin));
  background-color: var(--colorBg);
  border-radius: 1em;
  border-bottom: none;
}
.tab-info.active, .tab-info.current, .tab-info:hover, .tab-info:focus {
  background-color: var(--colorPrimary);
  border-bottom: none;
}
@media (max-width: 767px) {
  .tab-info-block {
    padding-bottom: 15px;
  }
  .tab-info-block .tab-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -0.6666666667vw;
  }
  .tab-info-block .tab-list-item {
    padding: 0.6666666667vw;
  }
}
.tab-order {
  min-height: max(28px, min(46px, 6.1333333333vmin));
  border-radius: 3px;
  border: solid 1px transparent;
}
.tab-order.active, .tab-order.current, .tab-order:hover, .tab-order:focus {
  border: solid 1px #e6e6e6;
  background-color: #f2f2f2;
}

/*-- Tags --*/
.tag {
  --fontSize: 21px;
  --minFontSize: 12px;
  --fontFamily: "CircularAirPro Light";
  --fontFamilyActive: "Circular Std Med";
  --color: #4d4d4d;
  --colorActive: #4080ff;
  --colorBg: #f5f5f5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 5ch;
  min-height: Max(2.7142857143em, min(57px, 7.6vw));
  padding: 0.25em 0.6666666667em;
  border-radius: 1.3333333333em;
  background-color: var(--colorBg);
  font-family: var(--fontFamily);
  font-size: Max(var(--minFontSize), Min(21px, 2.8vw));
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 180ms ease-in-out;
  transition: 180ms ease-in-out;
  -webkit-transition-property: background, border, color, font-weight;
  transition-property: background, border, color, font-weight;
}
.tag.active, .tag.current, .tag:hover, .tag:focus {
  --colorBg: #ebf1ff;
  font-family: var(--fontFamilyActive);
  font-weight: normal;
  color: var(--colorPrimary);
  text-decoration: none;
  outline-color: transparent;
  outline-style: solid;
}
.tag-icon {
  width: 1.5em;
  height: 1.5em;
}
.tag-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.tag-disabled {
  --color: #8fb4fc;
  --fontFamily: "Circular Std Book";
  font-weight: normal;
  pointer-events: none;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: max(0.5em, min(15px, 2vw));
}

/*-- utilities --*/
.list-style {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.has-img-fit {
  position: relative;
}
.has-img-fit > img, .has-img-fit > .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.img-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 10 6'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAA70lEQVR4AQXBTUvCcADA4Z/7z9xcmbEpdSg6CBYGRUcr6WJvUESfqHN07Jt47hBdBV/AFg2FYTGd2DZzmJiz54ndnpUX51cldvcvSWoqufwGcVlgmlX01CpLmsbD4xMiZ2zeS8MQNRgQX1Gweg6/owGvLxUyxjq2+4VtO8haPIGKxKfdxfpzmUgKruMSxX4QiqDfs2i1A+RwMmM+hsr4nbSvcnNaZHnqE8yTNDpvROGU7FYSueX3MUcuqbUExYsd9jICY66yyOrUm22aHY/vmYec304jRIRuaJROjmg8V/G8IXflawoHhxx/1KjVu/wDycJbrJ7yuz0AAAAASUVORK5CYII='/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .hidden-more-sm {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-less-sm {
    display: none !important;
  }
}

/*-- discussion view --*/
@media (max-width: 767px) {
  [data-AEA-385].modal .modal-close {
    position: static;
    min-height: 50px;
    padding-left: 1em;
    padding-right: 1em;
  }
  [data-AEA-385]#discussion_view {
    background-color: #f5f5f5;
  }
  [data-AEA-385] .modal-custom-style {
    padding: max(7px, min(1rem, 2.4vw));
  }
  [data-AEA-385] .post-block.post-happen-question {
    margin-top: 0;
    border-radius: 10px;
    overflow: hidden;
  }
  [data-AEA-385] .post-block.post-happen-question .img-bg::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  }
  [data-AEA-385] .post-block.post-happen-question .post-top-info-layer {
    padding: max(15px, min(30px, 4vw));
    padding-top: 32%;
  }
  [data-AEA-385] .post-block.post-happen-question .post-top-info-layer .post-top-info-wrap {
    position: relative;
  }
  [data-AEA-385] .post-block.post-happen-question .post-top-info-layer .post-top-info-wrap .post-top-avatar-wrap img {
    width: max(50px, min(60px, 8vw)) !important;
    height: max(50px, min(60px, 8vw)) !important;
  }
  [data-AEA-385] .post-block.post-happen-question .post-top-info-layer .post-top-info-wrap .post-top-name a.post-name-link {
    font-size: max(14px, min(24px, 3.2vw));
    color: #ffffff;
    line-height: normal;
  }
  [data-AEA-385] .post-block.post-happen-question .post-top-info-layer .post-top-info-wrap .post-info {
    font-size: max(13px, min(24px, 2.4vw));
    color: #b3b3b3;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content h3,
[data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .disc-content-text {
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content h3 {
    color: #000000;
    font-family: "Circular Std Book";
    font-size: max(18px, min(30px, 4vw));
    font-weight: normal;
    margin-bottom: 0.6666666667em;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .disc-content-text {
    font-family: "circularairpro light" !important;
    font-size: max(14px, min(24px, 3.2vw)) !important;
    font-weight: 300;
    margin-bottom: 0.8333333333em;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.3em;
    font-size: max(12px, min(20px, 2.6666666667vw));
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
    font-size: 1em;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list .tips-footer .more-tips {
    font-size: inherit;
    margin-left: 0;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list .tips-footer .avatar-list {
    margin: 0 0 0 10px;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list .tips-footer .avatar-list li {
    margin-left: auto;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-foot-list .tips-footer .avatar-list li img {
    width: 1.75em;
    height: 1.75em;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-main-content .post-modal-content-foot {
    display: grid;
    grid-gap: max(10px, min(20px, 2.6666666667vw));
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-add-comment-block {
    display: grid;
    grid-template-columns: max(50px, min(60px, 8vw)) 1fr;
    grid-gap: 15px;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    padding: 15px;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-add-comment-block .avatar-wrap {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    padding-right: 0;
    border-radius: 50%;
    background-color: #eeeeee;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-add-comment-block .avatar-wrap img {
    display: block;
    position: absolute;
    width: 100% !important;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-add-comment-block .emojionearea-editor {
    padding: 1em;
  }
  [data-AEA-385] .post-block.post-happen-question .post-content-inner .post-add-comment-block .disc-reply-textarea {
    font-size: max(14px, min(20px, 2.6666666667vw));
  }
}

/*-- Questions --*/
[data-AEA-385].custom-row.discussions-custom-row-wrapper .btn-aq {
  gap: 0.8333333333em;
  height: auto;
  min-height: 3.3571428571em;
  font-family: "CircularAirPro Light";
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #b3b3b3;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  text-transform: none;
  padding: 0.9285714286em;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .btn-aq .ava {
  width: 2.2916666667em;
  height: 2.2916666667em;
  background-color: #eeeeee;
  border-radius: 50%;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab {
  --fontSize: 28px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-container .tab-list {
  border-bottom: 1px solid #e6e6e6;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-container .tab-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-panel {
  padding-right: 7px;
  padding-left: 7px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-discussion_order {
  grid-template-columns: auto 1fr;
  grid-gap: max(8px, min(20px, 2.6666666667vmin));
  font-family: "Circular Std Book";
  font-size: max(12px, min(22px, 2.9333333333vmin));
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #333333;
  padding: 13px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-discussion_order .tab-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: max(8px, min(20px, 2.6666666667vmin));
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .tab-discussion_order .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .grid-layer {
  display: grid;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-gap: max(8px, min(20px, 2.6666666667vmin));
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ebebeb;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox:last-child {
  border-bottom: none;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .mobile-filter-toggler {
  position: relative;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .travlogSelected {
  display: inline-block;
  position: relative;
  padding: 0 0px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .travlogSelected input[type=radio] {
  display: none;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .travlogSelected label {
  direction: ltr;
  color: #666;
  font-weight: normal;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .current-tab #trav-log-icon {
  color: #4080ff;
  font-size: 24px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox #trav-log-icon {
  color: #b2b2b2;
  font-size: 24px;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .travlogSelected label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 15px 0 0;
  width: 19px;
  height: 19px;
  border-radius: 11px;
  border: 1px solid #4080ff;
  background-color: transparent;
}
[data-AEA-385].custom-row.discussions-custom-row-wrapper .destination-searchbox .travlogSelected input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 10px;
  left: 5px;
  content: " ";
  display: block;
  background: #4080ff;
}
@media (max-width: 767px) {
  [data-AEA-385].custom-row.discussions-custom-row-wrapper {
    margin-top: 100px;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .main-content-layer {
    padding-right: 7px;
    padding-left: 7px;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .main-content-layer.flex-first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .main-content-layer + .main-content-layer {
    margin-top: 20px;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .search-discussion-input-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0 !important;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .search-discussion-input-wrapper .trav-search-icon {
    left: 3.6vmin;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .search-discussion-input {
    font-size: max(12px, min(24px, 3.2vmin));
    padding: 1.25em;
    padding-left: 3.75em;
    background-color: #ebebeb;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .post-block.post-side-block .post-side-top {
    padding: 10px 13px;
    height: auto;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .post-block.post-country-block .post-side-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50% !important;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .post-tips-top-layer.post-topic-wrapper .post-tips-top .post-tips-ttl {
    line-height: normal;
    margin-top: 0;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .post-tips-top-layer.post-topic-wrapper .post-tips-top .btn {
    display: none;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .post-tips-top-layer.post-topic-wrapper .post-top-info-action .dropdown {
    display: none;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .topic-inside-panel-wrap {
    border-bottom: none;
    padding-bottom: 0;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .post-top-info-layer .post-top-info-txt .post-info,
[data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .post-block .post-foot-block .dis-more-trip-link {
    font-size: 12px;
  }
  [data-AEA-385].custom-row.discussions-custom-row-wrapper .disc-main-block .disc-foot-block {
    padding-top: 0;
    border-top: none;
  }
}

/*-- Topics --*/
@media (max-width: 767px) {
  [data-AEA-385] .trending-topic-wrap {
    --fontSize: 21px;
    --minFontSize: 12px;
    --fontFamily: "CircularAirPro Light";
    --fontFamilyActive: "Circular Std Med";
    --color: #4d4d4d;
    --colorActive: #4080ff;
    --colorBg: #f5f5f5;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 5ch;
    min-height: Max(2.7142857143em, min(57px, 7.6vw));
    padding: 0.25em 0.6666666667em;
    border-radius: 1.3333333333em;
    background-color: var(--colorBg);
    font-family: var(--fontFamily);
    font-size: Max(var(--minFontSize), Min(21px, 2.8vw));
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 180ms ease-in-out;
    transition: 180ms ease-in-out;
    -webkit-transition-property: background, border, color, font-weight;
    transition-property: background, border, color, font-weight;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  [data-AEA-385] .trending-topic-wrap.active, [data-AEA-385] .trending-topic-wrap.current, [data-AEA-385] .trending-topic-wrap:hover, [data-AEA-385] .trending-topic-wrap:focus {
    --colorBg: #ebf1ff;
    font-family: var(--fontFamilyActive);
    font-weight: normal;
    color: var(--colorPrimary);
    text-decoration: none;
    outline-color: transparent;
    outline-style: solid;
  }
  [data-AEA-385] .trending-topic-wrap-icon {
    width: 1.5em;
    height: 1.5em;
  }
  [data-AEA-385] .trending-topic-wrap-icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

/*-- Most Helpful --*/
@media (max-width: 767px) {
  [data-AEA-385] .most-helpful-block .info-list-wrap {
    padding-left: 15px;
  }
}

/*-- END DISCUSSIONS MODULE RE-POLISHING --*/