/*-- TRAVELOGS UPDATES --*/
:root {
  --colorDanger: #fc225a;
  --colorPrimary: #4080ff;
}

/* Button */
.button {
  --fontSize: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 11ch;
  min-height: Min(8.9333333333vw, 4.1875rem);
  padding: 0.25em 0.9090909091em;
  -webkit-transition: 180ms ease-in-out;
  transition: 180ms ease-in-out;
  -webkit-transition-property: background, border;
  transition-property: background, border;
  border-radius: 0.4545454545em;
  background-color: #f3f3f3;
  color: #1a1a1a;
  font-family: "Circular Std Med";
  font-size: Min(2.9333333333vw, 1.375rem);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0;
}
@media screen and (-ms-high-contrast: active) {
  .button {
    border: 2px solid currentColor;
  }
}
.button:focus {
  outline-color: transparent;
  outline-style: solid;
}
.button-danger {
  color: var(--colorDanger);
}
.button-danger-full {
  color: #ffffff;
  background-color: var(--colorDanger);
}
.button-primary {
  color: #ffffff;
  background-color: var(--colorPrimary);
}
.button-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.button-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/*-- Tabs --*/
.tab {
  --fontSize: 24px;
  --minFontSize: 12px;
  --fontFamily: "CircularAirPro Light";
  --fontFamilyActive: "Circular Std Book";
  --color: #999999;
  --colorActive: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  min-width: 5ch;
  color: var(--color);
  font-family: var(--fontFamily);
  font-size: Max(var(--minFontSize), Min(24px, 3.2vmin));
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  padding: 0.25em 0.8333333333em;
  -webkit-transition: 180ms ease-in-out;
  transition: 180ms ease-in-out;
  -webkit-transition-property: background, border, font-weight;
  transition-property: background, border, font-weight;
  cursor: pointer;
  min-height: Min(Max(48px, 8.9333333333vmin), 67px);
  border-bottom: 2px solid transparent;
}
.tab.active, .tab.current, .tab:hover, .tab:focus {
  font-family: var(--fontFamilyActive);
  font-weight: normal;
  color: var(--colorActive);
  text-decoration: none;
  outline-color: transparent;
  outline-style: solid;
  border-bottom: 2px solid var(--colorPrimary);
}
.tab-text {
  display: inline-block;
  max-width: 100%;
  line-height: normal;
}
.tab-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}
.tab-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.tab-container {
  position: relative;
}
.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  overflow: hidden;
}
.tab-info {
  --fontSize: 20px;
  --minFontSize: 14px;
  --color: #808080;
  --colorActive: #fff;
  --colorBg: #f5f5f5;
  --fontFamilyActive: "Circular Std Med";
  font-size: Max(var(--minFontSize), Min(20px, 2.6666666667vmin));
  min-height: max(28px, min(41px, 5.4666666667vmin));
  background-color: var(--colorBg);
  border-radius: 1em;
  border-bottom: none;
}
.tab-info.active, .tab-info.current, .tab-info:hover, .tab-info:focus {
  background-color: var(--colorPrimary);
  border-bottom: none;
}
@media (max-width: 767px) {
  .tab-info-block {
    padding-bottom: 15px;
  }
  .tab-info-block .tab-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -0.6666666667vw;
  }
  .tab-info-block .tab-list-item {
    padding: 0.6666666667vw;
  }
}
.tab-order {
  min-height: max(28px, min(46px, 6.1333333333vmin));
  border-radius: 3px;
  border: solid 1px transparent;
}
.tab-order.active, .tab-order.current, .tab-order:hover, .tab-order:focus {
  border: solid 1px #e6e6e6;
  background-color: #f2f2f2;
}

/*-- utilities --*/
.list-style {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.has-img-fit {
  position: relative;
}
.has-img-fit > img, .has-img-fit > .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.img-holder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 10 6'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='1 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAA70lEQVR4AQXBTUvCcADA4Z/7z9xcmbEpdSg6CBYGRUcr6WJvUESfqHN07Jt47hBdBV/AFg2FYTGd2DZzmJiz54ndnpUX51cldvcvSWoqufwGcVlgmlX01CpLmsbD4xMiZ2zeS8MQNRgQX1Gweg6/owGvLxUyxjq2+4VtO8haPIGKxKfdxfpzmUgKruMSxX4QiqDfs2i1A+RwMmM+hsr4nbSvcnNaZHnqE8yTNDpvROGU7FYSueX3MUcuqbUExYsd9jICY66yyOrUm22aHY/vmYec304jRIRuaJROjmg8V/G8IXflawoHhxx/1KjVu/wDycJbrJ7yuz0AAAAASUVORK5CYII='/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .hidden-more-sm {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-less-sm {
    display: none !important;
  }
}

/*-- modals --*/
.location-select2 {
  max-width: 100%;
}

.post-block.post-travlog .travlog-main-block .main-content .travlog-card {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-gap: max(10px, min(20px, 2.6666666667vw));
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .img-wrap {
  width: 100%;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .img-wrap img {
  display: block;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: max(5px, min(14px, 1.8666666667vw));
  overflow: hidden;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .visited,
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .rate-info {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: auto;
  max-width: 100%;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card {
  grid-gap: max(5px, min(14px, 1.8666666667vw));
  margin-bottom: 0;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card.flex-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card .report-place-location,
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card p {
  font-size: max(12px, min(16px, 2.1333333333vw));
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card .report-place-location {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card .place-link,
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .title-card .place-link {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .rate-block {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: max(10px, min(20px, 2.6666666667vw));
  grid-column: 1/3;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .visited,
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .rate-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
  max-width: 50%;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .report-rate-inner {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  padding-right: 0;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .report-rate-inner p {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: max(12px, min(16px, 2.1333333333vw));
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .rate-info .label {
  background: #4080ff;
  border-radius: 3px;
  color: white;
  font-size: max(10px, min(16px, 2.1333333333vw));
  font-family: "Circular Std Book";
  padding: 4px 5px;
  margin-right: 8px;
}
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .rate-info p {
  margin-right: 5px;
  font-size: max(12px, min(16px, 2.1333333333vw));
  color: #1a1a1a;
}

.post-info-group {
  padding: 0 15px;
}
.post-info-group > * {
  border-bottom: 1px solid #e6e6e6;
}
.post-info-group .search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-info-group .search-block input {
  font-size: max(14px, min(26px, 3.4666666667vmin));
  padding-left: 10px;
}
.post-info-group .search-btn {
  color: #b3b3b3;
  font-size: max(22px, min(36px, 4.8vmin));
}

.t-info-count {
  font-family: "CircularAirPro Light";
  font-weight: 300;
  color: #999999;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-info, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-info {
    text-align: center !important;
  }

  .modal-custom-style .post-create-travlog .video-block,
.modal-custom-style .post-create-travlog .add_local_video_cont [id*=add_video_src] {
    --width: 620;
    --height: 350;
    /* Get aspect ratio */
    --aspect-ratio: calc(var(--height) / var(--width));
    position: relative;
    height: 0;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
  }
  .modal-custom-style .post-create-travlog .video-block iframe,
.modal-custom-style .post-create-travlog .video-block video,
.modal-custom-style .post-create-travlog .add_local_video_cont [id*=add_video_src] iframe,
.modal-custom-style .post-create-travlog .add_local_video_cont [id*=add_video_src] video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .content video {
    height: 100% !important;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card .card-part.img-wrap {
    height: auto;
  }

  .travlog-image-card .info-txt {
    overflow: hidden;
  }
  .travlog-image-card .info-txt .name a {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 0 !important;
  }
  .travlog-image-card .info-txt .country {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-block .trip-plan-inner .trip-plan-inside-block .trip-plan-map-img img {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    line-height: 2;
    position: relative;
    text-align: center;
    text-transform: capitalize;
  }
  .post-block .trip-plan-inner .trip-plan-inside-block .trip-plan-map-img img::after {
    content: "";
    font-size: 1em;
    color: #646464;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 107%;
  }

  #notificationPopup .modal-dialog {
    margin: 30px;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog .travlog-details-block .detail-row .title-block .title {
    margin-right: 10px;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog #ql-picker-options-4 .ql-stroke {
    color: #444;
    stroke: #444;
  }

  .report-search-user-block {
    font-size: max(14px, min(20px, 2.6666666667vw));
  }
  .report-search-user-block .report-search-user-avatar img {
    width: 2.25em;
    height: 2.25em;
  }
  .report-search-user-block .mention-item-title,
.report-search-user-block .mention-item-nationality {
    font-size: 1em;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .title-card span.tag,
.post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block .title-card {
    margin-right: 0;
    margin-bottom: 0;
  }
}
/*-- reports list --*/
.foot-block-grid {
  display: grid;
  grid-gap: max(10px, min(14px, 1.8666666667vw));
}

@media (max-width: 767px) {
  .travlog-list .travlog-info-block .info-wrapper .foot-block {
    padding-top: 0;
  }

  .foot-block-grid {
    grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-block-grid .author-name,
.foot-block-grid .time {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .post-tab-block .post-tab-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  .post-tab-block .tab-list {
    height: 100%;
    margin-bottom: 0;
  }
  .custom-row.report-custom-row > .main-content-layer > .post-tab-block > .post-tab-inner > div:first-child.rep-count-block {
    font-size: Min(Max(12px, 3.2vmin), 24px) !important;
    padding: 0.25em 0.8333333333em !important;
  }
  .post-tab-block .rep-count-block {
    width: min(25vw, 150px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 min(25vw, 150px);
            flex: 1 1 min(25vw, 150px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: Min(Max(48px, 8.9333333333vmin), 67px);
  }
  .post-tab-block .rep-count-block .rep-count-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .post-tab-block .rep-count-block .title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: Min(Max(12px, 3.2vmin), 24px);
    font-family: "Circular Std Book";
    font-weight: normal;
    color: #333333;
    line-height: normal;
  }
  .post-tab-block .rep-count-block .rep-counts {
    width: 5ch;
    font-size: Min(Max(12px, 3.2vmin), 24px);
    padding-left: 1.3333333333vmin;
  }
}
/*-- sidebar --*/
.post-block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: Min(3.6vmin, 27px) Min(2.2666666667vmin, 17px);
  padding: 15px 0;
}
.post-block-group .post-block {
  min-height: 48px;
  padding: min(2vmin, 15px);
  overflow: hidden;
  margin: 0 !important;
}
.post-block-group .button {
  width: min(33.3333333333vw, 250px);
  height: 100%;
  font-family: "Circular Std Book";
  font-size: Min(Max(12px, 2.6666666667vmin), 1.25rem);
  min-height: Min(8.9333333333vmin, 8.9333333333vmin);
  border-radius: 3px;
}
.post-block-group .button span {
  display: inline-block;
  max-width: 100%;
  line-height: normal;
}
.post-block-group .side-trip-tab {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: min(2vmin, 15px);
  padding: 0;
}
.post-block-group .side-trip-tab > * {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: min(2vmin, 15px);
  color: #b2b2b2;
  font-size: Min(Max(12px, 2.6666666667vmin), 1.25rem);
  background-color: #f2f2f2;
  min-height: Min(8.9333333333vmin, 4.1875rem);
  padding: 0.25em 0.75em;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}
.post-block-group .side-trip-tab #trav-log-icon {
  font-size: 1.2em;
}
.post-block-group .side-trip-tab .trip-tab-ttl {
  overflow: hidden;
}
.post-block-group .side-trip-tab .trip-tab-ttl > * {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  line-height: normal;
}
.post-block-group .side-trip-tab .current-tab {
  color: var(--colorPrimary);
  background-color: #ebf2ff;
  outline: solid 1px var(--colorPrimary);
  outline-offset: 0px;
}
.post-block-group .post-trav-header-block {
  width: 100%;
}
.post-block-group .search-travelog-input {
  font-size: Min(Max(14px, 3.2vmin), 1.5rem);
}

/*-- Travlog post --*/
@media (max-width: 767px) {
  .map-country-info {
    grid-gap: max(7px, min(18px, 2.4vw));
  }
  .map-country-info .country-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    overflow: hidden;
  }
  .map-country-info .country-info > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    overflow: hidden;
  }
  .map-country-info .country-info .country-name-block {
    min-width: auto;
    padding-right: 0;
  }
  .map-country-info .country-info .country-name-block > div {
    overflow: hidden;
  }
  .map-country-info .country-info .map-country-title,
.map-country-info .country-info .map-country-desc,
.map-country-info .country-info .pop-count,
.map-country-info .country-info .pop-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .map-country-info .country-info .pop-info {
    overflow: hidden;
  }
  .map-country-info .country-info .country-population .user-icon {
    margin: 0 min(1.0666666667vw, 8px);
  }
  .map-country-info .country-info .map-country-title {
    padding: 0 min(1.0666666667vw, 8px);
  }

  .post-block.post-travlog .travlog-map-wrap .post-bottom-block {
    grid-gap: max(7px, min(18px, 2.4vw));
  }

  .post-block.post-travlog .travlog-main-block .main-content .image-block {
    margin-left: max(5px, min(10px, 1.3333333333vw));
    margin-right: max(5px, min(10px, 1.3333333333vw));
  }

  .img-desc-link {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: max(12px, min(20px, 2.6666666667vw));
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #999999;
  }

  .top-banner-block .travel-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .report-text-content p {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }

  .post-block.post-travlog .post-footer-info .post-foot-block i[class^=trav-heart-icon] {
    color: #ff5a79 !important;
  }

  .report-text-content {
    white-space: normal;
  }
  .report-text-content p {
    margin-top: 20px;
  }

  .non-loggedIn .post-block.post-travlog {
    margin-top: 15px !important;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-card .img-wrap img {
    min-height: 110px !important;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-card .text-block {
    display: grid;
  }

  .post-block .post-comment-layer-wrap {
    background: #ffffff;
  }

  .post-reply-block {
    display: grid;
    grid-gap: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px 15px;
  }
  .post-reply-block .post-create-input {
    padding: 0;
  }
  .post-reply-block .post-create-input .note-editor.note-frame .note-editing-area .note-editable,
.post-reply-block .post-create-input .note-editor.note-frame .note-placeholder {
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .post-reply-block .post-create-input .note-toolbar {
    bottom: -30px;
    left: -5px;
  }
  .post-reply-block .post-create-input .note-toolbar .emojionearea-button {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .post-reply-block .post-create-input .note-toolbar .note-insert button {
    background: transparent;
  }
  .post-reply-block .post-create-controls {
    padding: 0 0 0 25px;
  }
  .post-reply-block .post-create-controls .post-alloptions .create-link-list {
    margin-bottom: 0;
  }
  .post-reply-block .post-create-controls .comment-edit-action {
    padding: 0;
  }
  .post-reply-block .post-create-controls i.fa-camera {
    font-size: 16px;
  }
  .post-reply-block .report-media {
    background: transparent;
  }
  .post-reply-block .report-media:empty {
    display: none;
  }

  .post-add-comment-block {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }

  .post-block .post-comment-layer-wrap .post-comment-layer .post-add-comment-block[class*=replyForm]:first-child {
    border-bottom: none;
  }
}
/*-- updates from 10-05-2021 --*/
@media (max-width: 767px) {
  .post-block.post-flight-style.report-top-slide {
    margin-top: 100px;
  }

  .container-fluid,
.post-block.post-travlog .report-text-content,
.t-log-info-wrapper {
    padding-left: max(7px, min(15px, 2vw));
    padding-right: max(7px, min(15px, 2vw));
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog,
.post-block.post-travlog .travlog-main-block .main-content .image-block,
.post-block.post-travlog .travlog-main-block .main-content .travlog-image-card,
.modal-custom-style .post-block.post-mobile-full,
.content-wrappers .post-image-container.post-follow-container.travlog-map-wrap {
    margin-left: max(7px, min(15px, 2vw));
    margin-right: max(7px, min(15px, 2vw));
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog {
    margin-top: max(7px, min(15px, 2vw)) !important;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card .card-part.info-card .info-top {
    grid-gap: max(7px, min(18px, 2.4vw));
  }

  .container-fluid .custom-row .sidebar-layer {
    min-width: 100%;
  }

  #addTravoooInfoPopup .post-side-top {
    border-bottom: none;
    padding-bottom: 5px;
  }

  .t-log-info-wrapper .travlog-info-block {
    background: #fcfcfc;
    border: 1px solid #f3f3f3;
  }
  .t-log-info-wrapper .travlog-info-block.active {
    background: transparent;
    border: none;
    cursor: default;
  }
  .t-log-info-wrapper .travlog-info-block.active .t-info-add-icon {
    display: none;
  }

  .info-location-wrap,
.info-location-item {
    width: max(110px, min(164px, 21.8666666667vmin));
  }

  .info-location-list {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .rep-info-slider-block .lSAction a,
.info-location-wrap,
.info-location-item,
.info-location-list {
    height: max(79px, min(98px, 13.0666666667vmin)) !important;
  }

  .info-location-title {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 100%;
  }

  .report-text-content h1, .report-text-content h2, .report-text-content h3, .report-text-content h4, .report-text-content h5, .report-text-content h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img-desc-link:last-child,
.post-block.post-travlog .travlog-main-block .main-content .image-block iframe:last-child {
    margin-bottom: 0;
  }

  .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card,
.trav-currency-line-block,
.post-block.post-travlog .travlog-main-block .main-content .image-block {
    margin-bottom: 20px;
  }
}
/*-- END TRAVELOGS UPDATES --*/