/*-- TRAVLOGS - DESIGN UPDATES #2 --*/
.post-comment-wrapper .post-comment-row .post-comment-text .comment-txt p.ql-align-left {
  text-align: left;
  direction: ltr;
}
html[lang=ar] .post-comment-wrapper .post-comment-row .post-comment-text .comment-txt p.ql-align-left, html[lang=ar] .post-comment-wrapper .post-comment-row .post-comment-text .comment-txt p.ql-align-right {
  text-align: right;
  direction: rtl;
}

.report-filter-input.placeholder {
  color: #999999;
}
.report-filter-input:-moz-placeholder {
  color: #999999;
}
.report-filter-input::-moz-placeholder {
  color: #999999;
}
.report-filter-input:-ms-input-placeholder {
  color: #999999;
}
.report-filter-input::-webkit-input-placeholder {
  color: #999999;
}

.filter-country-block li,
.filter-country-block li .close-filter-item, .filter-city-block li,
.filter-city-block li .close-filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  background: rgba(255, 255, 255, 0.9);
}
.loader .progress {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: min(20px, 2.6666666667vw);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: transparent;
}
.loader .progress-bar {
  height: max(7px, min(14px, 1.8666666667vw));
}
.loader .progress-text {
  font-size: max(14px, min(22px, 2.9333333333vw));
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4d4d4d;
}
.loader .progress-value {
  font-family: "Circular Std Med";
  font-weight: 500;
  color: #333333;
}

.btn[class*=follow] {
  min-width: 14ch;
}

@media (min-width: 768px) {
  .select2-container--default .location-select2:before {
    display: none;
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .content .input-block .select2-search--inline {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: auto;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .travlog-image-card .card-part.info-card .info-top .btn {
    font-family: "Circular Std Book";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
    border-radius: 3px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
  }
  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .travlog-image-card .card-part.info-card .info-top .btn.btn-blue-follow {
    color: #ffffff;
  }

  .post-map-inner {
    min-height: 360px;
  }

  .travlog-info-block .info-wrapper .country-name a {
    margin-right: -4px;
  }

  .post-block.post-travlog .travlog-map-wrap .post-bottom-block .bottom-txt-wrap {
    overflow: hidden;
  }
  .post-block.post-travlog .travlog-map-wrap .post-bottom-block .bottom-txt-wrap .bottom-ttl {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu ul.share-link-list li a {
    cursor: pointer;
  }

  .side-trip-tab .trip-tab-block .fa {
    font-family: "FontAwesome";
  }

  .selected-locetion-block {
    overflow-y: auto;
    max-height: 280px;
  }

  .modal-custom-style .post-create-travlog .add_text_cont .ql-container,
.modal-custom-style .post-create-travlog .add_text_cont .ql-toolbar {
    background-color: #ffffff;
  }

  .ql-editor ol > li, .ql-editor ul > li {
    line-height: normal;
    margin-bottom: 0.5em;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    color: #999 !important;
    font-family: "Circular Std Book";
    border: none !important;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 0 !important;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}