/*-- AEA-2029 --*/
@include less-sm() {
    .container-fluid .custom-row > [class$="-layer"],
    .custom-row.globaltrip-custom-row > .sidebar-layer.gl-sidebar-layer {
        padding-right: 7px !important;
        padding-left: 7px !important;
    }
    .post-block .panel-group.mobile-panel {
        margin-top: 0;
        border: none;

        .post-collapse-inner.gl-collapse-inner {
            border-bottom: 1px solid #ebebeb;
        }
    }
    .input-mobile {
        margin-bottom: 20px;
    }
}