/* Header */
@include less-sm() {
    .register-block-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 12px;

        .trev-register-menu-block {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        .trav-navbar-btn {
            grid-row: 1/2;
            grid-column: 2/3;
            position: relative;
            top: auto;
            right: auto;
            padding-right: 0;
        }

        .register-progress {
            width: 100%;
            grid-column: 1/3;
        }
    }
}