/*-- Web Bugs fix styles Sprint 7 --*/
@include less-sm() {
    .sign-up-style .modal-content .modal-body form.login-form .step-2 .flex-custom {
        padding-bottom: 7px;
    }
    input.confirmation-code {
        max-width: Max(150px, Min(305px, #{getvw(305px)}));
    }
    a.resend_confirmation_code {
        font-size: 14px;

        &.disabled {
            display: inline-block;
        }
    }
    .sign-up-style div.resend_confirmation_code span, .form-group.timer {
        color: #1a1a1a;
    }
    #signUp, .sign-up {
        padding-bottom: Max(10px, Min(50px, #{getvw(50px)}));

        .spinner-border {
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -0.5rem !important;
        }
    }
}