.plan-privacy {
    $itemGap: 30px;

    &-dropdown {
        $toggleButtonFontSize: 34px;

        .dropdown-toggle {
            @include truncate(100%);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px / $toggleButtonFontSize * 1em;
            min-height: #{Min(getvw(95px), 95px)};
            padding-left: 78px / $toggleButtonFontSize * 1em;
            padding-right: 60px / $toggleButtonFontSize * 1em;

            &:focus {
                background-color: #f0f5ff;
                box-shadow: 0 0 0 2px #4080ff;
            }

            &:after {
                font-family: 'FontAwesome';
                content: "\f107";
                border: none;
            }

            .card-img-icon {
                position: absolute;
                top: 30px / $toggleButtonFontSize * 1em;
                left: 30px / $toggleButtonFontSize * 1em;
            }
        }

        .dropdown-menu {
            flex-direction: column;
            grid-gap: #{Min(getvw($itemGap), $itemGap)};
            width: 100%;
            border-radius: #{Min(getvw(40px), 40px)};
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            padding-top: #{Min(getvw($itemGap), $itemGap)};
            padding-bottom: #{Min(getvw($itemGap), $itemGap)};

            &.show {
                display: flex;
            }
        }

        .btn {
            width: 100%;
            font-size: #{Min(getvw($toggleButtonFontSize), $toggleButtonFontSize)};
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }

        .card-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: #{Min(getvw(75px), 75px)};
            height: #{Min(getvw(75px), 75px)};
            background-color: #f2f2f2;
            border-radius: 100%;

            &-icon {
                width: #{Min(getvw(30px), 30px)};
                height: #{Min(getvw(30px), 30px)};
            }
        }

        .card-text {
            flex: 1;
            font-size: #{Min(getvw($toggleButtonFontSize), $toggleButtonFontSize)};
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #000000;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .card-name {
            font-family: 'Circular Std Med';
            font-weight: 500;
            margin-bottom: 0.2em;
        }

        .card-description {
            font-family: 'CircularAirPro Light';
            font-weight: 300;
        }

        input[type="checkbox"],
        input[type="radio"] {
            &:checked {
                &+.plan-privacy-card {
                    .card-img {
                        background-color: #4080ff;

                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    &-item {
        padding-left: #{Min(getvw(30px), 30px)};
        padding-right: #{Min(getvw(30px), 30px)};

        &+.plan-privacy-item {
            .plan-privacy-card {
                position: relative;
                padding-top: #{Min(getvw($itemGap), $itemGap)};

                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 0;
                    right: 0;
                    width: calc(100% - #{Min(getvw(95px), 95px)});
                    border-top: 1px solid#e6e6e6;
                }
            }
        }
    }

    &-card {
        display: flex;
        align-items: center;
        grid-gap: #{Min(getvw(20px), 20px)};

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include more-sm {
        &-dropdown {
            display: none;
        }
    }

    @include less-sm {
        &-dropdown {
            display: block;
        }

        .group-radio-form-privacy {
            display: none !important;
        }
    }
}