/* Leave popup */
@media screen and (min-width: 768px) {
  .warning-popup .change .info-mobile {
    display: none;
  }
}

@include less-sm() {
  div.warning-popup div.changes {
    max-height: 30vh;
  }
  div.warning-popup div.changes div.change {
    height: auto;
  }
  .modal.vertical-center.warning-popup .close {
    top: 30px;
    right: 30px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23'%3E%3Cpath fill='%23B3B3B3' fill-rule='evenodd' d='M21.81 20.189l-2.122 2.121-8.689-8.689L2.31 22.31.189 20.189 8.878 11.5.189 2.81 2.31.689l8.689 8.689L19.688.689 21.81 2.81l-8.689 8.69 8.689 8.689z'/%3E%3C/svg%3E");
  }
  div.warning-popup div.changes div.change div.info div.details {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
  div.warning-popup div.changes div.change div.info div.details div.duration {
    margin-top: 0;
  }
  .warning-popup .change {
    --baseFontSizeUnit: 28;

    .info {
      display: none;

      &-mobile {
        display: flex;
        flex: 1;
        flex-direction: column;
        grid-gap: calc((16 / var(--baseFontSizeUnit)) * 1em);
      }
    }

    .details-item {
      max-width: 33%;
      position: relative;
      font-family: "Circular Std Med" !important;
      font-weight: 500!important;

      & > span {
        max-width: 100%;
        font-family: inherit!important;
        font-weight: inherit!important;
      }

      & + .details-item {
        margin-left: #{Min(5vw, 30px)} !important;

        &:before {
          position: absolute;
          display: block;
          width: 5px;
          height: 5px;
          content: '';
          top: 50%;
          left: #{Max(-3vw, -18px)};
          transform: translate(0, -50%);
          color: #cccccc;
          background-color: #cccccc;
          border-radius: 100%;
        }
      }
    }

    .location {
      display: flex;
      align-items: center;
      grid-gap: calc((11 / var(--baseFontSizeUnit)) * 1em);
      font-family: "CircularAirPro-Light";
      font-size: 14px;
      font-weight: 300;
      color: #1a1a1a;

      &-label {
        flex: 0 0 auto;
        font-size: calc((18 / var(--baseFontSizeUnit)) * 1em);
        color: #4d4d4d;
        padding: calc((5 / var(--baseFontSizeUnit)) * 1em) calc((12 / var(--baseFontSizeUnit)) * 1em);
        border-radius: calc((10 / var(--baseFontSizeUnit)) * 1em);
        background-color: #cccccc;
      }
    }
  }
}