/* Timeline view */
.trip {
  --fontMinSize: 14px;
  --fontMed: "Circular Std Med";
  --fontLight: "CircularAirPro Light";
  @include less-sm() {
    &-photos .see-more {
      bottom: 0.9em;
      font-family: var(--fontMed);
      font-size: #{Min(Max(getvw(22px), var(--fontMinSize)), 22px)};
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      color: #ffffff;
      text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
      background: transparent;
    }

    &-place {
      .suggestion + .activity-info {
        padding-top: 0.5em;
      }
    }

    .activity-info {
      font-family: var(--fontLight);
      font-size: #{Min(Max(getvw(28px), var(--fontMinSize)), 28px)};
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      color: #999999;
      background-color: #fafafa;
      padding: 0 0.8em 0.5em;

      b {
        color: #1a1a1a;
        font-family: var(--fontMed);
        font-weight: 500;
      }
    }
  }
}