/*-- updates from 10-05-2021 --*/
@include less-sm() {
    .post-block.post-flight-style.report-top-slide {
        margin-top: 100px;
    }
    .container-fluid,
    .post-block.post-travlog .report-text-content,
    .t-log-info-wrapper {
        padding-left: Max(7px, Min(15px, #{getvw(15px)}));
        padding-right: Max(7px, Min(15px, #{getvw(15px)}));
    }
    .modal-custom-style .post-block.post-travlog.post-create-travlog,
    .post-block.post-travlog .travlog-main-block .main-content .image-block,
    .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card,
    .modal-custom-style .post-block.post-mobile-full,
    .content-wrappers .post-image-container.post-follow-container.travlog-map-wrap {
        margin-left: Max(7px, Min(15px, #{getvw(15px)}));
        margin-right: Max(7px, Min(15px, #{getvw(15px)}));
    }
    .modal-custom-style .post-block.post-travlog.post-create-travlog {
        margin-top: Max(7px, Min(15px, #{getvw(15px)})) !important;
    }
    .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card .card-part.info-card .info-top {
        grid-gap: Max(7px, min(18px, 2.4vw));
    }
    .container-fluid .custom-row .sidebar-layer {
        min-width: 100%;
    }
    #addTravoooInfoPopup .post-side-top {
        border-bottom: none;
        padding-bottom: 5px;
    }
    .t-log-info-wrapper .travlog-info-block {
        background: #fcfcfc;
        border: 1px solid #f3f3f3;

        &.active {
            background: transparent;
            border: none;
            cursor: default;

            .t-info-add-icon {
                display: none;
            }
        }
    }
    .info-location-wrap,
    .info-location-item {
        width: Max(110px, Min(164px, #{getvmin(164px)}));
    }
    .info-location-list {
        box-sizing: content-box;
    }
    .rep-info-slider-block .lSAction a,
    .info-location-wrap,
    .info-location-item,
    .info-location-list {
        height: Max(79px, Min(98px, #{getvmin(98px)})) !important;
    }
    .info-location-title {
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
    }
    .report-text-content h1, .report-text-content h2, .report-text-content h3, .report-text-content h4, .report-text-content h5, .report-text-content h6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-desc-link,
    .post-block.post-travlog .travlog-main-block .main-content .image-block iframe {
        &:last-child {
            margin-bottom: 0;
        }
    }
    .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card,
    .trav-currency-line-block,
    .post-block.post-travlog .travlog-main-block .main-content .image-block {
        margin-bottom: 20px;
    }
}