/*-- Web Bugs Sprint 3 styles --*/
.dest-search {
    left: 0 !important;
}

.post-add-comment-block .avatar-wrap {
    align-self: flex-start;
}

.info-location-list {
    flex-wrap: nowrap;
}

.jconfirm-content,
.jconfirm-content * {
    line-height: normal;
}

.info-location-title {
    @include line-clamp(2);
    top: 50%;
    left: 5px;
    right: 5px;
    transform: translate(0, -50%);
    width: auto;
    overflow-wrap: break-word;
}

@include less-md() {
    .post-block.post-travlog .travlog-main-block .main-content .video-block {
        --width: 598;
        --height: 340;
        /* Get aspect ratio */
        @include get-aspect-ratio();
        margin-bottom: 35px;

        iframe,
        video,
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
    .travlog-info-block {
        .info-wrapper {
            flex: 1 1 0;

            + .img-wrap.report-img-wrap {
                --width: 177;
                --height: 146;
                max-width: calc(var(--width) * 1px);

                & > a {
                    @include get-aspect-ratio();
                    display: block;

                    img {
                        @include o-fit-absolute();
                    }
                }
            }
        }
    }
}

@include less-sm() {
    .post-comment-layer, .post-footer-info {
        z-index: 11;
    }
    .modal-custom-style .post-block.post-travlog.post-create-travlog {
        .rep-cover-block.top-travlog-banner {
            --width: 720;
            --height: 375;
            /* Get aspect ratio */
            @include get-aspect-ratio();

            .croppie-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }

        .top-travlog-banner .top-banner-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .trev-info-desc {
            display: flex !important;
        }

        .main-content {
            padding-left: Max(15px, Min(25px, getvw(25px)));
            padding-right: Max(15px, Min(25px, getvw(25px)));
        }
    }
    .report-map-block {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .map-country-info {
        width: calc(100% - 30px);
        left: 15px;
    }
    .post-block.post-travlog .travlog-main-block .main-content .travlog-card {
        margin-left: Max(7px, Min(15px, getvw(15px)));
        margin-right: Max(7px, Min(15px, getvw(15px)));
    }
    .post-block.post-travlog .post-top-info-layer {
        padding-left: Max(7px, Min(15px, getvw(15px)));
        padding-right: Max(7px, Min(15px, getvw(15px)));

        .info-side a.back-link {
            padding-right: Max(5px, Min(10px, getvw(10px)));
            margin-right: Max(7px, Min(15px, getvw(15px)));

            i {
                font-size: 24px;
                margin-right: 0;
            }
        }

        .info-side .post-foot-block {
            &:last-child {
                margin-right: 0 !important;
            }

            margin-right: Max(7px, Min(15px, getvw(15px))) !important;
        }

        .actions-side a.top-action {
            &:first-child {
                margin-left: 0;
            }

            margin-left: Max(5px, Min(10px, getvw(10px)));

            i[class^="trav"] {
                font-size: 16px;
            }
        }
    }
    .t-log-info-wrapper .travlog-info-block {
        $addIconHeight: 25px;
        $paddingY: 12px;

        padding: $paddingY;

        .title {
            min-height: $addIconHeight + $paddingY;
            position: relative;
            padding: 0 ($addIconHeight + 5px) $paddingY 0;

            .t-info-add-icon {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .post-tab-block .tab {
        &:not(.active, .current) {
            &:hover,
            &:focus {
                font-family: var(--fontFamily);
                font-weight: 300;
                color: var(--color);
                border-bottom-color: transparent;
            }
        }
    }
    .post-block.post-travlog .travlog-main-block .main-content .travlog-image-card .card-part {
        &.img-wrap {
            width: Max(97px, Min((percentage(235/590)), getvw(235px, 590px)));
            flex: 0 0 Max(97px, Min((percentage(235/590)), getvw(235px, 590px)));
            min-height: Max(80px, Min(180px, getvw(180px)));

            .avatar-img {
                transform: translate(-50%, -50%);
                margin-top: 0;
                margin-left: 0;

                img.ava {
                    width: Max(50px, Min(70px, 11vw)) !important;
                }
            }
        }

        &.info-card {
            width: 1px;
            flex: 1 1 0;
            max-width: 100%;
            padding: Max(10px, Min(20px, getvw(20px)));

            .info-top {
                align-items: flex-start;
            }

            .name a {
                font-size: Max(14px, Min(22px, getvw(22px))) !important;
            }

            .country {
                font-size: Max(12px, Min(18px, getvw(18px))) !important;
            }

            .btn[class*=follow] {
                min-width: auto;
                font-family: "circular std book";
                font-size: Max(12px, Min(18px, getvw(18px))) !important;
                border: solid 1px #e6e6e6;
                background-color: #f0f0f0 !important;
                padding: 12 / 18 * 1em 20 / 18 * 1em;
            }

            ul.preview-list {
                padding-top: Max(10px, Min(20px, getvw(20px)));

                li {
                    height: Max(10px, Min(80px, getvw(80px)));

                    img {
                        height: 100% !important;
                    }
                }
            }
        }
    }
}