/*-- Web Bugs fix styles Sprint 5 --*/
.post-block-group .side-trip-tab {
    display: grid;
    grid-gap: Min(#{getvmin(15px)}, 15px);
    grid-template-columns: repeat(2, 1fr);
}

.search-country-block {
    direction: ltr;
}

.loader-spin#coverLoader {
    display: flex;
    width: 100%;
    height: 100%;

    &:before {
        margin: auto;
    }
}

@include more-sm() {
    .post-block.post-travlog .travlog-main-block .main-content .image-block:not(.p-rel), .post-block.post-travlog .travlog-main-block .main-content .report-text-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@include less-sm() {
    .img-desc {
        @include truncate(100%);
        font-size: Max(12px, Min(20px, #{getvw(20px)}));
        font-weight: normal;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #999999;

        &:last-child {
            margin-bottom: 0;
        }

        &-link {
            @extend .img-desc;
            color: #0091e6;
        }
    }

    .post-block.post-travlog {
        .travlog-main-block .main-content {
            .content-wrappers,
            .content-wrapper {
                padding-left: Max(7px, Min(15px, #{getvw(15px)}));
                padding-right: Max(7px, Min(15px, #{getvw(15px)}));
            }

            .travlog-image-card,
            .post-image-container.post-follow-container.travlog-map-wrap {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}