/*-- Web Bugs fix styles Sprint 7 --*/
.report-search-place .travlog-place-card {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: Max(10px, Min(20px, #{getvw(20px)}));

    .img-wrap {
        width: 100%;

        img {
            display: block;
        }
    }

    .text-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        overflow: hidden;

        .visited,
        .rate-info {
            flex: none;
            width: auto;
            max-width: 100%;
        }
    }

    .title-card {
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        margin-bottom: 0;

        &.flex-row {
            align-items: center;
        }

        .report-place-location,
        p {
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .report-place-location {
            @include truncate(100%);
            flex: 1;
        }

        .place-link,
        p {
            @include line-clamp(2);
        }

        .place-link {
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    .rate-block {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        grid-gap: Max(10px, Min(20px, #{getvw(20px)}));
        grid-column: 1/3;
    }

    .visited,
    .rate-info {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
    }

    .report-rate-inner {
        @include truncate(100%);
        display: flex;
        align-items: center;
        padding-bottom: 0;
        padding-right: 0;

        p {
            @include truncate(100%);
        }
    }

    .visited {
        display: flex;
        align-items: center;
        font-size: Max(12px, Min(16px, #{getvw(16px)}));
    }

    .rate-info {
        .label {
            background: #4080ff;
            border-radius: 3px;
            color: white;
            font-size: Max(10px, Min(16px, #{getvw(16px)}));
            font-family: 'Circular Std Book';
            padding: 4px 5px;
            margin-right: 8px;
        }

        p {
            margin-right: 5px;
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            color: #1a1a1a;
        }
    }
}

.post-block.post-travlog .travlog-main-block .main-content .travlog-card .visited,
.report-search-place .travlog-place-card .visited {
    flex-wrap: nowrap;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 255px;
}

.private-error-block {
    display: none !important;
}

.trip-has-private.hover + .private-error-block {
    display: block !important;
}

.post-block-group {
    display: grid;
    grid-template-columns: auto 1fr;

    .post-trav-header-block {
        grid-column: 1/3;
    }

    .side-trip-tab {
        & > * {
            display: grid;
            grid-template-columns: auto 1fr;
        }
    }
}