@import "../../../utilities/mixins";
/*-- Travelog reports --*/
.report-search-place .travlog-place-card {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: Max(10px, Min(20px, #{getvw(20px)}));
    padding: 20px !important;

    .img-wrap {
        width: 100%;

        img {
            display: block;
        }
    }

    .text-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        overflow: hidden;

        .visited,
        .rate-info {
            flex: none;
            width: auto;
            max-width: 100%;
        }
    }

    .title-card {
        grid-gap: Max(5px, Min(14px, #{getvw(14px)}));
        margin-bottom: 0;

        &.flex-row {
            align-items: center;
        }

        .report-place-location,
        p {
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .report-place-location {
            @include truncate(100%);
            flex: 1;
        }

        .place-link,
        p {
            @include line-clamp(2);
        }

        .place-link {
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    .rate-block {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        grid-gap: Max(10px, Min(20px, #{getvw(20px)}));
        grid-column: 1/3;
    }

    .visited,
    .rate-info {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
    }

    .report-rate-inner {
        @include truncate(100%);
        display: flex;
        align-items: center;
        padding-bottom: 0;
        padding-right: 0;

        p {
            @include truncate(100%);
        }
    }

    .visited {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: Max(12px, Min(16px, #{getvw(16px)}));
    }

    .rate-info {
        .label {
            background: #4080ff;
            border-radius: 3px;
            color: white;
            font-size: Max(10px, Min(16px, #{getvw(16px)}));
            font-family: 'Circular Std Book';
            padding: 4px 5px;
            margin-right: 8px;
        }

        p {
            margin-right: 5px;
            font-size: Max(12px, Min(16px, #{getvw(16px)}));
            color: #1a1a1a;
        }
    }
}

.gt-search-result-block .post-block, .rep-search-result-block .post-block {
    & > * {
        line-height: normal;
        padding-right: 5px;
    }

    b {
        padding-left: 0;
        padding-right: 0;
    }
}

@include less-sm() {
    .post-block .post-destination-block .lSAction a.lSNext {
        background: linear-gradient(270deg, rgb(245, 245, 245) 10%, rgba(245,245,245,0) 50%);
    }
    .post-block .post-destination-block .lSAction a.lSPrev {
        background: linear-gradient(90deg, rgb(245, 245, 245) 10%, rgba(245,245,245,0) 50%);
    }
}