/*-- Post common styles --*/
.back-link {
    display: inline-flex;
    align-items: center;
    padding: 15px 5px;

    &-title {
        font-family: "Circular Std Book";
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #333333;
    }

    i {
        color: #4080ff;
        font-size: 30px;
    }
}

@include less-sm() {
    header.main-header .home-mobile-top-actions.ease-in-trans {
        margin-left: 0;
        margin-right: 0;
    }
    .content-wrap {
        overflow: hidden;
        width: 100%;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        margin-top: 45px;
    }
    .back-link {
        & + * {
            .post-block {
                margin-top: 0;
            }
        }
    }
    .container-fluid .custom-row {
        margin-left: 0;
        margin-right: 0;
    }
    .main-content-layer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    div.mobile--reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    span.hidden--comment {
        display: none;
    }
    span.mobile--comment {
        padding-right: 10px;
        color: #1a1a1a;
        font-size: 16px;
        font-family: 'Circular Std Med';
    }
    .load-more-comments {
        font-family: 'CircularAirPro Light';
        font-size: 16px;
        color: #b2b2b2;
    }
    div.comments--wrap a > img {
        width: 26px;
        margin-right: 5px;
        position: relative;
        top: 2px;
    }
    .post-footer-info.margin--helper {
        margin-left: 0;
        margin-right: -5px;
    }
}