/*-- Post image styles --*/
.post-block .post-image-container ul.post-image-list li {
    height: auto;
    min-height: 200px;

    a {
        display: inline-block;

        img {
            width: 100% !important;
            height: 100%;
            overflow: hidden;
        }
    }
}

@include less-sm() {
    div.image--post,
    .post-footer-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .post-block .review-inner-layer {
        padding: 0;

        .review-block {
            border: none;
            border-radius: 0;
            background: #ffffff;
        }
    }

    .post-block .post-image-container ul.post-image-list li {
        min-height: 120px;
    }
}