/*-- Post text styles --*/
@include less-sm() {
    .post-block {
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin-bottom: 0;
    }
    .post-block .post-txt-wrap {
        line-height: 26 / 18 * 1;
        font-size: 18px;
    }
    .post-block.discussion-page .post-modal-foot-list span {
        padding: 0 3px;
        font-size: 14px;
    }
    .post-foot-block.comments--wrap {
        background-color: #f5f5f5;
        padding: 0 8px 0 12px;

        i[class^="trav-comment"] {
            display: inline-block;
            width: 26px;
            height: 26px;
            background-image: url("https://www.travooo.com/assets2/image/comment-mobile.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &:before {
                content: '';
            }
        }
    }
    .post-info img {
        width: 24px;
    }
    .post_share_button img {
        width: 27px;
        margin-right: 8px;
    }
    .post-top-name a {
        font-family: 'Circular Std Med' !important;
        font-size: 16px !important;
        color: #000000 !important;
    }
    .post-block .post-top-info-layer .post-top-info-wrap {
        align-items: center;
    }
    .post-top-name {
        margin-top: 5px;
    }
    .post-comment-layer {
        border-top: none;
        margin-top: 0;
    }
    .post-footer-info {
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px solid #f3f3f3;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;

        .post-foot-block {
            a,
            span {
                font-size: 0;
            }
        }
    }
    .post-reaction-title {
        display: none;
    }
    .post-block .check-in-point {
        font-size: 12px;
    }
    .post-block.discussion-page .discussion-wrapper {
        padding: 0;
        border: none;
    }
    .post-block .shared-link-details .bottom .text h4 {
        white-space: normal !important;
        overflow: visible !important;
    }
    .post-add-comment-block .avatar-wrap {
        align-self: flex-start;
    }
}