/*-- Asking --*/
[data-AEA-385] {
    @include less-sm() {
        &#askingPopup {
            background-color: #f5f5f5;

            .modal-custom-style {
                padding: Max(15px, Min(30px, #{getvmin(30px)})) Max(8px, Min(16px, #{getvmin(16px)}));
            }
        }
        .ask-expert-wrap {
            margin: 0;
            border: solid 1px #e6e6e6;

            .avatar-wrap {
                margin-bottom: 0;
                p {
                    padding-left: 0;
                }
            }

            .ask-row-inner {
                display: grid;
                grid-gap: Max(15px, Min(40px, #{getvmin(40px)}));
                padding: Max(10px, Min(20px, #{getvmin(20px)}));
            }

            .ask-row {
                padding: 0;
                margin-bottom: 0;
            }

            .ask-experts-block,
            .avatar-wrap .ava,
            .avatar-wrap .close{
                display: none;
            }

            .tab {
                &-info {
                    --minFontSize: 12px;

                    min-height: 54px / 20px * 1em;
                    border-radius: 10px / 20px * 1em;
                }

                &-list {
                    gap: Max(6px, Min(20px, #{getvmin(20px)}));
                    margin: 0;

                    &-item {
                        padding: 0;
                    }
                }
            }

            .footer-ask .btn {
                &.disabled, &:disabled {
                    color: #b3b3b3;
                    border: solid 1px #d9d9d9 !important;
                    background-color: #f2f2f2;
                }
            }
        }
    }
}