/*-- Questions --*/
[data-AEA-385] {
    &.custom-row.discussions-custom-row-wrapper {
        .btn-aq {
            gap: 20 / 24 * 1em;
            height: auto;
            min-height: 47 / 14 * 1em;
            font-family: "CircularAirPro Light";
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            justify-content: start;
            color: #b3b3b3;
            border: solid 1px #ebebeb;
            background-color: #ffffff;
            text-transform: none;
            padding: 13 / 14 * 1em;

            .ava {
                width: 55 / 24 * 1em;
                height: 55 / 24 * 1em;
                background-color: #eeeeee;
                border-radius: 50%;
            }
        }

        .tab {
            --fontSize: 28px;

            &-container {
                .tab-list {
                    border-bottom: 1px solid #e6e6e6;

                    &-item {
                        flex: 1 1 auto;
                    }
                }
            }

            &-panel {
                padding-right: 7px;
                padding-left: 7px;
            }

            &-discussion_order {
                $gap: Max(8px, Min(20px, #{getvmin(20px)}));

                grid-template-columns: auto 1fr;
                grid-gap: $gap;
                font-family: "Circular Std Book";
                font-size: Max(12px, Min(22px, #{getvmin(22px)}));
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                color: #333333;
                padding: 13px;

                .tab-list {
                    flex-wrap: wrap;
                    gap: $gap;
                }

                .text {
                    display: inline-flex;
                    align-items: center;
                }
            }
        }

        .grid-layer {
            display: grid;
            align-items: baseline;
            grid-gap: Max(8px, Min(20px, #{getvmin(20px)}));
        }

        .destination-searchbox {
            width: 100%;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            border-bottom: 1px solid #ebebeb;

            &:last-child {
                border-bottom: none;
            }

            .mobile-filter-toggler {
                position: relative;
            }

            .travlogSelected {
                display: inline-block;
                position: relative;
                padding: 0 0px;

            }

            .travlogSelected input[type='radio'] {
                display: none;
            }

            .travlogSelected label {
                direction: ltr;
                color: #666;
                font-weight: normal;
            }

            .current-tab #trav-log-icon {
                color: #4080ff;
                font-size: 24px;
            }

            #trav-log-icon {
                color: #b2b2b2;
                font-size: 24px;
            }

            .travlogSelected label:before {
                content: " ";
                display: inline-block;
                position: relative;
                top: 5px;
                margin: 0 15px 0 0;
                width: 19px;
                height: 19px;
                border-radius: 11px;
                border: 1px solid #4080ff;
                background-color: transparent;
            }

            .travlogSelected input[type=radio]:checked + label:after {
                border-radius: 11px;
                width: 9px;
                height: 9px;
                position: absolute;
                top: 10px;
                left: 5px;
                content: " ";
                display: block;
                background: #4080ff;
            }
        }

        @include less-sm() {
            margin-top: 100px;

            .main-content-layer {
                padding-right: 7px;
                padding-left: 7px;

                &.flex-first {
                    order: 1;
                }

                & + .main-content-layer {
                    margin-top: 20px;
                }
            }

            .search-discussion-input-wrapper {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0 !important;

                .trav-search-icon {
                    left: getvmin(27px);
                }
            }

            .search-discussion-input {
                font-size: Max(12px, Min(24px, #{getvmin(24px)}));
                padding: 15 / 12 * 1em;
                padding-left: 45 / 12 * 1em;
                background-color: #ebebeb;
            }
            .post-block.post-side-block .post-side-top {
                padding: 10px 13px;
                height: auto;
            }
            .post-block.post-country-block .post-side-top {
                flex-direction: column;
                padding: 0 !important;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 50% !important;
                transform: translate(0, -50%);
            }
            .disc-main-block {
                .post-tips-top-layer.post-topic-wrapper {
                    .post-tips-top {
                        .post-tips-ttl {
                            line-height: normal;
                            margin-top: 0;
                        }

                        .btn {
                            display: none;
                        }
                    }

                    .post-top-info-action .dropdown {
                        display: none;
                    }
                }

                .topic-inside-panel-wrap {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                .post-top-info-layer .post-top-info-txt .post-info,
                .post-block .post-foot-block .dis-more-trip-link {
                    font-size: 12px;
                }

                .disc-foot-block {
                    padding-top: 0;
                    border-top: none;
                }
            }
        }
    }
}