/*-- Web Bugs fix styles Sprint 1 --*/
.modal-custom-style {
    position: relative;

    .modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

a.discussion-vote-link span.arrow-icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i[class^=trav] {
        width: 100%;
        height: 100%;
        margin-right: 0;
        padding-left: 0 !important;
    }
}