/*-- AEA-2029 --*/
@include less-sm() {
    .home-mobile-header {
        b, strong {
            font-weight: 500;
        }
    }
    .post-block .topic-inside-panel-wrap .topic-inside-panel .panel-txt p,
    .post-tips-top-layer .post-tips-main-block .post-tips-row .tips-top .tip-content .tip-txt p {
        font-size: getrem(16px);
    }
}