.btn-primary {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    border: 1px solid #2a62d2;
    background-color: #4080ff;
}

.btn {
    font-size: 14px;
    white-space: nowrap;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: inherit;
}

.btn.btn-primary {
    font-family: inherit;
    background: #4080ff;
    border-color: #2a62d2;
}

input {
    color: inherit;
    padding: inherit;
}

i {
    font-style: italic;
}

header.navbar {
    z-index: 1049;
}

@media (max-width: 767px) {
    header.navbar {
        z-index: 130;
    }
}