.post {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
}
.post__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px 18px;
}
.post__avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
}
.post__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4080ff;
    margin-right: 14px;
}
.icon--calendar {
    width: 24px;
    height: 24px;
}
.icon--angle-down {
    width: 14px;
    height: 14px;
}
.icon--earth {
    width: 18px;
    height: 18px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    -webkit-transition: fill .15s,color .15s;
    transition: fill .15s,color .15s;
}
.post__title-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.post__title {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: .44444em;
    color: #333;
}
.label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #e6e6e6;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
}
.post__username {
    font-size: 16px;
    line-height: 1.45;
}
.post__posted {
    font-weight: 300;
    color: #1a1a1a;
}
.post__content {
    padding: 0 30px;
}
.post__text {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 1em;
    line-height: 1.44444em;
}
.event__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 19px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-radius: 0 0 1px 1px;
}
.event__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #3f3f3f;
    text-align: center;
    width: 136px;
    padding-left: 10px;
    padding-right: 6px;
}
.event__date-start, .event__date-end {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.event__date-label {
    font-size: 12px;
    text-transform: uppercase;
}
.event__date-value {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
}
.event__date .icon {
    color: gray;
    width: 14px;
    height: 14px;
}
.event__main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 300;
    color: #1a1a1a;
}
.post-comment-layer {
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    margin-bottom: -14px;
}
.post-comment-top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
}
.filter-trip-comment, .filter-event-comment {
    color: #b3b3b3;
    background: #fff;
    margin-right: 21px;
    outline: 0;
    font-weight: 300;
    -webkit-transition: color .15s;
    transition: color .15s;
    cursor: pointer;
}
.filter-trip-comment.active, .filter-event-comment.active {
    color: #1a1a1a;
    font-weight: 400;
}
.post-comment-top-info .comm-count-info {
    font-size: 14px;
    color: #b2b2b2;
    font-family: 'CircularAirPro Light';
}
.post-comment-wrapper {
    padding-bottom: 5px;
}
.post-comment-wrapper .post-comment-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 15px;
}
.comments__items .post-comment-row .post-com-avatar-wrap,
.post-comment-wrapper .post-comment-row .post-com-avatar-wrap {
    padding-right: 18px;
    padding-top: 5px;
}
.comments__items .post-comment-row .post-com-avatar-wrap img,
.post-comment-wrapper .post-comment-row .post-com-avatar-wrap img {
    border: 1px solid #ebebeb;
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.comments__items .post-comment-row .post-comment-text,
.post-comment-wrapper .post-comment-row .post-comment-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.comments__items .post-comment-row .post-comment-text .post-com-name-layer a.comment-name,
.post-comment-wrapper .post-comment-row .post-comment-text .post-com-name-layer a.comment-name {
    font-family: 'Circular Std Book';
    font-size: 16px;
    color: #4080ff;
}
.post-com-top-action {
    display: inline-block;
    float: right;
}
.comments__items .post-comment-row .post-comment-text .comment-txt p,
.post-comment-wrapper .post-comment-row .post-comment-text .comment-txt p {
    font-family: 'CircularAirPro Light';
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 10px;
}

.comments__items .post-comment-row .post-comment-text .comment-bottom-info,
.post-comment-wrapper .post-comment-row .post-comment-text .comment-bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comment-info-content .reply-link {
    font-size: 15px;
    text-decoration: none !important;
    font-family: 'Circular Std Book';
    color: #4080ff;
    padding-left: 7px;
}
.post-comment-wrapper .post-comment-row .post-comment-text .comment-bottom-info .com-time {
    font-family: 'CircularAirPro Light';
    font-size: 14px;
    color: #999999;
    line-height: 19px;
}
.event__date .icon {
    color: gray;
    width: 14px;
    height: 14px;
}
.post__like-btn, .post__comment-btn, .post__reaction-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1a1a1a;
    font-weight: 300;
    margin-right: 20px;
    outline: 0;
    line-height: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.icon--like {
    width: 20px;
    height: 18px;
}
.post__comment-btn .icon {
    margin-right: 8px;
    color: #4080ff;
}
.icon--comment {
    width: 14px;
    height: 14px;
}
.card .user-list, .post__comment-btn .user-list, .post__tip-more .user-list, .add-review__comment-btn .user-list, .event-item__comment-btn .user-list, .travelog-item .user-list, .travelog .user-list, .comments-modal .user-list, .about-modal .user-list {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    background-color: transparent;
}
.post__comment-btn .user-list {
    margin-right: 8px;
}
.user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 #e6e6e6;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    padding: 12px 15px;
}
.card .user-list__item, .post__comment-btn .user-list__item, .post__tip-more .user-list__item, .add-review__comment-btn .user-list__item, .event-item__comment-btn .user-list__item, .travelog-item .user-list__item, .travelog .user-list__item, .about-modal .user-list__item {
    margin: 0;
}
.user-list__item:last-child {
    margin-right: 0;
}
.user-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.post__comment-btn .user-list__user, .post__tip-more .user-list__user, .add-review__comment-btn .user-list__user, .event-item__comment-btn .user-list__user, .travelog-item .user-list__user, .travelog .user-list__user, .about-modal__header .user-list__user {
    z-index: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #e6e6e6;
}
.user-list__user:nth-child(1) {
    z-index: 7;
}
.user-list__user {
    position: relative;
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
}
img.user-list__avatar {
    max-width: 100%;
    height: auto;
}
.user-list__avatar {
    border-radius: 50%;
}
.post__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px 18px;
}
.event__img {
    max-width:100%;
}
.comments {
    padding: 17px 30px 20px;
    background-color: #fafafa;
    border-radius: 0 0 5px 5px;
    margin-bottom: -1px;
    border-bottom: 1px solid #e6e6e6;
}
.comments__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 14px;
    color: #999;
    font-weight: 300;
}
.comments__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comments__filter-btn--active {
    margin-top: 2px;
    color: #1a1a1a;
    font-weight: 400;
}
.comments__filter-btn {
    color: #b3b3b3;
    margin-right: 21px;
    outline: 0;
    font-weight: 300;
    -webkit-transition: color .15s;
    transition: color .15s;
}
.post-add-comment-block {
    align-items: end !important;
}
.post-add-comment-block {
    padding-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.post-add-comment-block .avatar-wrap {
    padding-right: 19px;
}
.post-add-comment-block .avatar-wrap img {
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.post-add-comment-block .post-add-com-input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.post-block.post-create-block .post-create-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
}
.post-alloptions {
    flex: 1;
    display: flex;
    align-items: center;
}
.btn--main {
    color: #fff;
    background-color: #4080ff;
    border: 0;
}