/*=== PROFILE_PAGE_STYLING ===*/
:root {
  --colorDanger: #fc225a;
  --colorPrimary: #4080ff;
}

/* Header */
@media (max-width: 767px) {
  .mobile-back-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    font-size: Min(4vw, 1.875rem);
    border: none;
    background: transparent;
  }
}

/* Button */
.button {
  --fontSize: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 11ch;
  min-height: Min(8.93333vw, 4.1875rem);
  padding: 0.25em 0.90909em;
  -webkit-transition: 180ms ease-in-out;
  transition: 180ms ease-in-out;
  -webkit-transition-property: background, border;
  transition-property: background, border;
  border-radius: 0.45455em;
  background-color: #f3f3f3;
  color: #1a1a1a;
  font-family: 'Circular Std Med';
  font-size: Min(2.93333vw, 1.375rem);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0;
}

@media screen and (-ms-high-contrast: active) {
  .button {
    border: 2px solid currentColor;
  }
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
}

.button-danger {
  color: var(--colorDanger);
}

.button-danger-full {
  color: #ffffff;
  background-color: var(--colorDanger);
}

.button-primary {
  color: #ffffff;
  background-color: var(--colorPrimary);
}

.button-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
}

.button-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/*=== DESKTOP Profile photo cropping style ===*/
@media (min-width: 768px) {
  #cropProfileImagePop .modal-profile-title,
  #cropCoverImagePop .modal-profile-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  #cropProfileImagePop .post-block.post-asking-block,
  #cropCoverImagePop .post-block.post-asking-block {
    padding-top: 18px;
    padding-bottom: 15px;
  }
  #cropProfileImagePop .modal-profile-close,
  #cropCoverImagePop .modal-profile-close {
    top: 22px;
    width: 16px;
    height: 16px;
  }
  #cropProfileImagePop .profile-photo-m-footer,
  #cropCoverImagePop .profile-cover-m-footer {
    padding-top: 15px;
  }
  #cropProfileImagePop .profile-photo-m-footer .button,
  #cropCoverImagePop .profile-cover-m-footer .button {
    min-height: 47px !important;
    font-size: 18px !important;
    padding: 0.45em 1em;
  }
  #cropProfileImagePop .delete-profile-photo-link,
  #cropCoverImagePop .delete-profile-cover-link {
    font-family: 'CircularAirPro Light';
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #fc225a;
  }
  .modal-profile .cr-slider-wrap {
    display: none;
  }
}

/*=== MOBILE Profile photo cropping style ===*/
.modal-profile-close {
  position: absolute;
  top: Min(3.73333vw, 1.75rem);
  right: Min(2.8vw, 1.3125rem);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: Min(2.93333vw, 1.375rem);
  height: Min(2.93333vw, 1.375rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23'%3E%3Cpath fill='%23B3B3B3' fill-rule='evenodd' d='M21.81 20.189l-2.122 2.121-8.689-8.689L2.31 22.31.189 20.189 8.878 11.5.189 2.81 2.31.689l8.689 8.689L19.688.689 21.81 2.81l-8.689 8.69 8.689 8.689z'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.modal-profile-close svg {
  width: 100%;
  height: 100%;
}

.modal-profile-header {
  padding: Min(5.33333vw, 2.5rem) Min(3.33333vw, 1.5625rem) Min(3.33333vw, 1.5625rem);
}

.modal-profile-header .modal-profile-title:last-child {
  margin-bottom: 0;
}

.modal-profile-title {
  font-family: "Circular Std Med";
  font-size: Min(3.46667vw, 1.625rem);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-bottom: Min(3.2vw, 1.5rem);
}

.modal-profile .modal-dialog {
  max-width: Min(95.33333vw, 44.6875rem);
}

.modal-profile.fade .modal-dialog {
  top: 0;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, top .3s ease-out;
}

.modal-profile.show .modal-dialog {
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.modal-profile p {
  font-family: 'CircularAirPro Light';
  font-size: Min(3.6vw, 1.6875rem);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.modal-profile p:last-child {
  margin-bottom: 0;
}

.modal-profile .ask-foot-btn, .modal-profile-footer {
  --gridGap: Min(2.66667vw, 1.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: var(--gridGap);
}

.modal-profile .ask-foot-btn .text-right, .modal-profile-footer .text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: var(--gridGap);
}

.text-center .modal-profile .ask-foot-btn, .text-center .modal-profile-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-profile-footer {
  padding: Min(3.33333vw, 1.5625rem) Min(3.33333vw, 1.5625rem) Min(5.33333vw, 2.5rem) Min(3.33333vw, 1.5625rem);
}

.modal-profile .post-block {
  padding-top: Min(3.33333vw, 1.5625rem);
  padding-bottom: Min(3.33333vw, 1.5625rem);
  padding-left: Min(1.33333vw, 0.625rem);
  padding-right: Min(1.33333vw, 0.625rem);
  border-radius: Min(1.33333vw, 0.625rem);
}

.modal-profile .profile-upload-content {
  border-radius: Min(0.66667vw, 0.3125rem);
  overflow: hidden;
}

.modal-profile .cr-slider {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  min-height: 36px;
}

.modal-profile .cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-profile .cr-slider:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.modal-profile .cr-slider::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.modal-profile .cr-slider::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  border: solid 6px var(--colorPrimary);
  background-color: #ffffff;
  margin-top: -15px;
  cursor: pointer;
}

.modal-profile .cr-slider::-moz-range-thumb {
  width: Min(3.86667vw, 1.8125rem);
  height: Min(3.86667vw, 1.8125rem);
  border: solid 6px var(--colorPrimary);
  background-color: #ffffff;
  cursor: pointer;
}

.modal-profile .cr-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: #e6e6e6;
  cursor: pointer;
}

.modal-profile .cr-slider::-moz-range-track {
  width: 100%;
  height: Min(0.8vw, 0.375rem);
  background: #e6e6e6;
  cursor: pointer;
}

.modal-profile .croppie-container {
  height: auto !important;
  padding-bottom: 1px !important;
}

.modal-profile .croppie-container[data-crop-type="square"] .cr-viewport {
  width: Min(61.73333vw, 463px) !important;
  height: Min(27.6vw, 304px) !important;
  border-radius: 5px;
}

.modal-profile .croppie-container .cr-slider-wrap {
  margin-top: Min(3.33333vw, 1.5625rem);
  margin-bottom: Min(3.33333vw, 1.5625rem);
}

.modal-profile .croppie-container .cr-boundary {
  height: auto !important;
  padding-bottom: 56.11511%;
}

.modal-profile .croppie-container .cr-viewport {
  width: Min(27.6vw, 207px) !important;
  height: Min(27.6vw, 207px) !important;
}

.modal-profile .cr-slider-wrap {
  display: none;
  width: 75%;
  margin: 25px auto;
}

.modal-profile .cr-slider-wrap .ui-slider-handle,
.modal-profile .cr-slider-wrap .ui-slider-handle:hover {
  top: 0;
  margin-left: 0;
  width: 35px;
  height: 35px;
  border: solid 6px var(--colorPrimary) !important;
  background-color: #ffffff !important;
  border-radius: 100% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.modal-profile .cr-slider-wrap .ui-widget.ui-widget-content {
  width: 100%;
  height: 6px;
  background: #e6e6e6;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  button.btn.btn-mobile-side.left-outside-btn {
    display: inline-block;
  }
  .left-outside-menu-wrap .leftOutsideMenuClose {
    top: 0;
    right: 0;
    padding: 0.5em;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  #follow_user_button.banner-comment-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    grid-gap: Min(1.73333vw, 0.8125rem);
  }
  #follow_user_button.banner-comment-mobile .f-user-link {
    right: auto !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding-left: Min(5.33333vw, 2.5rem) !important;
    padding-right: Min(5.33333vw, 2.5rem) !important;
  }
  #follow_user_button.banner-comment-mobile .f-list-button {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #2a62d2;
    background-color: #ffffff;
    border-color: #ffffff;
  }
  #follow_user_button.banner-comment-mobile .f-list-button i {
    color: #808080;
  }
  #follow_user_button.banner-comment-mobile .dropdown-menu.dropdown-menu-right.dropdown-arrow:after {
    right: 20px;
  }
  .mobile-post-profile-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content-layer .post-block .post-side-top .side-right-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile-main-content-layer .top-banner-block {
    height: Min(74.4vw, 34.875rem);
  }
  .profile-main-content-layer .top-banner-block img.avatar {
    height: 75px;
  }
}
