.location-select2 {
  max-width: 100%;
}

.foot-block-grid {
  display: grid;
  grid-row-gap: 14px;
}

@media (max-width: 767px) {
  .travlog-list .travlog-info-block .info-wrapper .foot-block {
    padding-top: 0;
  }

  .foot-block-grid {
    grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-block-grid .author-name,
.foot-block-grid .time {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-hyperlink, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .image-info, .modal-custom-style .post-block.post-travlog.post-create-travlog .main-content .create-row .video-info {
    text-align: center !important;
  }
}