/*----START--- Non logged in user script*/
.non-logged-header-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
}

.non-logged-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: #4080ff;
    background-image: url("../image/bottom-logo.png");
    background-repeat: no-repeat;
    background-position-x: 9%;
    z-index: 9999;

}

.non-logged-header-block img{
    width: 190px;
}


.non-logged-footer-title{
    font-family: 'Circular Std Book';
    color: #ffffff;
    line-height: 1.38;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.non-logged-footer-desc{
    font-family: 'CircularAirPro Light';
    color: #ffffff;
    line-height: 1.38;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}

.non-logged-btn{
    padding: 11px 31px 10px 31px;
    margin-right: 13px;
    width: 110px;
    height: 45px !important;
    border-radius: 10px !important;
    font-family: 'Circular Std Book';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
}

.non-logged-footer-action-block{
    padding-left: 117px;
}

.login-btn{
    background-color: #e9f0ff !important;
    color: #4080ff;
    border-color: #e9f0ff !important;
}

.login-btn:hover{
    background-color: #dee5f5 !important;
}

.footer-login-btn{
    background-color: #5f95ff !important;
    color: #ffffff !important;
    border-color: #5f95ff !important;
}

.footer-login-btn:hover{
    background-color: #5991fd !important;
}

.signup-btn{
    margin-right: 13px;
    background-color: #4080ff !important;
    color: #fff !important;
    border-color: #4080ff !important
}

.signup-btn:hover{
    background-color: #0b52de !important;
}

.footer-signup-btn{
    margin-right: 13px;
    background-color: #ffffff !important;
    color: #4080ff !important;
}

.footer-signup-btn:hover{
    background-color: #e0e0e0 !important;
}

.pb-90{
    padding-bottom: 90px !important;
}
/*----END--- Non logged in user script*/

/*New design*/

.input-input__arrow{
    height: 26px;
    position: absolute;
    top: 15px;
    right: 1px;
    width: 20px;
}

.input-input__arrow b{
    border-color: #343a40 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -11px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.twitter-link-protocol, .facebook-link-protocol{
    position: absolute;
    top: 20px;
    left: 56px;
    color: #c1c1c1;
    display: none;
}

#signUpForm input.error {
    border: 1px solid #fc225a !important;
}

.form-group {
     margin-bottom: 10px !important; 
}

#signUp button{
    height: auto !important;
    border: 1px solid transparent !important;
    display: block !important;
    width: 100%;
}

.non-loggedin-login-modal .login-access-btn:disabled{
    background-color: #4080ff !important;
    color: #ffffff !important;
}

.non-loggedin-login-modal .login-access-btn:disabled:hover{
    background-color: #4080ff !important;
    color: #ffffff !important;
}

.nl-logo{
    width: 228px;
}

/* width */
.res-scroll::-webkit-scrollbar, .regional-content-ui::-webkit-scrollbar {
    width: 9px;
}

/* Track */
.res-scroll::-webkit-scrollbar-track, .regional-content-ui::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128 128 128 / 18%);
    border-radius: 9px;
}

/* Handle */
.res-scroll::-webkit-scrollbar-thumb, .regional-content-ui::-webkit-scrollbar-thumb  {
    background: #8e8e8e;
    border-radius: 9px;
}

/* Handle on hover */
.res-scroll::-webkit-scrollbar-thumb:hover, .regional-content-ui::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}


.sign-up-style .step-content{
    padding: 0px 40px !important;
}

.sign-up-style .common-content{
    padding: 0px 40px !important;
}
.register-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 103px;
    padding: 24px 30px 58px;
    background: linear-gradient(to top, rgb(255 255 255 / 0%), #000000);
    z-index: 999999;
}

.trev-register-menu-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul.trev-register-menu-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding: 0 57px;
    padding-top: 8px;
}

.lng-subtext{
    text-align: left;
    margin-bottom: 20px;
}

.reg-content-list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 13px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 12px;
}

.reg-content-list li span {
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.32px;
    text-align: left;
    color: #1a1a1a;
}

.def-language {
    color: #9c9c9c !important;
}

.reg-content-list li a.handle {
    cursor: move;
}

.regional-content-ui {
    position: absolute;
    top: 53px;
    z-index: 100000 !important;
    border: 1px solid #e6e6e6 !important;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    color: #333333;
    width: 100%;
}

.reg-ui-item {
    cursor: pointer;
}

.reg-ui-item:hover {
    color: #fff;
    background-color: #007bff;
}

.reg-ui-item .content-item-wrapper {
    padding: 6px 1em 6px .4em;
    text-align: left;
}

.sp-language-content{
    position: relative;
}

.remove-content-lng {
    position: absolute;
    right: -10px;
    top: -7px;
    background: #fc225a;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    padding: 1px 1px;
    text-decoration: none;
    display: none;
}

.reg-content-list li:hover .remove-content-lng {
    display: block;
}

.remove-content-lng:hover {
    color: #fff;
    text-decoration: none;
    background: #e82456;
}

.language-suggestion-block{
    padding-top: 13px;
}

.language-suggestion-block .sp-lng{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 13px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.32px;
    text-align: left;
    color: #1a1a1a;
}
.language-suggestion-block .sp-lng:hover{
    background: #f7f7f7;
}

ul.trev-register-menu-wrap li{
}

#step2_form .custom-select.error{
    border: 1px solid #fc225a !important;
}

ul.trev-register-menu-wrap li a{
    font-size: 17px;
    font-weight: 300;
    font-family: 'CircularAirPro Light';
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #999999;
    text-decoration: none;
    padding: 0 15px;
}

ul.trev-register-menu-wrap li.active a{
    font-family: 'Circular Std Book';
    font-weight: normal;
    color: #ffffff;
}

ul.trev-register-menu-wrap li a:hover{
    font-weight: normal;
    color: #ffffff;
}


.top-login-btn{
    padding: 11px 31px 10px 31px;
    margin-right: 13px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(50 51 54 / 68%);
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #fff;
}

.top-login-btn:hover{
    background-color: rgb(50 51 54 / 90%);
    color: #fff;
}
.top-login-btn:focus, .top-signup-btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(154 158 162 / 25%);
}

.top-signup-btn{
    padding: 11px 25px 10px 25px;
    width: 110px;
    border-radius: 5px;
    background-color: #e8e9ea;
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000;
}

.top-signup-btn:hover{
    background-color: #cdcdcd;
    color: #000;
}

#signUp, .sign-up{
    padding-top: 150px;
}

.top-layer .login-title{
    font-size: 24px;
    font-weight: 500;
    color: #131313;
    font-family: 'Circular Std Book';
    margin-bottom: 3px;
}

.top-layer .login-descripton{
    font-family: 'CircularAirPro Light';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
    margin-bottom: 0;
}

.sign-up-style .modal-content .modal-body .top-layer {
    padding: 21px 0 28px !important;
}

.sign-up-style .modal-content .modal-body form.login-form .forget-password-link{
    font-weight: 300;
    line-height: 1.86;
}

.login-access-btn{
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: #4080ff;
    padding: 11px 20px;
}

.login-access-btn:hover{
    color: #ffffff;
    background-color: #0d5eff;
}

.btn-social-button{
    font-family: 'Circular Std Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px 33px 10px 14px;
}

.btn-social-button:hover{
    color: #1a1a1a;
    background: #e6e6e6;
}

.social-icon{
    float: left;
}

.sign-up-style .modal-content .modal-footer{
    padding-bottom: 0 !important;
    padding-top: 19px !important;
    flex-direction: column;
}

.exp-signup-button{
    max-width: 438px;
    width: 438px;
    text-align: center;
    bottom: 0;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
    padding: 20px 0px;
    height: 65px;
    margin-top: 17px;
    margin-left: 0 !important;
    cursor: pointer;
}

.exp-signup-button:hover{
    background-color: #e6e6e6;
}

.foot-txt{
    font-family: 'CircularAirPro Light';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
}

.signup-button{
    font-weight: 500;
    font-family: 'Circular Std Book';
    cursor: pointer;
}

.exp-text-title{
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.exp-text-desc{
    font-family: 'Circular Std Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

span.exp-icon {
    width: 25px;
    height: 16px;
    border-radius: 3px;
    background: #3f7fff !important;
    color: #fff !important;
    display: inline-block;
    font-size: 10px !important;
    padding: 3px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 3px;
    text-align: center;
    font-weight: normal;
    margin-left: 3px;
}

.reg-bottom-text{
    font-size: 14px !important;
    font-family: 'CircularAirPro Light';
}

.reg-term-text li, .reg-term-text li a{
    font-size: 14px !important;
}

.sign-up-style .modal-content .modal-body.body-create {
    padding: 24px 0 0 !important;
}

.signup-back-btn{
    font-family: 'Circular Std Book';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4d4d4d;
    cursor:pointer;
}

.step-back-btn{
    position: absolute;
    left: 25px;
    bottom: 14px;
    font-family: 'Circular Std Book';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4d4d4d;
    cursor:pointer;
}

#createAccountConfirm .sign-up-style {
    max-width: 626px !important;
}

.w-628{
    max-width: 628px !important;
}

.final-m-content{
    padding: 0 !important;
}

.final-m-content .description{
    text-align: center;
    padding: 16px 24px;
}

.final-m-content .description .desc-title{
    font-family: 'Circular Std Book';
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #1a1a1a;

}

.final-m-content .description .content{
    font-family: 'CircularAirPro Light';
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    padding: 15px 0px;
}

.final-m-content .modal-body{
    padding: 0 !important;
}

.final-m-content .description .continue{
    width: 162px !important;
    height: 58px !important;
    font-family: "Segoe UI" !important;
    font-size: 18px !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44 !important;
    margin: 13px auto;
}

.final-m-content .description .continue i{
    padding: 3px 0 0 5px;
    font-size: 15px;
}

div#createAccountConfirm div.description h1{
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    margin-top: 34px;
}

div#createAccountConfirm div.description div.content{
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    font-family: 'CircularAirPro Light';
    margin: 24px auto;
}

.confirm-btn{
    width: 162px;
    height: 58px;
    padding: 22px 48px 22px 49px;
    border-radius: 5px;
    margin: 23px auto;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #4080ff;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.step-top-layer{
    padding: 21px 0 0px !important;
    text-align: center;
}

.step-num{
    margin-top: 3px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4d4d;
    font-family: 'CircularAirPro Light';
}

.current-step{
    font-family: 'Circular Std Book';
    font-weight: 500;
}

.step-selected-block .lSAction a.lSPrev {
    left: 0;
    text-align: left;
    background: linear-gradient(90deg,rgb(255 255 255) 30%,rgb(255 255 255 / 0%) 100%);
    width: 65px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 0;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.step-selected-block .lSAction a.lSNext {
    right: 0;
    text-align: right;
    background: linear-gradient(270deg,rgb(255 255 255) 30%,rgba(245,245,245,0) 100%);
    width: 65px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 0;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 992px){
    .step-selected-block:hover .lSAction a {
        opacity: 1; 
    }
}

.step-selected-block .lSAction a i[class^=trav] {
    font-size: 42px;
    color: #161616;
}


.register-progress{
    width: 630px; 
}

.prog-title{
    color: #fff;
}

.expertise-list, .exp-selected{
    text-align: left;
    display: flex;
    flex-flow: row wrap;
}

.expertise-list{
    padding-top: 15px;
}

.area-suggestion{
    background-color: #f2f2f2 !important;
    cursor: pointer;
}

.expert-item{
    height: 40px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background-color: #4080ff;
    margin-right: 9px;
    display: inline-flex;
    font-size: 18px;
    color: #666666;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.exp-c-flag{
    padding-right: 7px;
}

.exp-c-flag img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 1500px) and (min-width: 768px) {
    .responsive-modal .sign-up-style {
        max-width: 400px !important;
    }

    .register-block{
        margin: 0;
        padding: 24px 30px 20px;
    }

    ul.trev-register-menu-wrap li a {
        font-size: 16px;
    }

    #signUp, .sign-up {
        padding-top: 90px;
    }

    .responsive-modal .sign-up-style .common-content {
        padding: 0px 38px !important;
    }

    .responsive-modal .sign-up-style .modal-content .modal-body .top-layer{
        padding: 5px 0 15px !important;
    }

    .top-layer .login-title {
        font-size: 23px;
        margin-bottom: 1px;
    }

    .top-layer .login-descripton {
        font-size: 15px;
    }

    .responsive-modal .sign-up-style .common-content .form-group {
        margin-bottom: 7px;
    }

    .responsive-modal .sign-up-style .common-content .form-group .form-control {
        font-size: 15px;
        padding: 13px 18px 13px;
    }

    .responsive-modal .sign-up-style .common-content .modal-body form.login-form .forget-password-link {
        padding: 5px 0 5px;
        font-size: 13px;
    }

    .responsive-modal .sign-up-style .common-content .modal-body form.login-form p.simple-txt {
        font-size: 14px;
        padding: 5px 0 1px;
        margin-bottom: 0;
    }

    .btn-social-button{
        padding: 9px 33px 6px 14px;
        font-size: 15px;
    }

    .sign-up-style .common-content .modal-body{
        padding: 24px 0 11px;
    }

    .responsive-modal .sign-up-style .common-content .modal-footer {
        padding-top: 13px !important;
    }

    .exp-signup-button {
        max-width: 400px;
        width: 400px;
        padding: 16px 0px;
        height: 54px;
        margin-top: 12px;
    }

    .exp-signup-button span{
        font-size: 16px;
    }

    .step-1 button.continue {
        width: 316px !important;
    }

    div#createAccount2 div.g-recaptcha {
        transform: scale(1.05) !important;
    }


}

.trav-navbar-btn{
    color: #fff;
    display:none;
}

.trav-navbar-btn:focus{
    outline: none !important;
}

.responsive-menu-block{
    position: absolute;
    right: 12px;
    top: 65px;
    background: #fff;
    padding: 11px;
    border-radius: 5px;
}

ul.trav-responsive-menu-list li:not(:last-child) a {
    font-size: 17px;
    font-weight: 300;
    font-family: 'CircularAirPro Light';
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #373737;
    text-decoration: none;
    padding: 0 15px;
}

ul.trav-responsive-menu-list li{
    padding: 5px 0;
}

ul.trav-responsive-menu-list li.active{
   background: #f2f2f2;
}

@media (max-width: 1066px){
    .trav-navbar-btn {
        display:block; 
    }
    .trev-register-action {
        display:none; 
    }
    .signup-menu-list {
        display:none !important; 
    }
}
/*End New design*/


.pt-70{
    padding-top: 70px;
}


.signup-header-block .signup-logo img{
    width: 162px;
}

.signup-header-block .container-fluid{
    padding-top: 11px;
}

.account-selected-count{
    text-align: left;
    margin-top: 15px;
    font-size: 18px;
    color: #000000;
    font-family: 'CircularAirPro Light';
    margin-bottom: 0;
}

.suggestion-title{
    text-align: left;
    margin-top: 15px;
    font-size: 18px;
    color: #000000;
    font-family: 'CircularAirPro Light';
    margin-bottom: 0px;
}

.uname-group{
    position: relative;
}

.uname-info{
    position: absolute;
    top: 19px;
    right: 10px;
    color: #32c984;
    text-transform: uppercase;
    font-family: 'Circular Std Book';
}

.uname-info.available{
    color: #32c984;
}

.uname-info.exit{
    color: red;
}

.sh-progress-wrap{
    display: flex;
    width: 90%;
    margin-left: auto;
    font-family: 'Circular Std Book';
    color: #1a1a1a;
    padding-top: 12px;
    align-items: center;
}

.sh-progress-blog{
    width: 100%;
    padding: 0 12px;
}

.expert-search-label{
    padding-top: 8px;
    text-align: left;
    padding-bottom: 0;
    width: 100%;
    color: red;
    font-family: 'CircularAirPro Light';
}

.sh-progress-blog .progress{
    height: 0.7rem !important;
    border-radius: 5px;
    background-color: #333333 !important;
}

div.modal.sign-up h5.title {
    font-size: 16px;
    color: #999999;
    font-family: "Segoe UI";
    text-align: center;
}

div.modal.sign-up a.logo-wrap {
    padding-left: 0px !important;
}

div.modal.sign-up a.logo-wrap img{
    width: 228px;
}

div.modal.sign-up span.skip {
    cursor: pointer;
    right: 29px;
    display: inline-flex;
    float: right;
    position: absolute;
    color: #4080ff;
    top: 29px;
    line-height: 0.91;
    font-size: 21px;
    font-family: 'Circular Std Book';
    z-index: 44444;
}

div.modal.sign-up span.skip i{
    padding-left: 6px;
}

div.modal.sign-up div.error-messages div {
    color: #fc225a;
    font-size: 16px;
    font-family: "Segoe UI";
    text-align: center;
}

div.modal.sign-up input.error {
    border: 1px solid #fc225a !important;
}

div.modal.sign-up button.continue {
    width: 356px;
    height: 50px;
    border-radius: 5px;
    background: #4080ff;
    border-color: #4080ff;
    font-family: 'Circular Std Book';
    font-size: 16px;
    line-height: 0px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}


label.error{
    padding-top: 4px;
    color:red;
}


div#createAccount2 div.g-recaptcha {
    transform: scale(1.179);
    transform-origin: 0 0;
}

.mb-21{
    margin-bottom: 21px;
}

div#createAccount2 div.account-types {
    justify-content: center;
    display: flex;
    margin-bottom: 19px;
}

div#createAccount2 div.account-type {
    width: 178px;
    height: 202px;
    border-radius: 5px;
    background-color: #fbfbfb;
    border: 1px solid #f2f2f2;
    display: inline-block;
    cursor: pointer;
}

div#createAccount2 div.account-type:not(:first-child) {
    margin-left: 21px;
}

.createAccount2_continue.continue.disabled{
    color: #999999 !important;
    background-color: #e6e6e6 !important;
    border-color: #dcdcdc !important;
}

div#createAccount2 .sign-up-style .modal-content {
    padding: 0 29px;
}

div#createAccount2 div.account-type img {
    padding: 36px 60px 26px 60px;
}

div#createAccount2 div.account-type img.company_type {
    padding-top: 56px;
}

div#createAccount2 div.account-type h3 {
    font-size: 18px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    font-weight: 500;
    text-align: center;
}

div#createAccount2 div.account-type.active {
    filter: drop-shadow(0px 3px 4px rgba(11,11,12,0.1));
    background-color: #f2f6ff;
    border: 1px solid #c9d8fa;
}

div#createAccount3 input, div#createAccount3 select {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

div#createAccount3 div.form-group.continue-wrapper {
    margin-top: 10px;
}

div#createAccount3 .form-check {
    padding-left: 0px;
}

div.sign-up.search .top-layer {
    padding-bottom: 0;
}

div.sign-up.search .body-create {
    padding-bottom: 0;
}

div.sign-up.search .modal-footer {
    padding: 20px 0 15px;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    font-family: 'Circular Std Book';
    font-weight: 300;
    text-align: center;
}

div.sign-up.search .sign-up-style {
    max-width: 868px;
}

div.sign-up.search .sign-up-style .modal-content {
    padding: 0 29px;
}

.interest-error-block{
    padding-top: 7px;
    text-align: left;
    color: red;
}

.close-interest-filter, .close-exp-filter{
    padding-left: 7px;
    cursor: pointer;
}

div.sign-up.search .form-group.search img {
    position: absolute;
    left: 20px;
    top: 127px;
}

div.sign-up.search .form-group.search input {
    padding: 16px 62px 15px;
}

div.sign-up.search h4.title {
    font-size: 28px;
    line-height: 26px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    font-weight: normal;
}

div.sign-up.search h4.title span {
    border-bottom: 2px solid #1a1a1a;
    font-weight: bold;
}

.step-subtitle{
    font-size: 16px;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

div.sign-up.search div.favourites {
    margin-top: 17px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
}

div.sign-up.search div.sp-selected {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-right: 10px;
}

/* width */
div.sign-up.search div.favourites::-webkit-scrollbar {
    width: 7px;
}

/* Track */
div.sign-up.search div.favourites::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e6e6e6;
    /*border-radius: 10px;*/
}

/* Handle */
div.sign-up.search div.favourites::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

/* Handle on hover */
div.sign-up.search div.favourites::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

div.sign-up.search div.favourites div.favourite,  div.sign-up.search div.sp-selected div.favourite{
    margin-bottom: 20px;
    width: 141px;
    height: 120px;
    background: #000;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: url('https://s3.amazonaws.com/travooo-images2/th700/countries/225/c67ea53….jpg') no-repeat;
    background-size: cover;
    position: relative;
}

div.sign-up.search div.favourites div.favourite div.fav-img-wrap{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.sign-up.search div.sp-selected div.favourite div.fav-img-wrap{
    width: 100%;
    height: 100%;
}

div.sign-up.search div.favourites div.favourite div.fav-block{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 10px;
    background: linear-gradient(to top, rgb(0 0 0 / 76%), rgba(0, 0, 0, 0.4));
}

div.sign-up.search div.sp-selected div.favourite{
    width: 171px;
    height: 96px;
}

div.sign-up.search div.sp-selected div.favourite div.fav-block{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 10px;
    background: linear-gradient(to top, #01205c, rgba(1, 32, 92, 0.6));
}


div.sign-up.search div.favourites div.favourite:nth-child(5n), div.sign-up.search div.sp-selected div.favourite:nth-child(5n){
    margin-right: 0;
}

div.sign-up.search div.favourites div.favourite.selected, div.sign-up.search div.sp-selected div.favourite.selected  {
    border: 4px solid #4080ff;
}

div.sign-up.search div.favourites div.favourite.selected:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    content: url('../image/sign_up/selected_place.png');
}

div.sign-up.search div.favourites div.favourite div.name, div.sign-up.search div.sp-selected div.favourite div.name {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Circular Std Book';
    text-align: start;
}

div.sign-up.search div.favourites div.favourite div.desc, div.sign-up.search div.sp-selected div.favourite div.desc {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-family: 'CircularAirPro Light';
    text-align: start;
    font-weight: 300;
}

div.sign-up.search div.continue {
    width: 808px;
    height: 70px;
    border-radius: 5px;
    background-color: #4080ff;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

div.sign-up.search div.continue.disabled {
    background-color: #e6e6e6;
}

div.sign-up.search div.continue {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    font-family: 'Circular Std Book';
    text-align: center;
    margin-bottom: 15px;
}

div.sign-up.search div.continue.disabled {
    color: #999999;
}

div#createAccount5 h3.selected, div#createAccount5 h3.int-suggestion-title,  div#createAccount5_expert h3.selected, div#createAccount5_expert h3.search-result-title{
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
    font-family: 'CircularAirPro Light';
    margin-bottom: 15px;
}

div#createAccount5_expert h3.search-result-title{
    margin-bottom: 0 !important;
}

div#createAccount5 div.interests, div#createAccount5 div.suggestion-interests {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
}

div#createAccount5 div.interests div.interest, div#createAccount5 div.suggestion-interests div.interest {
    height: 40px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background-color: #4080ff;
    margin-right: 9px;
    display: inline-flex;
    font-size: 18px;
    color: #666666;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div#createAccount5 div.interests div.f-input{
    color: #fff !important;
    padding-right: 8px !important;
}

div#createAccount5 div.suggestion-interests div.example {
    background-color: #f2f2f2;
    cursor: pointer;
}



div#createAccount8 div.sign-up-style {
    max-width: 656px;
}

div#createAccount8 div.modal-content, div#createAccount8 div.modal-body{
    padding: 0 0;
    border: none;
}


div#createAccount8 .modal-content button.close {
    z-index: 1000;
    background: #fff;
    border-radius: 100px;
    display: flex;
    width: 20px;
    height: 20px;
    opacity: 1;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0;
    font-size: 20px;
}

div#createAccount8 .modal-content button.close span {
    color: #8bb2ff;
}

div#createAccount8 div.modal-body div.header {
    width: 656px;
    height: 226px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/sign_up/badge_bg.png') 50% 53%, linear-gradient(138deg, #8bb2ff 100%, rgba(139, 178, 255, 0) 100%);
}

div#createAccount8 div.modal-body div.header h1 {
    font-size: 35px;
    line-height: 79px;
    color: #ffffff;
    font-family: 'Circular Std Book';
    font-weight: bold;
    text-align: center;
    opacity: 0.6;
}

div#createAccount8 div.modal-body div.description {
    height: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    font-weight: 300;
    text-align: center;
    padding: 15px 25px;
    margin-bottom: 15px;
}

div#createAccount8 div.sup-badge {
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

div#createAccount8 div.sup-badge div.img {
    display: inline-block;
    width: 117px;
    padding-left: 33px;
    justify-content: space-between;
}

div#createAccount8 div.sup-badge div.badge-body {
    display: inline-block;
    width: 463px;
}

div#createAccount8 div.sup-badge div.badge-body div.title {
    font-size: 16px;
    line-height: 21px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
}
div#createAccount8 div.sup-badge div.badge-body div.desc {
    font-size: 15px;
    line-height: 21px;
    color: #4d4d4d;
    font-family: 'Circular Std Book';
}

div#createAccount8 div.sup-badge div.arrow {
    display: inline-block;
    width: 77px;
    padding-right: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div#createAccount8 div.sup-badge-details div.breadcrumbs {
    display: flex;
    margin-left: 22px;
    margin-top: 23px;
}
div#createAccount8 div.sup-badge-details div.breadcrumbs div.breadcrumbs-back {
    margin-right: 8px;
}
div#createAccount8 div.sup-badge-details div.breadcrumbs div.path {
    font-size: 22px;
    line-height: 16px;
    color: #999999;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
}

div#createAccount8 div.sup-badge-details div.breadcrumbs div.path span {
    color: #1a1a1a;
    font-family: 'Circular Std Book';
}

div#createAccount8 div.sup-badge-details div.sup-badge-header {
    display: flex;
    margin-left: 22px;
    margin-top: 15px;
}

div#createAccount8 div.sup-badge-details div.sup-badge-header div.img {
    margin-right: 19px;
}

div#createAccount8 div.sup-badge-details div.sup-badge-header div.img img {
    height: 64px;
}

div#createAccount8 div.sup-badge-details div.sup-badge-header div.level div.title{
    font-size: 16px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    font-weight: 300;
}

div#createAccount8 div.sup-badge-details div.sup-badge-header div.level div.desc{
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
}

div#createAccount8 div.sup-badge-details div.pb {
    margin-top: 3px;
    margin-left: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 22px;
}

div#createAccount8 div.sup-badge-details div.pb div.progress-bar {
    width: 415px;
    height: 6px;
    border-radius: 3px;
    background-color: #4080ff;
}

div#createAccount8 div.sup-badge-details div.pb div.count {
    font-size: 18px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    font-weight: bold;
    text-align: right;
}

div#createAccount8 div.sup-badge-details div.pb div.pb-wrapper {
    width: 532px;
    height: 6px;
    border-radius: 3px;
    background-color: #e6e6e6;
}

div#createAccount8 div.sup-badge-details div.body {
    margin: 10px 22px;
}

div#createAccount8 div.sup-badge-details div.body div.title {
    font-size: 18px;
    line-height: 21px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    margin-bottom: 10px;
}
div#createAccount8 div.sup-badge-details div.body div.desc {
    font-size: 16px;
    line-height: 21px;
    color: #4d4d4d;
    font-family: 'CircularAirPro Light';
}

div#createAccount8 div.sup-badge-details div.desc-table {
    margin: 15px 0;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
}

div#createAccount8 div.sup-badge-details div.desc-table div.header-row {
    display: flex;
}

div#createAccount8 div.sup-badge-details div.desc-table div.row {
    display: flex;
    border-top: 1px solid #e6e6e6;
    margin: 0;
}

div#createAccount8 div.sup-badge-details div.desc-table div.header-row div, div#createAccount8 div.sup-badge-details div.desc-table div.row div {
    padding: 14px 17px;
    font-size: 16px;
    line-height: 24px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
}

div#createAccount8 div.sup-badge-details div.desc-table div.header-row div:first-child {
    width: 403px;
}

div#createAccount8 div.sup-badge-details div.desc-table div.row div:first-child {
    width: 403px;
}

div#createAccount8 div.breadcrumbs-back {
    cursor: pointer;
}

div#createEligibleExpert div.modal-body div.header, div#createAccountConfirm div.modal-body div.header, div#createAccountPoints div.modal-body div.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#createEligibleExpert div.description, div#createAccountConfirm div.description, div#createAccountPoints div.description{
    text-align: center;
}

div#createEligibleExpert div.description h1, div#createAccountPoints div.description h1{
    font-size: 28px;
    line-height: 26px;
    color: #1a1a1a;
    font-family: "Segoe UI";
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 30px;
}

div#createEligibleExpert div.description div.content{
    font-size: 18px;
    line-height: 26px;
    color: #1a1a1a;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    text-align: center;
    margin: 0px auto;
    padding: 20px 70px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

div#createEligibleExpert div.description div.content span{
    font-weight: bold;
}

div#createAccountPoints div.description div.content {
    width: 641px;
    font-size: 20px;
    line-height: 26px;
    color: #1a1a1a;
    font-family: 'CircularAirPro Light';
    font-weight: 300;
    text-align: center;
    margin: 30px auto;
}

div#createAccountPoints div.description div.content span {
    font-family: 'Circular Std Book';
}

div#createAccountPoints div.description div.continue {
    width: 808px;
    height: 70px;
    border-radius: 3px;
    background-color: #4080ff;
}

div#createAccount4_expert div.form-group.description {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-family: 'CircularAirPro Light';
}

div#createAccount4_expert div.form-group.description span {
    font-size: 16px;
    line-height: 26px;
    color: #4080ff;
    font-family: 'Circular Std Book';
    float: right;
    cursor: pointer;
}

div#createAccount4_expert div.form-group.site {
    position: relative;
}

div#createAccount4_expert div.form-group.site input {
    width: 355px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding-left: 55px;
    font-size: 16px;
    line-height: 26px;
    color: #1a1a1a;
    font-family: 'Circular Std Book';
    padding-right: 30px;
}

div#createAccount4_expert div.form-group.site img {
    position: absolute;
    top: 9px;
    left: 7px;
    height: 38px;
    width: 38px;
}

div#createAccount4_expert div.form-group.description.links {
    margin: 27px 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#createAccount4_expert div.form-group.description.links img {
    float: right;
    margin-left: 9px;
    cursor: pointer;
    width: 30px;
}

div#createAccount4_expert div.form-group div.cross {
    position: absolute;
    z-index: 1000;
    right: 13px;
    top: 14px;
    color: #cccccc;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    font-family: 'CircularAirPro Light';
}

div#createAccount4_expert div.error-messages {
    color:red;
}

input.confirmation-code {
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    width: 162px;
    height: 55px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'CircularAirPro Light';
}

.hasDatepicker{
    background-color: transparent !important;
}

#nationality{
    color: #b3b3b3;
    line-height: 1.3;
}

#nationality option{
    font-family: 'CircularAirPro Light';
    color: #495057;
}

input.confirmation-code::placeholder {
    color: #b3b3b3;
}

input.confirmation-code:-ms-input-placeholder {
    color: #b3b3b3;
}

input.confirmation-code::-ms-input-placeholder {
    color: #b3b3b3;
}

.close-signup-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    background-color: transparent;
    pointer-events: auto;
}

.close-signup-btn:focus{
    outline:none;
}

.close-signup-btn i{
    color: #bdbdbd;
    font-size: 19px;
    font-weight: 900;
}


div#createAccountConfirm div.error-messages {
    margin-bottom: 20px;
}

div#createAccount3_company button.createAccount3_company_continue {
    margin-top: 30px;
}

a.resend_confirmation_code {
    display: inline-block;
    color: #4080ff;
    font-family: 'CircularAirPro Light';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
}

a.resend_confirmation_code.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: .5;
}

div.resend_confirmation_code span, .form-group.timer {
    font-size: 16px;
    font-family: 'CircularAirPro Light';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #1a1a1a;
}

/* Hide mobile logo version for desktop */
.sign-up-style .modal-content .modal-body .top-layer a.logo-wrap .mobile-main-logo {
    display: none;
}
/* Hide mobile account types icons versions for desktop */
div#createAccount2 div.account-type img[class*='mobile'] {
    display: none;
}
.sign-up-style {
    max-width: 438px;
    margin: 0 auto !important;
}
.modal.step-3-mobile.sign-up.search div.mobile--footer {
    display: none;
}

#username {
    padding-right: 90px;
}

@media (max-width: 767px) {
    /* Login */
    /* milans work */
    #signUp, .sign-up {
        padding-top: 90px;
    }
    .close-signup-btn{
        right: 23px;
    }

    .sign-up-style .modal-content .modal-body form.login-form .btn > span {
        margin-top: 7px;
        display: block;
    }
    .custom-check-label:not(.checkbox-style)>label:before { 
        left: 11px;  
        margin-top: -10px;
        width: 20px;
        height: 20px;
    }
    .form-group.bottom-txt-group.mobile--border {
        margin-bottom: 0!important;
        padding-bottom: 25px!important;
        border-bottom: 1px solid #e6e6e6;
    } 
    .sign-up-style .modal-content .form-control.mobile--input {
        border-color: #e6e6e6;
    }
    .modal.step-3-mobile {
        z-index: 1000000!important;
        padding-top: 100px;
    }
    .modal.step-3-mobile .sign-up-style .modal-content {
        padding: 0 12px!important;
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .modal.step-3-mobile .sign-up-style .modal-content .title {
        font-size: 14px;
        padding-right: 0;
        padding-top: 10px;
    }
    .modal.step-3-mobile div.fav-bloc {
        padding-top: 10px;
        padding-left: 5px;
    }
    .modal.step-3-mobile .sign-up-style .modal-content .step-top-layer {
        padding: 15px 0 0px !important;
    }
    .modal.step-3-mobile .sign-up-style .modal-content .step-subtitle {
        font-size: 14px;
        display: block;
        line-height: 1;
    }
    .modal.step-3-mobile.sign-up.search div.sp-selected div.favourite {
        border: 2px solid #4080ff;
        width: 96px;
        height: 85px;
    }
    .modal.step-3-mobile.sign-up.search div.mobile--footer {
        display: flex;
        justify-content: space-between;
        padding: 0;
        z-index: 222;
        margin-left: -13px;
        margin-right: -13px;
        align-items: center;
        position: relative;
        top: 19px;
        color: #ffffff;
        height: 0;
    }
    .modal.step-3-mobile.sign-up.search div.mobile--footer > div {
        font-family: 'Circular Std Book';
    }
    .modal.step-3-mobile.sign-up.search div.mobile--footer > div > span {
        font-family: 'CircularAirPro Light';
    }
    .modal.step-3-mobile.sign-up.search div.mobile--footer .step-back-btn {
        position: static;
        font-weight: unset;
        color: #ffffff;
    }
    .modal.step-3-mobile.sign-up.search div.sp-selected div.name {
        font-size: 12px;
        line-height: 1;
    }
    .modal.step-3-mobile.sign-up.search .step-selected-block .lSAction a.lSPrev {
        left: -14px;
        text-align: left;
        background: linear-gradient(90deg,rgb(255 255 255) 30%,rgb(255 255 255 / 0%) 100%);
        width: 39px;
        opacity: 1;
    }
    .modal.step-3-mobile.sign-up.search .step-selected-block .lSAction a.lSNext {
        right: -11px;
        text-align: right;
        background: linear-gradient(270deg,rgb(255 255 255) 30%,rgba(245,245,245,0) 100%);
        width: 39px;
        opacity: 1;
    }
    .modal.step-3-mobile.sign-up.search .step-selected-block .lSAction a.lSPrev i,
    .modal.step-3-mobile.sign-up.search .step-selected-block .lSAction a.lSNext i {
        color: #808080;
    }
    .modal.step-3-mobile.sign-up.search div.sp-selected div.desc {
        font-size: 12px;
    }
    div.sign-up.search div.favourites div {
       margin: 0!important;
    }
    .modal.step-3-mobile.sign-up.search .suggestion-title, .modal.step-3-mobile.sign-up.search .account-selected-count{
        font-size: 14px;
    }
    .modal.step-3-mobile.sign-up.search div.favourites {
        margin-bottom: 0!important;
    }
    .modal.step-3-mobile.sign-up.search .modal-footer {
        padding-top: 0!important;
    }
    .modal.step-3-mobile.sign-up.search .sign-up-style .modal-content .modal-footer {
        margin-left: -13px;
        margin-right: -13px;
        margin-bottom: 0;
    }
    .modal.step-3-mobile.sign-up.search div.continue {
        margin-bottom: 0;
        border-radius: 0;
        position: relative;
        bottom: -1px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    #createAccountPoints div.footer--devider {
        padding: 10px 0;
    }
    div#createAccountPoints div.description div.content,
    div#createAccountPoints div.description div.continue {
        width: auto;
    }
    div#createAccountPoints div.description div.continue {
        font-size: 16px;
        height: 50px;
    }
    div.sign-up.search div.continue {
        font-size: 16px!important;
        height: 50px!important;
    }
    .succes-image {
        width: 100%;
    }
    .final-m-content .description {
        padding: 16px 8px;
        padding-bottom: 0;
    }
    .modal.step-3-mobile.sign-up.search div.continue.round--corners {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    div.sign-up.search div.sp-selected div.favourite div.fav-block,
    div.sign-up.search div.favourites div.favourite div.fav-block {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .modal.step-3-mobile.sign-up.search .modal-body {
        border-bottom: none!important;
    }
    .modal.step-3-mobile.sign-up.search .top-layer {
        padding-bottom: 0!important;
    }
    .modal.step-3-mobile.sign-up.search div.favourites:after {
        display: none;
    }

    .modal.step-3-mobile.sign-up.search div.favourite.selected {
        overflow: hidden;
        border-radius: 6px;
    }
    .modal.step-3-mobile .sign-up-style .mobile--hide {
        display: none;
    }
    .sign-up-style .modal-content .modal-body form.login-form .flex-custom .flex-input-right {
        background: #ffffff;
    }
    label.error {
        font-size: 13px;
    }
    .sign-up-style .modal-content .modal-body form.login-form .flex-custom .flex-input-right::placeholder {
        color: #000;
        font-family: 'Segoe UI Semibold';
        font-size: 14px;
    }
    .top-layer .login-title {
        font-family: 'Circular Std Med';
        font-size: 22px;
    }
    #createEligibleExpert .modal-content,
    .sign-up-style .step-content,
    .sign-up-style .modal-content.mobile--step,
    .sign-up-style .common-content {
        padding: 0 15px!important;
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .login-access-btn {
        background-color: #4080ff;
    }
    .exp-signup-button {
        width: 100%;
    }
    .exp-signup-button .exp-text-title, .exp-signup-button .exp-text-desc {
        font-size: 16px;
    }
    /**********************************/
    .register-block {
        background: transparent;
    }
    .main-wrapper.login-layer {
        background-size: 250%;
        animation: none;
    }
    .sign-up-style .modal-content .modal-body .top-layer {
        padding: 15px 0 30px;
    }
    .sign-up-style .modal-content .modal-body .top-layer a.logo-wrap {
        padding-left: 0;
        margin-bottom: 0;
    }
    .sign-up-style .modal-content .modal-body .top-layer a.logo-wrap img:not(.mobile-main-logo) {
        display: none;
    }
    .sign-up-style .modal-content .modal-body .top-layer a.logo-wrap .mobile-main-logo {
        display: block;
        width: 170px;
        height: auto;
    }
    .sign-up-style .modal-content .modal-body .top-layer h4.title {
        color: #ffffff;
        font-size: 14px;
        padding-top: 5px;
        margin-bottom: 5px;
    }
    .sign-up-style .modal-content .modal-body form.login-form p.simple-txt {
        color: #cccccc;
    }
    .register-progress .sh-progress-wrap {
       margin-left: 0;
       width: 100%;
    }
    .register-block .trav-navbar-btn {
        position: absolute;
        right: 10px;
        top: 29px;
    }
    .sign-up-style .modal-content .modal-footer p.foot-txt {
        color: #ffffff;
        font-size: 14px;
    }
    .sign-up-style .modal-content .modal-footer .btn-grey {
        width: 100%;
    }
    .sign-up-style .modal-content .modal-footer {
        border-top: none;
        margin-left: -15px;
        margin-right: -15px;
    }
    .signup-back-btn {
        color: #4d4d4d;
        font-size: 14px;
        font-family: 'Circular Std Med';
        font-weight: unset;
    }
    .sign-up-style .modal-content .form-control,
    .sign-up-style .modal-content .btn {
        border-radius: 5px;
    }
    .sign-up-style .modal-content .modal-body form.login-form .forget-password-link {
        padding: 3px 0 15px;
    }
    .sign-up-style .modal-content .btn.btn-info {
        font-family: 'circular std book';
    }
    .sign-up-style .modal-content .modal-body form.login-form .btn>.side-icon {
        width: 52px;
    }
    .top-layer .login-descripton{
        color: #808080;
    }
    .sign-up-style .modal-content .modal-body {
        padding: 5px 0 15px!important;
        border-bottom: 1px solid #e6e6e6;  
    }
    .sign-up-style .modal-content .modal-body.border--helper {
        border-bottom: none;
        padding-bottom: 0!important;
    }
    .sign-up-style .modal-content .modal-body.body-create {
        padding-top: 5px!important;
    }
    .sign-up-style .modal-content.mobile--step .modal-body.body-create {
        padding: 5px 0 0!important;
    }
    /* Login end */
    /* SignUp - create account */
    div.modal.sign-up .modal-body.body-create h5.title {
        display: none;
    }
    div.modal.sign-up button.continue, div#createAccount1 button.facebook_login, div#createAccount1 button.twitter_login {
        width: 100%!important;
    }
    div#createAccount2 div.g-recaptcha {
        transform: none;
        transform-origin: 0 0;
    }
    div#createAccount2 div.g-recaptcha + .form-margin {
        height: auto;
    }
    div.modal.sign-up button.continue {
        font-family: circular std med;
        font-size: 16px;
        font-weight: 400;
    }

    div#createAccount1 button.facebook_login i, div#createAccount1 button.twitter_login i {
        font-size: 20px;
    }
    .sign-up-style .form-group.bottom-txt-group {
        padding: 15px 0 0;
    }
    div.modal.sign-up div.error-messages div {
        font-size: 14px;
    }
    /* SignUp - create account end */
    /* SignUp - confirm email */
    div.sign-up.search div.continue {
        font-size: 14px;
        height: 50px;
        border-radius: 5px;
        width: 100%;
    }
    div#createEligibleExpert div.description h1, div#createAccountConfirm div.description h1, div#createAccountPoints div.description h1{
        font-size: 20px;
        font-family: Circular std book;
        font-weight: 400;
    }
    div#createEligibleExpert div.description div.content, div#createAccountConfirm div.description div.content{
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }
    div#createEligibleExpert .continue {
        font-size: 16px;
    }
    div#createEligibleExpert div.description div.content {
        font-size: 16px;
        padding: 0;
        border-bottom: none;
        padding-bottom: 20px;
    }
    div#createAccountConfirm div.error-messages {
        margin-bottom: 20px;
        color: red;
        font-size: 14px;
    }
    input.confirmation-code {
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
    }
    .form-group.resend_confirmation_code.disabled {
        display: none;
    }
    .sign-up-style div.modal.sign-up div.error-messages div {
        font-size: 14px;
    }
    .sign-up-style div.resend_confirmation_code span, .form-group.timer {
        font-size: 14px;
        color: #ffffff;
    }
    .sign-up-style .form-group.resend_confirmation_code {
        margin-bottom: 25px;
    }
    a.resend_confirmation_code.disabled {
        display: block;
    }
    /* SignUp - confirm email end */
    /* SignUp - account type */
    div#createAccount2 div.account-type {
        width: 31%;
        height: auto;
        background-color: rgba(255,255,255,0.3);
        border: none;
        text-align: center;
    }
    div#createAccount2 div.account-type.active {
        background-color: #4080ff;
        border: none;
    }
    div#createAccount2 div.account-type h3 {
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
        font-family: circularairpro light;
        font-weight: 300;
        margin-bottom: 13px;
    }
    div#createAccount2 div.account-type.active h3 {
        font-family: circular std book;
    }
    div#createAccount2 div.account-types {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    div#createAccount2 div.account-type img {
        display: none;
    }
    div#createAccount2 div.account-type img[class*='mobile'] {
        display: inline-block;
        padding: 15px 0;
        width: 33px;
        height: auto;
    }
    div#createAccount2 div.account-type img.company_type_mobile {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    /* SignUp - account type end */
    /* SignUp - account details */
    .sign-up-style .modal-content .modal-body form.login-form .step-2 .flex-custom {
        justify-content: space-around;
        padding: 5px 0 15px;
    }
    .form-check.flex-custom.mobile--gender label {
        font-family: 'Segoe UI Semibold';
        font-size: 14px;
    }
    /* .sign-up-style .modal-content .modal-body form.login-form .step-2 .custom-check-label {
        padding: 0;
        width: calc(50% - 5px);
    } */
    /* .sign-up-style .modal-body.body-create .custom-check-label:not(.checkbox-style)>label:before {
        left: 0;
        top: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        background: rgba(64,128,255,.3);
        z-index: -1;
    } */
    /* .sign-up-style .modal-body.body-create .custom-check-label:not(.checkbox-style)>input.custom-check-input:checked+label:before {
        box-shadow: none;
        background: #4080ff;
        border: none;
    } */
    /* .sign-up-style .modal-body.body-create .custom-check-label>label {
        padding: 0 12px;
        color: #ffffff;
        margin-bottom: 0;
        width: 100%;
        height: 50px;
        font-family: circular std med;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        display: inline-flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .sign-up-style .modal-body.body-create .custom-check-label:not(.checkbox-style)>label:after {
        position: relative;
        font-family: Fontawesome;
        content: '\f183';
        display: inline-block;
        font-size: 26px;
        margin-right: 13px;
    }
    .sign-up-style .modal-body.body-create .custom-check-label:not(.checkbox-style)>label[for='female']:after {
        content: '\f182';
    }
    .sign-up-style .modal-content .modal-footer {
        padding: 15px 0 33px 0px;
        margin: 0 -15px;
        border-top: none;
    }
    .form-group .custom-select {
        padding: 17px 18px 17px;
    } */
    /* SignUp - account details end */
    /* SignUp - select favorite places, intrests */
    #createAccount9 .sign-up-style .modal-content, 
    #createAccount7 .sign-up-style .modal-content {
        background: #ffffff;
        margin: 15px;
        padding: 10px 13px!important;
        width: calc(100% - 30px);
    }
    div.sign-up.search h4.title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        padding-right: 30px;
    }
    div.sign-up.search div.favourites div.favourite {
        margin-bottom: 10px;
        width: 33%;
        height: 95px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-top: 0;
        padding-left: 0;
        padding: 5px;
    }
    div.sign-up.search div.favourites div.favourite.selected {
        border: 3px solid #4080ff;
    }
    div.sign-up.search div.favourites div.favourite div.name {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 3px;
        z-index: 1;
        position: relative;
        padding-bottom: 3px;
    }
    div.sign-up.search div.favourites div.favourite div.desc {
        font-size: 11px;
        line-height: 1;
        z-index: 1;
        position: relative;
    }
    div.sign-up.search div.favourites div.favourite.selected:after {
        bottom: 0;
        right: 0;
        transform: scale(0.65);
        z-index: 1;
    }
    div.sign-up.search div.favourites div.favourite:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 0;
        border-radius: 5px;
    }
    div.sign-up.search div.favourites div.favourite.selected:before {
        background: rgba(0,0,0,0.5);
    }
    div.sign-up.search div.favourites {
        margin-top: 10px;
        margin-bottom: 0;
        max-height: 191px;
        position: relative;
        padding-right: 0;
        margin-right: -5px;
        margin-left: -5px;
    }
    div.sign-up.search div.favourites:after {
        content: '';
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 14px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%, rgba(0,0,0,0.1) 100%);
    }
    div.sign-up.search .form-group.search input {
        padding: 15px 50px 14px;
    }
    div.sign-up.search .form-group.search {
        position: relative;
    }
    div.sign-up.search .form-group.search img {
        left: 18px;
        top: 15px;
        width: 20px;
        height: auto;
    }
    #createAccount4 .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount4 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount5 .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount5 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount6 .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount6 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount7 .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount7 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount5_expert .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount5_expert .sign-up-style .modal-content .modal-body.body-create,
    #createAccount6_expert .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount6_expert .sign-up-style .modal-content .modal-body.body-create,
    #createAccount8_expert .sign-up-style .modal-content .modal-body .top-layer,
    #createAccount8_expert .sign-up-style .modal-content .modal-body.body-create {
        padding-bottom: 0;
    }
    #createAccount6 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount5_expert .sign-up-style .modal-content .modal-body.body-create,
    #createAccount6_expert .sign-up-style .modal-content .modal-body.body-create,
    #createAccount8_expert .sign-up-style .modal-content .modal-body.body-create,
    #createAccount4 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount5 .sign-up-style .modal-content .modal-body.body-create,
    #createAccount7 .sign-up-style .modal-content .modal-body.body-create {
        padding-top: 0;
    }
    div.sign-up.search .modal-footer {
        padding: 3px 0 15px;
        font-size: 14px;
        line-height: 18px;
    }
    div.modal.sign-up span.skip {
        right: initial;
        bottom: initial;
        float: initial;
        position: initial;
        margin: 20px 0 0 0;
    }
    #createAccount4 .sign-up-style .modal-content .modal-footer,
    #createAccount5 .sign-up-style .modal-content .modal-footer,
    #createAccount6 .sign-up-style .modal-content .modal-footer,
    #createAccount7 .sign-up-style .modal-content .modal-footer,
    #createAccount5_expert .sign-up-style .modal-content .modal-footer,
    #createAccount8_expert .sign-up-style .modal-content .modal-footer {
        border-top: none;
    }
    div#createAccount5 h3.selected {
        text-align: left;
        margin-top: 15px;
        font-size: 14px;
        color: #000;
        font-family: circularairpro light;
        margin-bottom: 15px;
    }
    .expert-item,
    div#createAccount5 div.interests div.interest {
        height: 34px;
        padding: 0 10px;
        font-size: 14px;
        border-radius: 4px;
    }
    .expert-item {
        margin: 5px;
    }
    div#createAccount5_expert h3.search-result-title {
        margin-bottom: 10px!important;
    }
    .expertise-list {
        max-height: 200px;
        overflow: auto;
        margin-left: -5px;
        margin-right: -5px;
    }
    .expertise-list.form-group {
        margin-bottom: 0!important;
        padding-top: 0!important;
    }
    .close-interest-filter {
        padding-top: 2px;
        padding-left: 4px;
    }
    .expert-item i,
    .close-interest-filter i {
        padding-top: 1px;
        color:#000000;
        opacity: 0.4;
    }
    #createAccount5 .sign-up-style .modal-content .modal-footer {
        padding-top: 10px;
    }
    div.sign-up.search div.continue {
        margin-right: 0;
    }
    /* SignUp - select favorite places, intrests end */
    /* Expert SignUp */
    div#createAccount4_expert div.form-group.description {
        font-size: 14px;
        font-family: inherit;
        margin-bottom: 7px;
    }
    div#createAccount4_expert div.form-group.site img {
        position: absolute;
        top: 50%;
        left: 10px;
        height: auto;
        width: 30px;
        transform: translate(0, -50%);
    }
    div#createAccount4_expert div.form-group.site input {
        width: 100%;
        padding-left: 55px;
        font-size: 14px;
        padding: 11px 11px 11px 50px;
    }
    div#createAccount4_expert div.form-group div.cross {
        right: 10px;
        top: 50%;
        background: none;
        color: #cccccc;
        transform: translate(0, -50%);
    }
    div#createAccount4_expert div.form-group.description span {
        font-size: 14px;
    }
    div#createAccount4_expert div.form-group.description.links {
        margin: 20px 0;
    }
    /* Expert SignUp end */
    /* Company SignUp */
    .g-recaptcha.form-group .rc-anchor-normal {
        width: 100%!important;
    }
    /* Company SignUp end */
    /* Level Up */
    div#createAccount8 div.modal-body div.header {
        width: 100%;
        height: 150px;
    }
    /* Level Up end */
    .navbar-brand {
        margin-right: 2.5%;
    }
    .non-logged-header-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .non-logged-header-block img {
        width: 35vw;
        max-width: 190px;
    }
    .non-logged-footer-action-block,
    .non-logged-action-block {
        display: flex;
    }
    .non-logged-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 13px!important;
        padding: 0.25em 0.5em;
        margin-right: 8px;
        width: 25vw;
        height: auto !important;
        min-height: 40px;
        max-width: 110px;
    }
    .non-logged-btn:last-child {
        margin-right: 0;
    }
    .non-logged-footer-action-block {
        padding-left: 10px;
    }
    .non-logged-footer-title,
    .non-logged-footer-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .non-logged-footer-title {
        font-size: 18px;
    }
    .non-logged-footer-desc {
        font-size: 12px;
    }
}
