.em-travlog-info-block{
    background: #fff;
    height: 100%;
}

.em-main-wrapper{
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.em-main-wrapper .content-wrap, .em-travlog-info-inner{
    height: 100%;
    position: relative;
}

.em-top-banner-block {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(178, 178, 178, 0.6);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.em-top-banner-block .em-top-banner-inner {
    position: relative;
    z-index: 10;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 25px 172px 30px;
    height: 100%;
}
.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info {
    -ms-flex-item-align: end;
    align-self: flex-end;
}


.em-top-banner-block.em-top-travlog-banner:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.9);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(42%, rgba(0, 0, 0, 0.45)), color-stop(61%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.45)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.45) 42%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.em-top-banner-block .em-top-banner-inner .travel-left-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 60%;
    margin-bottom: 0;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-left-info a.travel-title {
    font-size: 40px;
    font-family: "Georgia",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.35;
    margin-bottom: 40px;
    text-align: left;
    color: white;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info ul.sub-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info ul.sub-list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info ul.sub-list li:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info ul.sub-list li:not(:last-child):after {
    position: absolute;
    content: '';
    display: block;
    width: 34px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    left: 50%;
    margin-left: -17px;
    bottom: 0;
}

.em-top-travlog-banner .travel-right-info ul.sub-list li div.top-txt {
    line-height: 1.3;
    font-size: 16px;
    color: #cccccc;
    text-transform: capitalize;
    white-space: nowrap;
}

.em-top-banner-block.em-top-travlog-banner .em-top-banner-inner .travel-right-info ul.sub-list li div.sub-txt {
    line-height: 1.3;
    font-size: 18px;
    color: white;
    font-family: 'Circular Std Book';
    white-space: nowrap;
}

.em-info-wrapper{
    background: #fff;
    padding: 22px 20px 15px 20px;
    position: absolute;
    width: 100%;
    z-index: 999999;
    bottom: 0;
}

.em-info-wrapper .foot-block{
    padding-bottom: 15px;
    padding-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    direction: ltr;
}

.em-info-wrapper .foot-block .author-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    direction: ltr;
}

.em-info-wrapper .foot-block .author-side .author-info .author-name {
    font-size: 16px;
    font-family: inherit;
    direction: ltr;
    line-height: 1.4;
    padding-right: 10px;
}

.em-travlog-info-block .em-info-wrapper .foot-block .author-side .author-info .author-name span {
    color: #666666;
}

.em-travlog-info-block .em-info-wrapper .foot-block .author-side .author-name b {
    font-weight: normal;
    font-family: 'Circular Std Book';
}


.em-travlog-info-block .em-info-wrapper .foot-block .like-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.em-travlog-info-block .em-info-wrapper .foot-block .like-side .post-foot-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
}

.em-travlog-info-block .em-info-wrapper .foot-block .like-side .post-foot-block i.trav-heart-fill-icon {
    font-size: 18px;
    color: #ff5a79;
}

.em-travlog-info-block .em-info-wrapper .foot-block .like-side .post-foot-block span {
    font-size: 16px;
    font-family: 'Montserrat Med';
    color: black;
}

.em-travlog-info-block .em-info-wrapper .foot-block .like-side .post-foot-block i.trav-comment-icon {
    font-size: 18px;
    color: #4080ff;
}

.em-info-wrapper .foot-avatar-list {
    margin-right: 10px;
}

.em-info-wrapper .foot-avatar-list li:nth-child(-n+3) {
    display: inline-block !important;
}

.em-info-wrapper .foot-block .foot-avatar-list li {
    display: none;
    margin-right: -5px;
}




.em-travlog-info-block .em-info-wrapper .foot-block .like-side .post-foot-block span {
    font-size: 16px;
    font-family: 'Montserrat Med';
    color: black;
}

.em-travlog-info-block .em-info-wrapper .travlog-user-info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: normal;
}

.em-travlog-info-block .em-info-wrapper .travlog-user-info .info-txt .top-name {
    color: #4c4c4c;
    font-size: 18px;
    line-height: 1.5;
}

.em-travlog-info-block .em-info-wrapper .travlog-user-info .info-txt .top-name a.post-name-link {
    color: #4080ff;
    font-family: 'Circular Std Book',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}

span.exp-icon {
    width: 25px;
    height: 16px;
    border-radius: 3px;
    background: #3f7fff linear-gradient(-45deg, rgba(178, 127, 255, 0) 0%, #b27fff 100%) !important;
    color: #fff !important;
    display: inline-block;
    font-size: 10px !important;
    padding: 3px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 3px;
    text-align: center;
    font-weight: normal;
}

.em-more-link{
    color: #fff;
}

.em-travlog-info-block .em-info-wrapper .travlog-user-info .info-txt .sub-info {
    color: #4c4c4c;
    line-height: 1.5;
    font-size: 16px;
}

.em-travlog-info-block .em-info-wrapper .travlog-user-info .info-txt .sub-info a.place-link {
    color: #4c4c4c;
    font-family: 'Circular Std Book',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}


