div#modal-add_suggestion.story div.modal-dialog:first-child {
    width: auto;
    padding: 0 20px;
    margin-top: 90px;
    top: 0;
    transform: none;
}

div#modal-add_suggestion div.modal-dialog:first-child {
    width: 391px;
    padding: 0;
    margin-top: 0;
    top: calc(50% + 35px);
    transform: translate(0, -50%);
}

div#modal-add_suggestion div.modal-header {
    height: 50px;
}

div#modal-add_suggestion div.modal-body {
    padding: 0;
    overflow: unset;
}

div#modal-add_suggestion div.modal-content {
    overflow-y: auto;
}

div#modal-add_suggestion div.modal-body label span {
    margin-top: 20px;
    font-family: CircularStd;
    font-size: 15.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    text-align: left;
    color: #1a1a1a;
    display: block;
}

div#modal-add_suggestion div.suggestion-general-block textarea.reason {
    width: 100%;
    height: 77px;
    border-radius: 10px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-family: CircularAirPro;
    font-size: 14.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #1a1a1a;
    padding: 16px 13px;
    display: block;
    resize: none;
}

div#modal-add_suggestion div.suggestion-general-block span.desc {
    margin-top: 14px;
    display: block;
    font-family: CircularAirPro;
    font-size: 14.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #1a1a1a;
}

div#modal-add_suggestion div.suggestion-general-block div.footer {
    margin-top: 19px;
    height: 71px;
    border-top: solid 1px #d9d9d9;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#modal-add_suggestion div.suggestion-general-block div.footer button {
    text-transform: uppercase;
}

div#modal-add_suggestion div.suggestion-general-block div.footer button.back {
    width: 59px;
    height: 10px;
    font-family: CircularStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #4d4d4d;
    margin-left: 35px;
    background: none;
}

div#modal-add_suggestion div.suggestion-general-block div.footer button.suggest {
    width: 158px;
    height: 52px;
    border-radius: 10px;
    background-color: #4080ff;
    font-family: CircularStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-right: 15px;
}

div#modal-add_suggestion div.suggestion-general-block div.footer button.suggest.disabled {
    opacity: 0.5;
}

div#modal-add_suggestion div.attribute.duration p {
    width: 100%;
    text-align: center;
}

div#modal-add_suggestion h5, div#modal-add_suggestion div.attribute {
    display: none;
}

div#modal-add_suggestion div#modal-story div.story {
    padding: 65px 20px 20px 20px !important;
}

div#modal-edit_place div.edit-suggestion {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

div#modal-edit_place div.edit-suggestion div.icon {
    width: 49px;
    height: 41px;
    border-radius: 40px;
    background-color: #ededed;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#modal-edit_place div.edit-suggestion div.desc {
    font-family: CircularAirPro;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #1a1a1a;
}


.for-editor input.places_id, .for-editor input.cities_id {
    pointer-events: none;
    opacity: .5;
}

.for-editor div.suggestable > * {
    pointer-events: none;
}

.for-editor div.suggestable:hover {
    cursor: pointer;
}

div#modal-suggestions div.modal-content {
    border: none;
}

div#modal-suggestions div.modal-header {
    height: 54px;
    background-color: #f7f7f7;
}

div#modal-suggestions div.modal-body {
    padding: 0;
    max-height: calc(100vh - 165px);
}

div#modal-suggestions div.modal-body div.header {
    height: 243px;
    width: 100%;
    background-image: linear-gradient(to top, #000000, #000000);
    position: relative;
    background-size: cover;
}

div#modal-suggestions div.modal-body div.header div.name {
    font-family: CircularStd;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    bottom: 80px;
    left: 22px;
}

div#modal-suggestions div.modal-body div.header div.location {
    font-family: CircularAirPro;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    bottom: 49px;
    left: 22px;
}

div#modal-suggestions div.modal-body div.header div.data {
    font-family: CircularStd;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    left: 22px;
    bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

div#modal-suggestions div.modal-body div.header div.data span {
    font-family: CircularAirPro;
    font-size: 11px;
    font-weight: 300;
    color: #b3b3b3;
    margin: 0 7px;
}

div#modal-suggestions div.modal-body div.navigation {
    display: flex;
    justify-content: space-around;
}

div#modal-suggestions div.modal-body div.navigation div.tab {
    background: #fff;
    height: 52px;
    border-bottom: 1px solid #e6e6e6;
    font-family: CircularAirPro;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #000000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

div#modal-suggestions div.modal-body div.navigation div.tab.active {
    font-family: CircularStd;
    font-weight: 500;
    border-bottom: 2px solid #4080ff;
}

div#modal-suggestions div.modal-body div.content {
    height: calc(100vh - 460px);
    overflow-y: auto;
    padding: 0 20px;
}

div#modal-suggestions div.modal-body div.content div.row {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #d9d9d9;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author {
    display: flex;
    align-items: center;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.img {
    width: 36px;
    height: 36px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.img img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info, div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.name span {
    font-family: CircularAirPro;
    font-size: 15.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
    margin-left: 7px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.name {
    font-family: 'Circular Std Book';
    font-weight: 500;
    color: #4080ff;
    margin-bottom: 2px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.date {
    font-family: 'CircularAirPro Light';
    font-size: 14px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.name span {
    margin-left: 3px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.actions button {
    width: 37px;
    height: 37px;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32c984;
    color: #fff;
}

div#modal-suggestions div.modal-body div.content div.row div.row-header div.actions button.disapprove {
    background-color: #fc225a;
    margin-right: 10px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content {
    border-radius: 10px;
    border: solid 2px #d7e4ff;
    background-color: #f4f9ff;
    padding: 13px 15px;
    margin-bottom: 20px;
    width: 100%;
}

div#modal-suggestions div.modal-body div.content.media-content div.row div.row-content {
    padding: 0;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content div.value {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7e4ff;
    word-break: break-all;
}

div#modal-suggestions div.modal-body div.content.media-content div.row div.row-content div.value {
    border-bottom: none;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content div.value img {
    width: 100%;
}

div#modal-suggestions div.modal-body div.content.media-content .row-content img:first-child {
    border-radius: 10px 10px 0 0;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content div.value > *:not(:first-child) {
    margin-top: 20px;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content div.value span {
    font-family: CircularAirPro;
}

div#modal-suggestions div.modal-body div.content div.row div.row-content div.reason {
    font-family: CircularAirPro;
    font-size: 15.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    line-height: 1.42;
    letter-spacing: normal;
    color: #000000;
    padding-top: 15px;
    word-break: break-all;
}

div#modal-suggestions div.modal-body div.content.media-content div.row div.row-content div.reason {
    padding: 0 14px 14px;
}

div.trip-place div.suggestion.exist {
    height: 44px;
    border: solid 1px #ffa6a6;
    background-color: #fff2f5;
    cursor: pointer;
    margin: 0 -1px -2px -1px;
    z-index: 100;
}

div.trip-place div.suggestion.exist div.author-img img {
    width: 30px;
    height: 30px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 2px #ffffff;
    background-color: #f5f5f5;
}

div.trip-place div.suggestion.exist div.author-img img:not(:first-child) {
    margin-left: -18px;
}

div.trip-place div.suggestion.exist div.author span.author-desc, div.trip-place div.suggestion.exist div.author span.author-desc a {
    font-size: 16px;
}
div#modal-suggestions div.modal-body div.content.media-content div.row div.row-content div.value video {
    border-radius: 10px 10px 0 0;
}

div#modal-suggestions div.unread_logs {
    color: #fff;
    position: relative;
    left: 3px;
    top: 2px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'CircularAirPro Light';
    background: #fc225a;
    width: auto;
    min-width: 22px;
    height: 22px;
    padding-right: 6px;
    padding-left: 5px;
    text-align: center;
    border-radius: 22px;
    border: 2px solid #fff;
}

@media (min-width: 768px) {
    div#modal-suggestions div.modal-header .close i {
        display: none;
    }
}
@media (max-width: 767px) {
    div#modal-suggestions div.modal-header .close i {
        display: inline-block;
    }
    div#modal-add_suggestion div.modal-dialog:first-child {
        width: calc(100vw - 20px);
        top: 50%;
    }
    .modal.add-suggestion .input-group.input-group-time .form-control {
        font-size: 12px;
    }
    div#modal-suggestions div.modal-header {
        height: 45px;
        background-color: #ffffff;
        border: none;
    }
    div#modal-suggestions div.modal-header .close {
        background: none;
    }
    div#modal-suggestions div.modal-header .modal-title {
        text-align: center;
    }
    div#modal-suggestions div.modal-body {
        padding: 0;
        max-height: calc(100vh - 45px);
    }
    div#modal-suggestions div.modal-body div.header {
        height: 170px;
    }
    div#modal-suggestions div.modal-body div.navigation div.tab {
        height: 45px;
        font-size: 12px;
    }
    div#modal-suggestions div.modal-body div.content {
        height: calc(100vh - 260px);
        padding: 0 15px;
    }
    div#modal-suggestions div.modal-body div.header div.name, div#modal-suggestions div.modal-body div.header div.location, div#modal-suggestions div.modal-body div.header div.data {
        left: 15px;
    }
    div#modal-suggestions div.modal-body div.header div.data {
        font-family: 'circular std book';
        font-size: 15px;
        bottom: 15px;
    }
    div#modal-suggestions div.modal-body div.header div.location {
        font-size: 14px;
        bottom: 38px;
    }
    div#modal-suggestions div.modal-body div.header div.name {
        font-family: 'circular std med';
        font-size: 20px;
        font-weight: normal;
        bottom: 57px;
    }
    div#modal-suggestions div.modal-body div.content div.row div.row-content {
        border: solid 1px #d7e4ff;
        padding: 10px;
        margin-bottom: 15px;
    }
    div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.name,
    div#modal-suggestions div.modal-body div.content div.row div.row-header div.author div.info div.name span {
        font-size: 14px;
    }
    div#modal-suggestions div.modal-body div.content div.row div.row-content div.value {
        font-size: 18px;
        padding-bottom: 10px;
    }
    div#modal-suggestions div.modal-body div.content div.row div.row-content div.value .value-empty {
        padding: 14px 14px 0;
    }
    div#modal-suggestions div.modal-body div.content div.row div.row-content div.reason {
        font-size: 14px;
        line-height: 1.4;
        padding-top: 10px;
    }
    div.trip-place div.suggestion.exist div.author span.author-desc, div.trip-place div.suggestion.exist div.author span.author-desc a {
        font-size: 14px;
    }
    div.trip-place div.suggestion.exist {
        height: auto;
    }
    div#modal-edit_place div.edit-suggestion div.desc {
        font-size: 14px;
    }
    div#modal-edit_place div.edit-suggestion div.icon {
        min-width: 50px;
    }
}

































