@charset "UTF-8";
/* Mobile Version - Trip Planner Design Issues #1 */
.plan-privacy-dropdown .dropdown-toggle {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5882352941em;
  padding-left: 2.2941176471em;
  padding-right: 1.7647058824em;
}
.plan-privacy-dropdown .dropdown-toggle:focus {
  background-color: #f0f5ff;
  -webkit-box-shadow: 0 0 0 2px #4080ff;
          box-shadow: 0 0 0 2px #4080ff;
}
.plan-privacy-dropdown .dropdown-toggle:after {
  font-family: "FontAwesome";
  content: "";
  border: none;
}
.plan-privacy-dropdown .dropdown-toggle .card-img-icon {
  position: absolute;
  top: 0.8823529412em;
  left: 0.8823529412em;
}
.plan-privacy-dropdown .dropdown-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: Min(4vw, 30px);
  width: 100%;
  border-radius: Min(5.3333333333vw, 40px);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
}
.plan-privacy-dropdown .dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plan-privacy-dropdown .btn {
  width: 100%;
  font-size: Min(4.5333333333vw, 34px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.plan-privacy-dropdown .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 100%;
}
.plan-privacy-dropdown .card-img-icon {
  width: 15px;
  height: 15px;
}
.plan-privacy-dropdown .card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.plan-privacy-dropdown .card-text p:last-child {
  margin-bottom: 0;
}
.plan-privacy-dropdown .card-name {
  font-family: "Circular Std Med";
  font-weight: 500;
  margin-bottom: 0.2em;
}
.plan-privacy-dropdown .card-description {
  font-family: "CircularAirPro Light";
  font-weight: 300;
}
.plan-privacy-dropdown input[type=checkbox]:checked + .plan-privacy-card .card-img,
.plan-privacy-dropdown input[type=radio]:checked + .plan-privacy-card .card-img {
  background-color: #4080ff;
}
.plan-privacy-dropdown input[type=checkbox]:checked + .plan-privacy-card .card-img path,
.plan-privacy-dropdown input[type=radio]:checked + .plan-privacy-card .card-img path {
  fill: #fff;
}
.plan-privacy-item {
  padding-left: Min(4vw, 30px);
  padding-right: Min(4vw, 30px);
}
.plan-privacy-item + .plan-privacy-item .plan-privacy-card {
  position: relative;
  padding-top: Min(4vw, 30px);
}
.plan-privacy-item + .plan-privacy-item .plan-privacy-card:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
.plan-privacy-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: Min(2.6666666667vw, 20px);
}
.plan-privacy-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .plan-privacy-dropdown {
    display: none;
  }
}
@media (max-width: 767px) {
  .plan-privacy-dropdown {
    display: block;
  }
  .plan-privacy .group-radio-form-privacy {
    display: none !important;
  }
}
.tooltip-title.tooltip--remove .tooltiptext {
  display: none;
}

/* Timeline view */
.trip {
  --fontMinSize: 14px;
  --fontMed: "Circular Std Med";
  --fontLight: "CircularAirPro Light";
}
@media (max-width: 767px) {
  .trip-photos .see-more {
    bottom: 0.9em;
    font-family: var(--fontMed);
    font-size: Min(Max(2.9333333333vw, var(--fontMinSize)), 22px);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #ffffff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
    background: transparent;
  }
  .trip-place .suggestion + .activity-info {
    padding-top: 0.5em;
  }
  .trip .activity-info {
    font-family: var(--fontLight);
    font-size: Min(Max(3.7333333333vw, var(--fontMinSize)), 28px);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #999999;
    background-color: #fafafa;
    padding: 0 0.8em 0.5em;
    font-size: 13px;
    border-radius: 10px;
  }
  .trip .activity-info b {
    color: #1a1a1a;
    font-family: var(--fontMed);
    font-weight: 500;
  }
}

/* Leave popup */
@media screen and (min-width: 768px) {
  .warning-popup .change .info-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  div.warning-popup div.changes {
    max-height: 30vh;
  }

  div.warning-popup div.changes div.change {
    height: auto;
  }

  .plan-privacy-item + .plan-privacy-item .plan-privacy-card {
    position: relative;
    padding-top: Min(2vw, 30px);
}

  .plan-privacy-dropdown .dropdown-menu {
    grid-gap: Min(2vw, 30px);
    padding-top: Min(3vw, 30px);
    padding-bottom: Min(3vw, 30px);
    border-radius: 4px;
    left: -5px!important;
  }
  .plan-privacy-dropdown .text {
    font-size: 16px;
    padding-bottom: 2px;
    margin-left: 5px;
  }

  .modal.vertical-center.warning-popup .close {
    top: 30px;
    right: 30px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23'%3E%3Cpath fill='%23B3B3B3' fill-rule='evenodd' d='M21.81 20.189l-2.122 2.121-8.689-8.689L2.31 22.31.189 20.189 8.878 11.5.189 2.81 2.31.689l8.689 8.689L19.688.689 21.81 2.81l-8.689 8.69 8.689 8.689z'/%3E%3C/svg%3E");
  }

  div.warning-popup div.changes div.change div.info div.details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }

  div.warning-popup div.changes div.change div.info div.details div.duration {
    margin-top: 0;
  }

  .warning-popup .change {
    --baseFontSizeUnit: 28;
  }
  .warning-popup .change .info {
    display: none;
  }
  .warning-popup .change .info-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: calc((16 / var(--baseFontSizeUnit)) * 1em);
  }
  .warning-popup .change .details-item {
    max-width: 33%;
    position: relative;
    font-family: "Circular Std Med" !important;
    font-weight: 500 !important;
  }
  .warning-popup .change .details-item > span {
    max-width: 100%;
    font-family: inherit !important;
    font-weight: inherit !important;
  }
  .warning-popup .change .details-item + .details-item {
    margin-left: min(5vw, 30px) !important;
  }
  .warning-popup .change .details-item + .details-item:before {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    content: "";
    top: 50%;
    left: max(-3vw, -18px);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #cccccc;
    background-color: #cccccc;
    border-radius: 100%;
  }
  .warning-popup .change .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: calc((11 / var(--baseFontSizeUnit)) * 1em);
    font-family: "CircularAirPro-Light";
    font-size: 14px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .warning-popup .change .location-label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-size: calc((18 / var(--baseFontSizeUnit)) * 1em);
    color: #4d4d4d;
    padding: calc((5 / var(--baseFontSizeUnit)) * 1em) calc((12 / var(--baseFontSizeUnit)) * 1em);
    border-radius: calc((10 / var(--baseFontSizeUnit)) * 1em);
    background-color: #cccccc;
  }
}