div#modal-share_popup div.modal-dialog {
    max-width: 655px;
}

div#modal-share_popup div.comment {
    display: flex;
    align-items: center;
}

div#modal-share_popup div.comment div.img {
    width: 48px;
    height: 48px;
}

div#modal-share_popup div.comment div.img img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

div#modal-share_popup div.comment input {
    margin-left: 5px;
    padding: 6px;
}

div#modal-share_popup div.shared-content {
    margin-top: 16px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: none;
}

div#modal-share_popup div.shared-content div.seporator {
    font-size: 10px;
    color: #cccccc;
    margin: 0 10px;
    font-family: CircularAirPro;
    font-weight: 300;
}

/************ plan ************/

div#modal-share_popup div.shared-content div.plan-description {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px #e6e6e6;
    padding: 0px 12px;
    font-family: CircularAirPro;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

div#modal-share_popup div.shared-content div.plan-description div {
    height: 100%;
    display: flex;
    align-items: center;
}

div#modal-share_popup div.shared-content div.plan-description div.author {
    color: #999999;
}

div#modal-share_popup div.shared-content div.plan-description div.author img {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

div#modal-share_popup div.shared-content div.plan-description div.author a {
    font-family: CircularStd;
    font-weight: normal;
    color: #4080ff;
    margin-left: 4px;
}

div#modal-share_popup div.shared-content div.plan-name {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

div#modal-share_popup div.shared-content div.plan-name a {
    font-family: CircularStd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4080ff;
}

div#modal-share_popup div.shared-content div.plan-map img {
    width: 100%;
}

div#modal-share_popup div.shared-content div.plan-countries {
    height: 68px;
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
}

div#modal-share_popup div.shared-content div.plan-countries div.plan-country {
    display: flex;
    align-items: center;
    width: 198px;
    min-width: 198px;
    outline: solid 1px #e6e6e6;
    margin-right: 10px;
    max-height: 68px;
}

div#modal-share_popup div.shared-content div.plan-countries div.plan-country.active {
    outline: solid 1px #4080ff;
}

div#modal-share_popup div.shared-content div.plan-countries div.plan-country div.flag img {
    height: 68px;
    width: 68px;
    object-fit: cover;
}

div#modal-share_popup div.shared-content div.plan-countries div.plan-country div.desc {
    font-family: CircularStd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #1a1a1a;
    margin-left: 12px;
}

div#modal-share_popup div.shared-content div.plan-countries div.plan-country div.desc div.destinations {
    font-family: CircularAirPro;
    font-weight: 300;
    color: #4d4d4d;
    margin-top: 3px;
}

div#modal-share_popup div.shared-content div.swiper-container div.swiper-countries-control {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    width: 100%;
}

div#modal-share_popup div.shared-content div.swiper-container div.swiper-countries-control div {
    border: 3px solid #ffffff;
    display: block;
    z-index: 999;
    opacity: 1;
    transform: rotate(45deg);
    top: 47px;
    border-color: #666666;
    position: absolute;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

div#modal-share_popup div.shared-content div.swiper-container div.swiper-countries-control div.swiper-button-disabled {
    display: none;
}

div#modal-share_popup div.shared-content div.swiper-container div.swiper-countries-control div.swiper-prev {
    left: 9px;
    border-right: none;
    border-top: none;
}

div#modal-share_popup div.shared-content div.swiper-container div.swiper-countries-control div.swiper-next {
    right: 9px;
    border-left: none;
    border-bottom: none;
}

/***** Media ******/

div#modal-share_popup div.shared-content div.media {
    max-height: 500px;
    overflow: hidden;
}

div#modal-share_popup div.shared-content div.media > * {
    width: 100%;
}


/**** Footer *****/

div#modal-share_popup div.footer {
    height: 60px;
    background-color: #f7f7f7;
    box-shadow: inset 0px 1px 0 0 #e6e6e6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div#modal-share_popup div.footer button.share {
    border-radius: 8px;
    background-color: #4080ff;
    width: 83px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CircularStd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 15px;
}

div#modal-share_popup div.footer {
    padding-left: 20px
}

div#modal-share_popup div.footer div.share-footer-modal__icons a {
    cursor: pointer;
}

button.plan-share-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 2;
}

button.plan-share-button i {
    margin-left: 3px;
}

div.trip-place-reaction.share {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    div#modal-share_popup div.shared-content div.plan-description {
        height: auto;
        padding: 0.5em;
        font-size: 2.7vw;
        flex-direction: row;
        justify-content: flex-start;
    }
    div#modal-share_popup div.shared-content div.plan-description div.author {
        margin-bottom: 0;
    }
    div#modal-share_popup div.shared-content div.plan-description div.author + .seporator {
        display: flex;
        margin: 0 0.5em;
    }
}
