@font-face {
  font-family: 'travooo';
  src:  url('../fonts/travooo.eot?');
  src:  url('../fonts/travooo.eot?l4b8fz#iefix') format('embedded-opentype'),
    url('../fonts/travooo.ttf?') format('truetype'),
    url('../fonts/travooo.woff?') format('woff'),
    url('../fonts/travooo.svg?') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="trav-"], [class*=" trav-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'travooo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trav-post-icon:before {
  content: "\e99c";
}
.trav-report-icon:before {
  content: "\e99d";
}
.trav-user-icon:before {
  content: "\e99e";
}
.trav-video-icon:before {
  content: "\e99f";
}
.trav-about-city-icon:before {
  content: "\e900";
}
.trav-about-icon:before {
  content: "\e901";
}
.trav-angle-down:before {
  content: "\e902";
}
.trav-angle-left:before {
  content: "\e903";
}
.trav-angle-right:before {
  content: "\e904";
}
.trav-angle-up:before {
  content: "\e905";
}
.trav-average-flight-price-icon:before {
  content: "\e906";
}
.trav-bars:before {
  content: "\e907";
}
.trav-bell-icon:before {
  content: "\e908";
}
.trav-bookmark-icon:before {
  content: "\e909";
}
.trav-budget-icon:before {
  content: "\e90a";
}
.trav-camera:before {
  content: "\e90b";
}
.trav-car-icon:before {
  content: "\e90c";
}
.trav-caret-down:before {
  content: "\e90d";
}
.trav-chevron-up:before {
  content: "\e90e";
}
.trav-circle-question-icon:before {
  content: "\e90f";
}
.trav-circle-star-icon:before {
  content: "\e910";
}
.trav-clock-icon:before {
  content: "\e911";
}
.trav-close-icon:before {
  content: "\e912";
}
.trav-comment-icon:before {
  content: "\e913";
}
.trav-comment-plus-icon:before {
  content: "\e914";
}
.trav-day-duration-icon:before {
  content: "\e915";
}
.trav-distance-icon:before {
  content: "\e916";
}
.trav-emergency-number-icon:before {
  content: "\e917";
}
.trav-event-icon:before {
  content: "\e918";
}
.trav-event-program-icon:before {
  content: "\e919";
}
.trav-flag-icon-o:before {
  content: "\e91a";
}
.trav-flag-icon:before {
  content: "\e91b";
}
.trav-fullscreen-icon:before {
  content: "\e91c";
}
.trav-gallery-icon:before {
  content: "\e91d";
}
.trav-gallery-o-icon:before {
  content: "\e91e";
}
.trav-get-direction-icon:before {
  content: "\e91f";
}
.trav-half-star-icon:before {
  content: "\e920";
}
.trav-heart-fill-icon:before {
  content: "\e921";
}
.trav-heart-icon:before {
  content: "\e922";
}
.trav-home-icon:before {
  content: "\e923";
}
.trav-light-icon:before {
  content: "\e924";
}
.trav-long-arrow-left:before {
  content: "\e925";
}
.trav-long-arrow-right:before {
  content: "\e926";
}
.trav-map-marker-icon:before {
  content: "\e927";
}
.trav-national-holiday-icon:before {
  content: "\e928";
}
.trav-ok-icon:before {
  content: "\e929";
}
.trav-open-video-in-window:before {
  content: "\e92a";
}
.trav-photos-icon:before {
  content: "\e92b";
}
.trav-plane-icon:before {
  content: "\e92c";
}
.trav-popularity-icon:before {
  content: "\e92d";
}
.trav-public-event-icon:before {
  content: "\e92e";
}
.trav-QA-icon:before {
  content: "\e92f";
}
.trav-review-icon:before {
  content: "\e930";
}
.trav-safety-big-icon:before {
  content: "\e931";
}
.trav-safety-icon:before {
  content: "\e932";
}
.trav-search-icon:before {
  content: "\e933";
}
.trav-set-location-icon:before {
  content: "\e934";
}
.trav-share-fill-icon:before {
  content: "\e935";
}
.trav-share-icon:before {
  content: "\e936";
}
.trav-socket-plugin-icon:before {
  content: "\e937";
}
.trav-star-circle-icon:before {
  content: "\e938";
}
.trav-star-icon:before {
  content: "\e939";
}
.trav-story-icon:before {
  content: "\e93a";
}
.trav-subway-icon:before {
  content: "\e93b";
}
.trav-talk-icon:before {
  content: "\e93c";
}
.trav-today-icon:before {
  content: "\e93d";
}
.trav-travel-mates-icon:before {
  content: "\e93e";
}
.trav-trending-destination-icon:before {
  content: "\e93f";
}
.trav-trending-icon:before {
  content: "\e940";
}
.trav-trip-plans-icon:before {
  content: "\e941";
}
.trav-phone:before {
  content: "\e942";
}
.trav-user-plus-icon:before {
  content: "\e943";
}
.trav-user-rating-icon:before {
  content: "\e944";
}
.trav-view-plan-icon:before {
  content: "\e945";
}
.trav-visa-requirement-icon:before {
  content: "\e946";
}
.trav-location:before {
  content: "\e947";
}
.trav-walk-icon:before {
  content: "\e948";
}
.trav-weather-cloud-icon:before {
  content: "\e949";
}
.trav-weather-icon:before {
  content: "\e94a";
}
.trav-map:before {
  content: "\e94b";
}
.trav-map-o:before {
  content: "\e94c";
}
.trav-pencil:before {
  content: "\e94d";
}
.trav-ellipsis-h:before {
  content: "\e94e";
}
.trav-shop-cart-icon:before {
  content: "\e94f";
}
.trav-railway-icon:before {
  content: "\e950";
}
.trav-add-place-icon:before {
  content: "\e951";
}
.trav-broken-building-icon:before {
  content: "\e952";
}
.trav-building-icon:before {
  content: "\e953";
}
.trav-bus-icon:before {
  content: "\e954";
}
.trav-credit-card-icon:before {
  content: "\e955";
}
.trav-cutlery-icon:before {
  content: "\e956";
}
.trav-friends-icon:before {
  content: "\e957";
}
.trav-heart-beat-icon:before {
  content: "\e958";
}
.trav-hot-cup-icon:before {
  content: "\e959";
}
.trav-library-icon:before {
  content: "\e95a";
}
.trav-lock-icon:before {
  content: "\e95b";
}
.trav-move-new-icon:before {
  content: "\e95c";
}
.trav-movie-arrow-icon:before {
  content: "\e95d";
}
.trav-profile-icon:before {
  content: "\e95e";
}
.trav-spruce-tree-icon:before {
  content: "\e95f";
}
.trav-travel-history-icon:before {
  content: "\e960";
}
.trav-p-icon:before {
  content: "\e961";
}
.trav-angle-plane-icon:before {
  content: "\e962";
}
.trav-ellipsis-v-icon:before {
  content: "\e963";
}
.trav-cycle-icon:before {
  content: "\e964";
}
.trav-ship-icon:before {
  content: "\e965";
}
.trav-walk-icon-2:before {
  content: "\e966";
}
.trav-check-circle-icon:before {
  content: "\e967";
}
.trav-comment-dots-icon:before {
  content: "\e968";
}
.trav-comment-question-icon:before {
  content: "\e969";
}
.trav-message-edit-icon:before {
  content: "\e96a";
}
.trav-trip-plan-loc-icon:before {
  content: "\e96b";
}
.trav-link-out-icon:before {
  content: "\e96c";
}
.trav-loading-icon:before {
  content: "\e96d";
}
.trav-reply-icon:before {
  content: "\e96e";
}
.trav-visa-embassy-icon:before {
  content: "\e96f";
}
.trav-ask-icon:before {
  content: "\e970";
}
.trav-trip-plans-p-icon:before {
  content: "\e971";
}
.trav-trip-plans-share-icon:before {
  content: "\e972";
}
.trav-flights-icon:before {
  content: "\e973";
}
.trav-cities-town-icon:before {
  content: "\e974";
}
.trav-emergency-highway-icon:before {
  content: "\e975";
}
.trav-emergency-number-light-icon:before {
  content: "\e976";
}
.trav-circle-phone-icon:before {
  content: "\e977";
}
.trav-activity-icon:before {
  content: "\e978";
}
.trav-photos-menu-icon:before {
  content: "\e979";
}
.trav-videos-icon:before {
  content: "\e97a";
}
.trav-input-video-icon:before {
  content: "\e97b";
}
.trav-input-h-icon:before {
  content: "\e97c";
}
.trav-input-image-icon:before {
  content: "\e97d";
}
.trav-input-map-around-icon:before {
  content: "\e97e";
}
.trav-input-cutlery-icon:before {
  content: "\e97f";
}
.trav-input-map-star-icon:before {
  content: "\e980";
}
.trav-internet-icon:before {
  content: "\e981";
}
.trav-caution-icon:before {
  content: "\e982";
}
.trav-atms-icon:before {
  content: "\e983";
}
.trav-etiquette-icon:before {
  content: "\e984";
}
.trav-health-hand-icon:before {
  content: "\e985";
}
.trav-hotels-icon:before {
  content: "\e986";
}
.trav-sockets-icon:before {
  content: "\e987";
}
.trav-trips-tips-icon:before {
  content: "\e988";
}
.trav-add-trip-icon:before {
  content: "\e989";
}
.trav-point-flag-icon:before {
  content: "\e98a";
}
.trav-enlarge2:before {
  content: "\e98b";
}
.trav-filter-icon:before {
  content: "\e98c";
}
.trav-circle-request-icon:before {
  content: "\e98d";
}
.trav-invert-icon:before {
  content: "\e98e";
}
.trav-empty-star-icon:before {
  content: "\e98f";
}
.trav-newsfeed-icon:before {
  content: "\e990";
}
.trav-notifications-icon:before {
  content: "\e991";
}
.trav-search-lg-icon:before {
  content: "\e992";
}
.trav-starting-soon-icon:before {
  content: "\e993";
}
.trav-cog:before {
  content: "\e994";
}
.trav-newest-icon:before {
  content: "\e995";
}
.trav-full-fullscreen-icon:before {
  content: "\e996";
}
.trav-create-album-icon:before {
  content: "\e997";
}
.trav-visited-icon:before {
  content: "\e998";
}
.trav-interests-icon:before {
  content: "\e999";
}
.trav-badges-icon:before {
  content: "\e99a";
}
.trav-airplane:before {
  content: "\e9af";
}
.trav-earth:before {
  content: "\e9ca";
}
.trav-link:before {
  content: "\e9cb";
}
.trav-attachment:before {
  content: "\e9cd";
}
.trav-smile-toggler:before {
  content: "\e9e1";
}
.trav-radio-checked2:before {
  content: "\ea55";
}
.trav-filter:before {
  content: "\ea5b";
}
.trav-camera2:before {
  content: "\e99b";
}